.detail-properties

	.detail-properties__more(data-toggle-class)
	.detail-properties__inner
		.detail-properties__title Общие характеристики
		
		.detail-properties__table
			.detail-properties__field 
				.detail-properties__name Вид
				.detail-properties__value индукционная
			.detail-properties__field 
				.detail-properties__name Установка
				.detail-properties__value независимая
			.detail-properties__field 
				.detail-properties__name Способ подключения
				.detail-properties__value электрическая
			.detail-properties__field 
				.detail-properties__name Высота (см)
				.detail-properties__value 6.4
			.detail-properties__field 
				.detail-properties__name Ширина (см)
				.detail-properties__value 65
			.detail-properties__field 
				.detail-properties__name Глубина (см)
				.detail-properties__value 51.5
			.detail-properties__field 
				.detail-properties__name Габариты (ВхШхГ), см
				.detail-properties__value 6.4x65x51.5
			.detail-properties__field 
				.detail-properties__name Ширина встраивания (см)
				.detail-properties__value 56
			.detail-properties__field 
				.detail-properties__name Глубина встраивания (см) 49
				.detail-properties__value 49
			.detail-properties__field 
				.detail-properties__name Размеры ниши для встраивания (Ш х Г), см
				.detail-properties__value 56x49
			.detail-properties__field 
				.detail-properties__name Габариты в упаковке (ВхШхГ), см		
				.detail-properties__value 14x75x60
				
		
		.detail-properties__title Дизайн
		
		.detail-properties__table
			.detail-properties__field 
				.detail-properties__name Дизайн
				.detail-properties__value horiZone Play
			.detail-properties__field 
				.detail-properties__name Цвет черный
				.detail-properties__value черный
			.detail-properties__field 
				.detail-properties__name Обработка края
				.detail-properties__value Профиль из нержавеющей стали
				

		.detail-properties__title Дополнительные характеристики
		
		.detail-properties__table
			.detail-properties__field 
				.detail-properties__name Серийная комплектация
				.detail-properties__value
					| Деревянная разделочная доска #[br]
					| 2 зоны horiZone (каждую можно разделить на 2 независимые конфорки) #[br]
					| 4 сенсора программируемого прямого доступа для каждой зоны #[br]
					| 4 независимых таймера #[br]
					| с настройками от 1 до 99 минут
			.detail-properties__field 
				.detail-properties__name Дополнительные параметры
				.detail-properties__value
					| 10 функций безопасности #[br]
					| Boil, Elapsed Time, Recall, Switch, Clean Lock, Grill/Plancha (гриль и планча приобретаются отдельно) #[br]
					| Ограничитель температуры #[br]

	.detail-properties__info * Вся информация о товаре, характеристики и описание не являются публичной офертой. Производители техники могут без уведомления менять комплектацию, дизайн и функционал моделей. Уточняйте данные о товаре у консультантов.
