mixin catalogItem(data)
	
	- var name = data.name || 'Холодильник Smeg FAB28LUJ1'
	- var src = data.src || 'images/catalog-item__pic.jpg'
	- var price = data.price || '1 850 ' 

	.catalog-item
 	
		.catalog-item__photo
			a.catalog-item__link(href='#')
				img.catalog-item__pic.lazyload(data-src='' + src + '', alt='')
		.catalog-item__title(data-mh='catalog-thumb-name')
			a.catalog-item__titlelink(href='#')= name
		.catalog-item__footer
			.catalog-item__col
				.catalog-item__price
					=price 
					span руб.
			.catalog-item__col
				a.catalog-item__buy(href='#')
