.filter-slider {
	line-height: 1;
	max-width: 230px;

	&__header {
		margin-bottom: 30px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__input {
		width: 96px;
		height: 32px;
		box-shadow: inset 0 2px 5px rgba(102, 113, 123, 0.1), inset 0 0 0 1px rgba(102, 113, 123, 0.25);
		border-radius: 5px;
		border: 1px solid rgb(215, 215, 215);
		background-color: rgb(255, 255, 255);
		padding: 0 16px;
		color: rgb(0, 0, 0);
		font-size: 14px;
		font-weight: 400;
		border: none;
	}

	&__sep {
		background: rgb(88, 88, 90);
		height: 1px;
		width: 15px;
	}

	&__slider {
		height: 2px;
		background-color: rgb(88, 88, 90);
		border: none;

		.noUi-handle {
			width: 16px;
			height: 16px;
			background-color: #ffffff;
			border-radius: 50%;
			top: -8px;
			right: -8px !important;
			transition: transform 400ms;

			&:after,
			&:before {
				display: none;
			}

			&:after {
				width: 8px;
				height: 8px;
				border-radius: 50%;
				background: #dd0016;
				left: 50%;
				top: 50%;
				position: absolute;
				transform: translate(-50%, -50%);
				content: '';
				display: block;
			}

			&:hover {
				transform: scale(1.5);
			}
		}

		.noUi-connect {
			background: #dd0016;
		}
	}

	@media (--phone) {
		max-width: 100%;
		margin-bottom: 40px;

		&__header {
			margin-bottom: 18px;
		}

		&__input {
			width: 120px;
		}
	}
}