mixin filterSlider(data)

	.filter-slider
		.filter-slider__header
			input.filter-slider__input.js-filter-slider__input(type="text", value="12000")
			.filter-slider__sep
			input.filter-slider__input.js-filter-slider__input(type="text", value="132000")
		.filter-slider__slider(data-nouislider, data-min="0", data-max="200000", data-value-start="12000", data-value-end="132000")
