mixin bannerCatalog(data)

	- var src = data.src || 'images/banner-catalog__pic.jpg'
	- var src768 = data.src768 || 'images/banner-catalog__pic768w.jpg'
	- var titleImg = data.titleImg || 'images/banner-catalog__title.svg'	
	- var text = data.text || '20 лет в России'	
	- var info = data.info || 'Выгода<br> до <b>50 000 рублей</b>'	

	.banner-catalog
		a.banner-catalog__link(href="#")
			img.banner-catalog__pic.lazyload(data-srcset="" + src768 + " 768w, " + src + " 4000w", data-src="" + src + "", alt="")