.banner-catalog {
	position: relative;
	margin-bottom: 14px;
	border-radius: 5px;
	overflow: hidden;

	&__pic {
		display: block;
		max-width: 100%;
		width: 100%;
	}

	&__desc {
		position: absolute;
		top: 52px;
		bottom: 52px;
		right: 44px;
		width: 386px;
		border-radius: 8px;
		padding: 40px 44px;
		background-color: rgba(0, 0, 0, 0.6);
	}

	&__title {
		margin-bottom: 35px;

		img {
			display: block;
		}

	}

	&__text {
		color: rgb(255, 255, 255);
		font-size: 32px;
		font-weight: 300;
		margin-bottom: 16px;
	}

	&__info {
		color: rgb(255, 255, 255);
		font-size: 24px;
		font-weight: 300;
		line-height: 30px;

		b {
			font-weight: 700;
		}

		&:after {
			content: '';
			display: inline-block;
			margin-left: 16px;
			@include css-triangle(right, var(--cherry), 20px, 14px);
		}

	}

	&__link {
		text-decoration: none;
		display: block;
	}

	@media (--phone) {
		margin: 0 -16px 16px;
		border-radius: 0;
	}

}