mixin reviewsList(data)

	- var name = data.name || 'Капустина Екатерина'
	- var title = data.title || 'De Dietrich DPI7572G'
	- var text = data.text || 'отличная навигация, очень подробное, информативное меню, работает тихо и отстирывает отменно! нагромождать квартирую стиральной а потом еще и сушильной машину не хотела. О стирально-сушильной машине задумывалась давно, пугали отзывы о том, что вещи после сушки пересушены и их невозможно прогладить. По тем же отзывав выбрала ряд брендов по ним проконсультировалась у менеджеров магазина. Остановилась на этом производителе. Белье стираю с капсулами - все прекрасно вымывается'
	- var photo = data.photo || false
	- var src = data.src || 'images/news-list__pic1.png'

	.reviews-list__row
		if photo
			.reviews-list__photo
				a.reviews-list__link(href="#")
					img.reviews-list__pic.lazyload(data-src="" + src + "", alt="")
		.reviews-list__desc
			.reviews-list__header
				.reviews-list__col
					.reviews-list__name= name
					.reviews-list__ratings
						.ratings.ratings_output
							.ratings__section
								.ratings__start
								.ratings__click(style='width: 80%;')
							.ratings__total 4
					.reviews-list__title
						a.reviews-list__titlelink(href="#")= title
				.reviews-list__col
					.reviews-list__date 26.10.2018
			.reviews-list__text= text
