.logo {
	position: absolute;
	left: 23px;
	top: 24px;

	&__link {
		text-decoration: none;
		display: block;
		position: relative;
	}

	&__pic {
		display: block;
		max-width: 100%;

		img {
			display: block;
		}
	}
	@media (--phone) {
		margin: 0;
		left: 56px;
		top: 50%;
		transform: translate(0, -50%);

		&:before {
			display: none;
		}
	}
}