.benefits-text
    .row.aling-items-stretch
        .col-sm-6
            .benefits-text__item
                .benefits-text__photo
                    img.benefits-text__pic.lazyload(data-src="images/benefits-text__pic1.svg")
                .benefits-text__name Наличный расчет
                .benefits-text__text Оплата наличными при доставке.
        .col-sm-6
            .benefits-text__item
                .benefits-text__photo
                    img.benefits-text__pic.lazyload(data-src="images/benefits-text__pic2.svg")
                .benefits-text__name Банковские карты
                .benefits-text__text Оплата банковской картой при доставке или онлайн. Мы принимаем карты: Visa, Visa Electron, Mastercard, Mastercard Electronic, Maestro.* Если вы хотите оплатить товар кредитной картой, необходимо предупредить об этом менеджера.
        .col-sm-6
            .benefits-text__item
                .benefits-text__photo
                    img.benefits-text__pic.lazyload(data-src="images/benefits-text__pic3.svg")
                .benefits-text__name Электронные деньги.
                .benefits-text__text Вы можете оплатить покупку электронным кошельком: Webmoney, Яндекс. Деньги и другими видами электронных валют.
        .col-sm-6
            .benefits-text__item
                .benefits-text__photo
                    img.benefits-text__pic.lazyload(data-src="images/benefits-text__pic4.svg")
                .benefits-text__name Предоплата в бутике Hausdorf
                .benefits-text__text наличными или банковской картой.
        .col-sm-6
            .benefits-text__item
                .benefits-text__photo
                    img.benefits-text__pic.lazyload(data-src="images/benefits-text__pic5.svg")
                .benefits-text__name Безналичный расчет
                .benefits-text__text Безналичный расчет возможен как с юридическими, так и с физическими лицами. Мы высылаем счет по электронной почте или по факсу. Товар доставляется в удобное вам время после поступления денег на наш расчетный счет. Получатель от юридического лица обязан иметь оригинал доверенности на получение товара и печать организации.