include /utilities/phone-info/phone-info

.brand-list-photo
	.brand-list-photo__title Контактные центры по брендам:
	.row.align-items-stretch
		.col-sm-3
			.brand-list-photo__item
				.brand-list-photo__photo
					img.brand-list-photo__pic.lazyload(data-src="images/brand-list1.png", alt="")
				.brand-list-photo__phone
					+phoneInfo(['+7 800 200 29 61'])
		.col-sm-3
			.brand-list-photo__item
				.brand-list-photo__photo
					img.brand-list-photo__pic.lazyload(data-src="images/brand-list2.png", alt="")
				.brand-list-photo__phone
					+phoneInfo(['+7 800 200 29 62'])
		.col-sm-3
			.brand-list-photo__item
				.brand-list-photo__photo
					img.brand-list-photo__pic.lazyload(data-src="images/brand-list3.png", alt="")
				.brand-list-photo__phone
					+phoneInfo(['+7 800 100 42 52'])
		.col-sm-3
			.brand-list-photo__item
				.brand-list-photo__photo
					img.brand-list-photo__pic.lazyload(data-src="images/brand-list4.png", alt="")
				.brand-list-photo__phone
					+phoneInfo(['+7 800 707 07 72 '])
