.pagination
	.pagination__header
		a.pagination__header-btn(href="#") Загрузить еще
	.pagination__list
		a.pagination__prev.pagination__disable(href='#')
		span.pagination__item.active 1
		a.pagination__item(href='#') 2
		a.pagination__item(href='#') 3
		a.pagination__more(href='#') ...
		a.pagination__item(href='#') 12
		a.pagination__next(href='#')
