.menu-brand {
	&__list {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__item {}

	&__link {
		width: 130px;
		height: 32px;
		border-radius: 5px;
		background-image: linear-gradient(to top, #a90011 0%, #dd0016 100%);
		display: flex;
		align-items: center;
		justify-content: center;
		line-height: 1;
		color: #ffffff;
		font-size: 15px;
		font-weight: 500;
		position: relative;
	}

	&__item_all &__link {
		width: 134px;
		height: 32px;
		border-radius: 5px;
		background-image: linear-gradient(to top, #a2a2a2 0%, #c8c8c8 100%);
		display: flex;
		align-items: center;
		justify-content: center;
		line-height: 1;
		color: #424242;
		font-size: 12px;
		font-weight: 500;

		&:after {
			content: '';
			position: absolute;
			right: 6px;
			top: 50%;
			margin-top: -3px;
			@include css-triangle(bottom, #878788, 7px, 9px);
		}
	}

	@media (--phone) {
		display: none;

		.menu-mobile-change & {
			display: block;
		}

		&__list {
			flex-direction: column;
		}

		&__item {
			width: 100%;
			margin-bottom: 4px;

			&_all {}
		}

		&__link {
			width: 100% !important;
		}

	}
}