- var arr = require('./menu-brand.json')

.menu-brand
	ul.menu-brand__list
		each val, i in arr
			if i == 6
				li.menu-brand__item.menu-brand__item_all
					a.menu-brand__link(href="#", menu-dropdown, data-body-class="menu-brand-show")= val.title
			else 
				li.menu-brand__item
					a.menu-brand__link(href="#")= val.title
