.brand-list {
	&__title {
		height: 50px;
	}

	&__titlelink {}

	&__pic {
		display: block;
	}

	&__item {}

	&__link {
		color: #000000;
		font-size: 11px;
		font-weight: 400;
		line-height: 17px;
		text-decoration: none;
	}
}