include /footer/footer-info/footer-info  

footer.footer
	.footer__top
		.footer__inner
			.row
				.col-sm-6
					.footer__copyright &copy; 2009-2018 Бутик бытовой техники Hausdorf
					.footer__phones
						a(href='tel:+74956029621') +7 (495) 602-96-21
						a(href='tel:+78003331052') +7 (800) 333-10-52
					.footer__emails
						a(href='mailto:shop@hausdorf.ru') shop@hausdorf.ru
						a(href='mailto:client@hausdorf.ru') client@hausdorf.ru
				.col-sm-6 
					include /menu/menu-footer/menu-footer
	.footer__bottom
		.footer__inner
			.footer__row.row.align-items-center
				.col-sm-4.order-2.order-sm-1
					a(class='footer__boss', href='#') Пожаловаться руководству
				.col-sm-3.order-3.order-sm-2
					a(class='footer__info', href='#') Политика конфиденциальности
				.col-sm-2.order-4.order-sm-3
					include /footer/footer-icons/footer-icons 
					+footerIcons({
						arr: [
							'images/visa.svg',
							'images/mastercard.svg'
						]
					})
				.col-sm-3.order-1.order-sm-4
					+footerIcons({
						mod: ' footer-icons_social',
						arr: [
							'images/vk.svg',
							'images/facebook.svg',
							'images/instagram.svg',
							'images/ok.svg'
						]
					})