.compare-header
	.compare-header__section
		a.compare-header__link.active(href="#") Стиральные машины  #[span 5]
			span.compare-header__delete.js-compare-header__delete
		a.compare-header__link(href="#") Холодильники #[span 2]
			span.compare-header__delete.js-compare-header__delete
		a.compare-header__link(href="#") Вытяжки #[span 5]
			span.compare-header__delete.js-compare-header__delete
		a.compare-header__link(href="#") Варочные панели #[span 13]
			span.compare-header__delete.js-compare-header__delete
