.compare-header {
	width: 1013px;
	height: 40px;
	border-radius: 20px;
	background-color: #ffffff;
	margin-bottom: 24px;

	&__section {
		display: flex;
		align-items: center;
	}

	&__link {
		height: 40px;
		border-radius: 20px;
		padding: 0 54px 0 24px;
		display: flex;
		align-items: center;
		color: #58585a;
		font-size: 14px;
		font-weight: 400;
		position: relative;

		span {
			color: #dd0016;
			font-weight: 700;
			margin-left: 8px;
		}

		&.active,
		&:hover {
			background-image: linear-gradient(to top, #8b8b8b 0%, #b8b8b8 100%);
			color: #fff;
		}
	}

	&__delete {
		position: absolute;
		opacity: 0;
		width: 54px;
		right: 0;
		top: 0;
		height: 100%;
		background: url("../images/compare-header__delete.svg") no-repeat center;
		transform: opacity 400ms;
	}

	&__link.active &__delete,
	&__link:hover &__delete {
		opacity: 1;
	}
}