.detail-complect
	.detail-complect__item
		label.detail-complect__label
			input.detail-complect__input(type="radio", checked)
			img.detail-complect__pic.lazyload(data-src="images/detail-complect__pic.jpg")
	each i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
		.detail-complect__item
			label.detail-complect__label
				input.detail-complect__input(type="radio")
				img.detail-complect__pic.lazyload(data-src="images/detail-complect__pic.jpg")
