.detail-complect {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -4px;

	&__item {
		padding: 0 4px 8px;
	}

	&__label {
		position: relative;
		margin: 0;
		display: block;
	}

	&__input {
		opacity: 0;
		left: 0;
		top: 0;
		position: absolute;
	}

	&__pic {
		display: block;
		border: 14px solid #fff;
		border-radius: 2px;
	}

	&__input:checked+&__pic {
		border: 14px solid rgba(0, 0, 0, 0.1);
	}

	@media (--phone) {
		flex-wrap: nowrap;
		overflow-x: auto;
		@include scrollCss();
		margin-bottom: 8px;

		&__pic {
			border-width: 8px;
		}

		&__input:checked+&__pic {
			border: 8px solid rgba(0, 0, 0, 0.1);
		}
	}
}