.detail-text
	.detail-text__title Эстетика и стиль!
	.detail-text__section
		p Мойка ZIA 40S — это совершенство линий и качество исполнения. Модель отличает надежность, устойчивость к механическим и температурным воздействиям. Композит не впитывает краску и легко очищается от загрязнений. 
		ul
			li Эргономичное крыло
			li Компактный размер
			li Оборачиваемая мойка
