.about-banner
	.row
		.col-12
			.about-banner__item
				img.about-banner__pic.lazyload(data-srcset="images/about-banner__pic1_768w.png 768w, images/about-banner__pic1.jpg 4000w", data-src='images/about-banner__pic1.jpg', alt='')
				span.about-banner__desc
					.row
						.col-sm-8
							span.about-banner__title Индивидуальные условия для собственников недвижимости #[br] в ЖК и посёлках партнёров Hausdorf
						.col-sm-4
							div.about-banner__buttons
								a.about-banner__more(href="#") Узнать подробнее
					.about-banner__line
					
					.benefits
						.row
							.col-6.col-sm-3
							
								.benefits__item
									.benefits__icon
										img.benefits__pic.lazyload(data-src="images/benefits__pic1.svg")
									.benefits__text Специальные #[br] условия
									
							.col-6.col-sm-3
							
								.benefits__item
									.benefits__icon
										img.benefits__pic.lazyload(data-src="images/benefits__pic2.svg")
									.benefits__text Бесплатная #[br] доставка
									
							.col-6.col-sm-3
							
								.benefits__item
									.benefits__icon
										img.benefits__pic.lazyload(data-src="images/benefits__pic3.svg")
									.benefits__text Бесплатная #[br] установка
									
							.col-6.col-sm-3
							
								.benefits__item
									.benefits__icon
										img.benefits__pic.lazyload(data-src="images/benefits__pic4.svg")
									.benefits__text Персональный #[br] менеджер
				
					
		.col-12
			.about-banner__item
				img.about-banner__pic.lazyload(data-srcset="images/about-banner__pic2_768w.png 768w, images/about-banner__pic2.jpg 4000w", data-src='images/about-banner__pic2.jpg', alt='')
				span.about-banner__desc
					span.about-banner__title Поддержим юных футболистов вместе
					span.about-banner__text Бутик Hausdorf содействует развитию детского спорта в России. Поддерживаем детскую футбольную лигу, а также детский ФК "Фортуна".
					a.about-banner__more(href="#") Узнать подробнее
		.col-sm-6
			.about-banner__item
				img.about-banner__pic.lazyload(data-srcset="images/about-banner__pic3_768w.png 768w, images/about-banner__pic3.jpg 4000w", data-src='images/about-banner__pic3.jpg', alt='')
				span.about-banner__footer
					span Выезд консультанта на дом
		.col-sm-6
			.about-banner__item
				img.about-banner__pic.lazyload(data-srcset="images/about-banner__pic4_768w.png 768w, images/about-banner__pic4.jpg 4000w", data-src='images/about-banner__pic4.jpg', alt='')
				span.about-banner__footer
					span Сотрудничество с дизайнерами и архитекторами
