.benefits {
	&_fdc {
		.row {
			margin-left: -16px;
			margin-right: -16px;

			[class*=col-] {
				padding-left: 16px;
				padding-right: 16px;
			}
		}
	}

	&__item {
		display: flex;
		align-items: center;
	}

	&_fdc &__item {
		flex-direction: column;
		align-items: flex-start;
	}

	&__icon {
		min-width: 80px;
	}

	&_fdc &__icon {
		margin-bottom: 24px;
	}

	&__pic {
		display: block;
	}

	&__text {
		color: rgb(255, 255, 255);
		font-size: 16px;
		font-weight: 500;
		line-height: 20px;
	}

	&_fdc &__name {
		color: rgb(255, 255, 255);
		margin-bottom: 16px;
		font-size: 16px;
	}

	&_fdc &__txtsmall {
		color: rgb(255, 255, 255);
		font-size: 13px;
		font-weight: 400;
		line-height: 20px;
	}

	@media (--phone) {

		&__item {
			flex-direction: column;
			margin-bottom: 20px;
		}

		&__icon {
			margin-bottom: 10px;
		}

		&__pic {
			margin: 0 auto;
		}

		&__text {
			text-align: center;
			font-size: 12px;
			line-height: 1.5;
		}

		&_fdc {}

		&_fdc &__item {
			margin-bottom: 16px;
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			align-items: stretch;
		}

		&_fdc &__icon {
			margin: 0 0 8px;
			width: 70px;
			min-width: 0;
			flex-shrink: 0;
		}

		&_fdc &__pic {
			margin: 0;
		}

		&_fdc &__name {
			width: calc(100% - 70px);
			flex-shrink: 0;
			display: flex;
			align-items: center;
			font-size: 12px;
			line-height: 1.4;
			margin-bottom: 8px;
		}

		&_fdc &__txtsmall {
			font-size: 10px;
			line-height: 2;
		}
	}
}