.benefits.benefits_fdc
	.row
		.col-sm-3
		
			.benefits__item
				.benefits__icon
					img.benefits__pic.lazyload(data-src="images/benefits__pic1.svg")
				.benefits__name Специальные условия
				.benefits__txtsmall Собственникам жилья предоставляется дополнительная скидка на широкий ассортимент техники от известных производителей
				
		.col-sm-3
		
			.benefits__item
				.benefits__icon
					img.benefits__pic.lazyload(data-src="images/benefits__pic2.svg")
				.benefits__name Бесплатная доставка
				.benefits__txtsmall Салон Hausdorf осуществляет бесплатную доставку заказанной техники
				
		.col-sm-3
		
			.benefits__item
				.benefits__icon
					img.benefits__pic.lazyload(data-src="images/benefits__pic3.svg")
				.benefits__name Бесплатная установка
				.benefits__txtsmall Наши специалисты оперативно и качественно производят установку техники на готовые коммуникации
				
		.col-sm-3
		
			.benefits__item
				.benefits__icon
					img.benefits__pic.lazyload(data-src="images/benefits__pic4.svg")
				.benefits__name Персональный менеджер
				.benefits__txtsmall Ваш персональный менеджер предложит решения для любых нестандартных ситуаций. От замера и подбора техники до совместной работы с Вашим дизайнером
				
