.benefits
	.row
		.col-sm-3
		
			.benefits__item
				.benefits__icon
					img.benefits__pic.lazyload(data-src="images/benefits__pic1.svg")
				.benefits__text Специальные #[br] условия
				
		.col-sm-3
		
			.benefits__item
				.benefits__icon
					img.benefits__pic.lazyload(data-src="images/benefits__pic2.svg")
				.benefits__text Бесплатная #[br] доставка
				
		.col-sm-3
		
			.benefits__item
				.benefits__icon
					img.benefits__pic.lazyload(data-src="images/benefits__pic3.svg")
				.benefits__text Бесплатная #[br] установка
				
		.col-sm-3
		
			.benefits__item
				.benefits__icon
					img.benefits__pic.lazyload(data-src="images/benefits__pic4.svg")
				.benefits__text Персональный #[br] менеджер
				
