<div class="popup-parameters-eyes">
	<div class="popup__title">
		Заполните обязательные поля
	</div>
	<!-- /.popup__title -->

	<form action="#">

		{% from "checkbox/checkbox.njk" import checkbox %}
		{% from "combox/combox.njk" import combox %}
		<div class="detail-parameters__checkbox popup-parameters-eyes__checkbox">
			{{ checkbox(
				text='Разные параметры глаз',
				attr=' data-parameters-checkbox'
			)}}
		</div>
		<!-- /.detail-parameters__checkbox -->

		<div class="detail-parameters__section popup-parameters-eyes__section">
			<div class="detail-parameters__field">
				<div class="detail-parameters__text">Сила (D)</div>
				<!-- /.detail-parameters__text -->
				<div class="detail-parameters__combox">
					{{ combox(option='-12') }}
				</div>
				<!-- /.detail-parameters__combox -->
				<div class="detail-parameters__combox">
					{{ combox(option='-12') }}
				</div>
				<!-- /.detail-parameters__combox -->
			</div>
			<!-- /.detail-parameters__field -->
			<div class="detail-parameters__field">
				<div class="detail-parameters__text">Кривизна (BC)</div>
				<!-- /.detail-parameters__text -->
				<div class="detail-parameters__combox">
					{{ combox(option='8,6') }}
				</div>
				<!-- /.detail-parameters__combox -->
				<div class="detail-parameters__combox">
					{{ combox(option='8,6') }}
				</div>
				<!-- /.detail-parameters__combox -->
			</div>
			<!-- /.detail-parameters__field -->
			<div class="detail-parameters__field">
				<div class="detail-parameters__text">Цилиндр (CYL)</div>
				<!-- /.detail-parameters__text -->
				<div class="detail-parameters__combox">
					{{ combox(option='8,6') }}
				</div>
				<!-- /.detail-parameters__combox -->
				<div class="detail-parameters__combox">
					{{ combox(option='8,6') }}
				</div>
				<!-- /.detail-parameters__combox -->
			</div>
			<!-- /.detail-parameters__field -->
			<div class="detail-parameters__field">
				<div class="detail-parameters__text">Ось (AXIS)</div>
				<!-- /.detail-parameters__text -->
				<div class="detail-parameters__combox">
					{{ combox(option='8,6') }}
				</div>
				<!-- /.detail-parameters__combox -->
				<div class="detail-parameters__combox">
					{{ combox(option='8,6') }}
				</div>
				<!-- /.detail-parameters__combox -->
			</div>
			<!-- /.detail-parameters__field -->
			<div class="detail-parameters__field">
				<div class="detail-parameters__text">Цвет</div>
				<!-- /.detail-parameters__text -->
				<div class="detail-parameters__combox">
					{{ combox(option='8,6') }}
				</div>
				<!-- /.detail-parameters__combox -->
				<div class="detail-parameters__combox">
					{{ combox(option='8,6') }}
				</div>
				<!-- /.detail-parameters__combox -->
			</div>
			<!-- /.detail-parameters__field -->
		</div>
		<!-- /.detail-parameters__section -->

		<div class="popup-parameters-eyes__footer">
			<button type="submit" class="popup-parameters-eyes__submit">Перейти в корзину</button>
		</div>
		<!-- /.popup-parameters-eyes__footer -->

	</form>


</div>
<!-- /.popup-callback -->
