.catalog-banner {
	margin: -24px -100% 30px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	&__photo {
		position: relative;

		&:after {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, .5);
			content: '';
		}
	}

	&__pic {
		display: block;
		margin: 0 auto;

		img {
			display: block;
			margin: 0 auto;
		}
	}
	@media (--phone) {
		margin: -16px 0 16px;
	}
}