.catalog {
	&__title {
		color: rgb(0, 0, 0);
		margin-bottom: 10px;
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
	}

	@media (--phone) {
		&__title {
			font-size: 14px;
			font-weight: 500;
			line-height: 1.29;
			margin-bottom: 8px;
		}
	}

}