.basket-props
	.basket-props__title Данные заказа
	
	include /form/form
	
	.row.basket-props__row.basket-props__row_top.align-items-center
		.col-sm-5
			
			include /basket/basket-person/basket-person
			
		.col-sm-7
		
			.basket-props__info * После оформления заявки с вами свяжется наш менеджер для подтверждения условий оплаты и доставки
		
	.row.basket-props__row
		.col-sm-5
			
			+input({})
			
			+input({
				label: 'E-mail',
				type: 'email'
			})
			
			+input({
				label: '+7(_ _ _) _ _ _ - _ _ - _ _',
				type: 'tel'
			})
			
			.basket-props__checkbox
				.basket-props__text Регион:
				+checkbox({
					mod: 'checkbox_radio',
					text: 'Москва и МО',
					type: 'radio'
				})
				+checkbox({
					mod: 'checkbox_radio',
					text: 'Другой регион',
					type: 'radio'
				})
			
			+input({
				label: 'Адрес доставки',
				text: 'hide'
			})
				
		.col-sm-7
			
			+textarea({
				label: 'Дополнительная информация',
				text: 'hide'
			})
			
			include /basket/basket-payment/basket-payment
