.basket-props {
	position: relative;
	margin-bottom: 24px;
	border-bottom: 1px solid #f3f3f3;

	&__title {
		color: #000000;
		margin-bottom: 24px;
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
	}

	&__info {
		color: #58585a;
		font-size: 12px;
		font-weight: 400;
		line-height: 18px;
	}

	&__row {
		&_top {
			margin-bottom: 24px;
		}
	}

	&__checkbox {
		display: flex;
		align-items: center;
		height: 38px;
		margin-bottom: 16px;

		.checkbox {
			margin-right: 24px;
		}
	}

	&__text {
		margin-right: 16px;
	}

	@media (--phone) {
		margin-bottom: 16px;
		position: static;

		&__title {
			font-size: 14px;
			font-weight: 500;
			line-height: 1.29;
			margin-bottom: 8px;
		}

		[class*=col-] {
			position: static;
		}

		&__row_top {
			margin-bottom: 16px;
		}

		&__checkbox {
			flex-wrap: wrap;
			height: auto;

			.checkbox {
				margin-bottom: 0 !important;
			}
		}

		&__text {
			font-size: 10px;
			line-height: 2;
			width: 100%;
			margin-bottom: 10px;
		}

		&__info {
			position: absolute;
			left: 16px;
			bottom: 16px;
			text-align: center;
			right: 16px;
			font-size: 10px;
			line-height: 2;
		}
	}
}