.basket-person {
	display: flex;

	&__section {
		display: flex;
		align-items: center;
		border-radius: 20px;
		background-color: #f3f3f3;
	}

	&__label {
		position: relative;
		margin: 0;
	}

	&__input {
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0;
	}

	&__text {
		border-radius: 20px;
		color: #58585a;
		font-size: 14px;
		font-weight: 400;
		height: 40px;
		line-height: 1;
		padding: 0 24px;
		display: flex;
		align-items: center;
		justify-content: center;
		white-space: nowrap;
	}

	&__input:checked+&__text {
		background-image: linear-gradient(to top, #8b8b8b 0%, #b8b8b8 100%);
		color: #ffffff;
	}

	@media (--phone) {
		overflow-x: auto;
		margin: 0 -16px;
		padding: 0 16px;

		&__section {
			background: none;
		}

		&__label:last-child {
			margin-left: 8px;
		}

		&__text {
			background-color: #f3f3f3;
			height: 32px;
			border-radius: 16px;
		}
	}
}