.basket-person

	.basket-person__section
		label.basket-person__label
			input.basket-person__input(type="radio", name="r", checked)
			span.basket-person__text Физическое лицо
		label.basket-person__label
			input.basket-person__input(type="radio", name="r")
			span.basket-person__text Юридическое лицо 
