mixin footerIcons(data)
	- var cls = data.cls || 'footer-icons'
	- var mod = data.mod || ''
	- var arr = data.arr || []
	div(class=cls + mod)
		each val in arr
			a(href='#', class='footer-icons__link')
				img(data-src='' + val + '', class='footer-icons__pic lazyload')
