.footer-icons {
	display: flex;
	margin: -3px 0 0 18px;

	&_social {
		justify-content: flex-end;
	}

	&__link {
		margin-left: 23px;

		&:first-child {
			margin-left: 0;
		}
	}

	&_social &__link {
		margin-left: 33px;
	}

	&__pic {}

	@media (--phone) {
		margin: 0;
		justify-content: center;

		&_social {
			margin-bottom: 16px;

		}

		&__link {
			&:nth-child(1) {
				margin-left: 0;
			}
		}
	}
}