.menu-brand-list {
	width: 1170px;
	margin-left: -232px;
	position: relative;
	top: 8px;

	&__inner {
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0;
		pointer-events: none;
		box-shadow: 0 2px 46px rgba(0, 0, 0, 0.1);
		border-radius: 8px;
		background-color: #ffffff;
		padding: 24px 40px;
		border: 4px solid #dd0016;
		width: 100%;
		transition: opacity 500ms;
	}

	.menu-brand-show &__inner {
		opacity: 1;
		pointer-events: auto;
	}

	&__row {
		display: flex;
	}

	&__col {
		width: 58%;

		&:nth-child(2) {
			width: 42%;
		}
	}

	&__title {
		color: #a5a5a6;
		font-size: 16px;
		font-weight: 500;
		text-transform: uppercase;
		margin-bottom: 20px;
	}

	&__section {
		display: flex;
	}

	&__cell {
		width: calc(100% / 3);
	}

	&__item {
		&_pic {
			margin-bottom: 20px;
		}
	}

	&__photo {
		width: 38px;
		display: block;
	}

	&__link {
		color: #000000;
		font-size: 13px;
		font-weight: 400;
	}

	&__item_pic &__link {
		display: flex;
		align-items: center;
	}

	&__pic {
		display: block;
	}

	@media (--phone) {
		display: none;
	}
}