- var arr1 = require('./menu-brand-list-array-image.json')
- var arr2 = require('./menu-brand-list-array-text.json')

.menu-brand-list
	.menu-brand-list__inner
		.menu-brand-list__row
			.menu-brand-list__col
				.menu-brand-list__title Премиум
				.menu-brand-list__section
					each val in arr1
						.menu-brand-list__cell
							each j in val.list
								.menu-brand-list__item.menu-brand-list__item_pic
									a.menu-brand-list__link(href="#")
										span.menu-brand-list__photo
											img.menu-brand-list__pic.lazyload(data-src="" + j.src + "")
										=j.text
			.menu-brand-list__col
				.menu-brand-list__title Доступные бренды
				.menu-brand-list__section 
					each val in arr2
						.menu-brand-list__cell
							each j in val.list
								.menu-brand-list__item
									a.menu-brand-list__link(href="#")= j