.detail-gallery {
	margin-right: 70px;

	&__bottom {
		width: 425px !important;
	}

	&__play {
		left: 50%;
		top: 50%;
		margin-top: -16px;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		margin-left: -16px;
		position: absolute;
		background: url("https://icongr.am/fontawesome/caret-right.svg?size=20&color=ffffff") rgba(26, 26, 26, .2) no-repeat 8px center;
	}

	@media (--phone) {
		margin: 0;

		&__bottom {
			width: 200px !important;
		}
	}
}