.title.title_small Не забудьте купить:

include /catalog/catalog-item/catalog-item

.swiper
	.swiper-container(data-swiper, data-options!={"slidesPerView": 6, "spaceBetween": 8, "breakpoints": { 768: {"slidesPerView": "auto", "spaceBetween": 8, "slidesPerGroup": 1}}})
		.swiper-wrapper
			each val in [1, 2]
				.swiper-slide
					+catalogItem({})
				.swiper-slide
					+catalogItem({})
				.swiper-slide
					+catalogItem({})
				.swiper-slide
					+catalogItem({})
					
	.swiper__arrow.swiper__arrow_right
		.swiper__prev.swiper__prev_round.js-swiper__prev
		.swiper__next.swiper__next_round.js-swiper__next
