.sorting
	.sorting__row
		.sorting__col
			.sorting__text Сортировать по:
			.sorting__mscroll
				.sorting__scroll
					.sorting__link
						span Хиты продаж
					.sorting__link.sorting__link_inc
						span Цена
					.sorting__link
						span Новинки
					.sorting__link
						span Акции и скидки
					.sorting__link.sorting__link_dec
						span Цена и качество
		.sorting__col
			include /catalog/sorting-view/sorting-view
