.sorting {
	color: rgb(0, 0, 0);
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	margin-bottom: 16px;

	&__row {
		display: flex;
		justify-content: space-between;
	}

	&__col {
		display: flex;
		align-items: center;
		align-items: center;
	}

	&__text {
		margin-right: 16px;
	}

	&__scroll {
		display: flex;
		align-items: center;
	}

	&__link {
		margin-right: 24px;
		color: rgb(88, 88, 90);
		position: relative;

		&:before {
			position: absolute;
			left: 0;
			bottom: 0;
			right: 0;
			border-bottom: 1px dotted rgb(88, 88, 90);
			content: ''
		}

		&_dec,
		&_inc {
			font-weight: 500;
			color: #000;

			&:before {
				display: none;
			}

		}

		&_inc {
			&:after {
				content: '';
				display: inline-block;
				margin-left: 8px;
				position: relative;
				top: -1px;
				@include css-triangle(top, var(--cherry), 8px, 10px);
			}

		}

		&_dec {
			&:after {
				content: '';
				display: inline-block;
				margin-left: 8px;
				position: relative;
				top: -1px;
				@include css-triangle(bottom, var(--cherry), 8px, 10px);
			}

		}

	}

	@media (--phone) {
		margin: 0 -16px 16px;

		&__row {
			display: flex;
			justify-content: flex-start;
		}

		&__col {
			flex-wrap: wrap;
			width: calc(100% + 32px);
			flex-shrink: 0;

			padding: 0 16px;

			&:last-child {
				display: none;
			}
		}

		&__text {
			font-size: 10px;
			line-height: 15px;
			margin: 0 0 4px;
			width: 100%;
		}

		&__mscroll {
			overflow-x: auto;
			width: 100%;
			@include scrollCss();
		}

		&__link {
			font-size: 14px;
			line-height: 14px;
			white-space: nowrap;
			margin-right: 16px;

			&:before {
				display: none;
			}

			&:last-child {
				padding-right: 40px;
			}

		}
	}

}