mixin thumbSmall(data)
	
	- var name = data.name || 'Холодильник Smeg FAB28LUJ1'
	- var src = data.src || 'images/catalog-thumb-small__pic1.jpg'
	- var price = data.price || '139 390 ' 
	- var compare = data.compare || false
	- var favorite = data.favorite || false
	- var label = data.label || false
	- var labelItemsText = data.labelItemsText || [ 'Скидка 20%' ]
	- var footer = data.footer || 'show'
	- var available = data.available || 'show'

	.catalog-thumb-small
 	
		if label
			.label
				each val in labelItemsText
					.label__item
						.label__text= val
		.catalog-thumb-small__photo
			.acatalog-thumb-small__link(href='#')
				img.catalog-thumb-small__pic.lazyload(data-src='' + src + '', alt='')
		.catalog-thumb-small__title(data-mh='catalog-thumb-name-small')
			a.catalog-thumb-small__titlelink(href='#')= name
		if available == 'show'
			.available В наличии
		.catalog-thumb-small__footer
			.catalog-thumb-small__col
				.catalog-thumb-small__price
					=price 
					span руб.
			.catalog-thumb-small__col
				a.button-buy.catalog-thumb-small__buy(href='#') Купить
		if footer == 'show'
			.catalog-thumb-small__footercatalog-thumb-small__footer_utility
				.catalog-thumb-small__col
					if compare
						a.button-compare.active
							span.button-compare__icon
							span.button-compare__text В сравнении
					else
						a.button-compare
							span.button-compare__icon
							span.button-compare__text Сравнить
				.catalog-thumb-small__col
					if favorite
						a.button-favorite.active
							span.button-favorite__icon
							span.button-favorite__text В избранном
					else 
						a.button-favorite
							span.button-favorite__icon
							span.button-favorite__text В избранное
