.detail-models
	.swiper
		.swiper-container(data-swiper, data-options!={"slidesPerView": 3, "spaceBetween": 16, "breakpoints": { 768: {"slidesPerView": "auto", "spaceBetween": 8, "slidesPerGroup": 1}}})
			.swiper-wrapper
				.swiper-slide
					.detail-models__item
						.detail-models__toptext Модель дешевле
						.detail-models__photo
							img.detail-models__pic.lazyload(data-src="images/detail-models__pic1.jpg")
						.detail-models__name(data-mh="group") #[span Варочная панель] De Dietrich DPI7686XP
						.detail-models__info Отличия:
							.detail-models__nofunc Нет функций
						ul.detail-models__list
							li Автоматическое регулирование степени нагрева
							li Функция восстановления настроек
							li Функция подогрева
						.detail-models__price 108 000 руб.
							.detail-models__minus -10 000 руб.
						a.detail-models__link(href="#")
							
				.swiper-slide
				
					.detail-models__item.detail-models__item_big
						.detail-models__toptext Текущая модель
						.detail-models__photo
							img.detail-models__pic.lazyload(data-src="images/detail-models__pic2.jpg")
						.detail-models__name #[span Варочная панель] De Dietrich DPI7572G
						.detail-models__price 118 000 руб.
						a.button-buy.detail-models__buy(href="#") Купить
						
				.swiper-slide
				
					.detail-models__item
						.detail-models__toptext Модель дороже
						.detail-models__photo
							img.detail-models__pic.lazyload(data-src="images/detail-models__pic1.jpg")
						.detail-models__name(data-mh="group") #[span Варочная панель] De Dietrich DPI7686XP
						.detail-models__info Отличия:
							.detail-models__func Есть функции
						ul.detail-models__list
							li Автоматическое регулирование степени нагрева
							li Функция восстановления настроек
						.detail-models__price 138 000 руб.
							.detail-models__plus +20 000 руб.
						a.detail-models__link(href="#")
