.detail-models {
	margin-bottom: 24px;

	&__item {
		padding: 11px 0 32px;
		height: 100%;

		&_big {
			border-radius: 4px;
			border: 2px solid #d7d7d7;
		}
	}

	&__toptext {
		color: #000000;
		font-size: 13px;
		font-weight: 400;
		line-height: 24px;
		text-align: center;
	}

	&__item_big &__toptext {
		color: #dd0016;
		font-weight: 500;
	}

	&__photo {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 175px;
	}

	&__item_big &__photo {
		height: 225px;
	}

	&__pic {
		display: block;
		max-height: 155px;
	}

	&__item_big &__pic {
		max-height: 180px;
	}

	&__name {
		color: #000000;
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		margin-bottom: 8px;
		text-align: center;
	}

	&__item_big &__name {
		color: #000000;
		font-size: 16px;
		font-weight: 400;

		span {
			display: block;
		}
	}

	&__info {
		font-size: 14px;
		font-weight: 700;
		color: #000000;
		text-align: center;
		margin-bottom: 8px;
		display: flex;
		justify-content: center;
	}

	&__nofunc {
		color: #dd0016;
		margin-left: 8px;
	}

	&__func {
		color: #78bf30;
		margin-left: 8px;
	}

	&__list {
		list-style: none;
		padding: 0;
		margin: 0 0 24px;
		color: #58585a;
		font-size: 13px;
		font-weight: 400;
		text-align: center;

		li {}
	}

	&__price {
		display: flex;
		align-items: baseline;
		color: #000000;
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
		justify-content: center;
	}

	&__item_big &__price {
		margin-bottom: 24px;
	}

	&__minus {
		color: #78bf30;
		font-size: 14px;
		font-weight: 700;
		margin-left: 16px;
	}

	&__plus {
		color: #dd0016;
		font-size: 14px;
		font-weight: 700;
		margin-left: 16px;
	}

	&__buy {
		@include button($h: 32px, $w: 160px, $m: 0 auto, $d: flex, $bdrs: 16px)
	}

	&__link {
		@include posa()
	}

	@media (--phone) {
		margin-bottom: 0;
	}
}