mixin phoneContent(data)
	.phone-content-address
		.phone-content-address__title Уважаемые покупатели!
		.phone-content-address__text Ассортимент техники можно уточнить у менеджеров Hausdorf по телефону
		a.phone-content-address__link(href="#") +7 (495) 646-61-04
		.phone-content-address__icon
