mixin input(data)

	- var type = data.type || 'text'
	- var label = data.label || 'Фамилия'
	- var text = data.text || 'Обязательное поле'
	.form__field
		input.form__input(type="" + type + "", data-form-label)
		label.form__label= label
		if text != 'hide'
			label.form__requiredtext= text
		
mixin textarea(data)

	- var type = data.type || 'text'
	- var label = data.label || 'Описание проекта'
	- var text = data.text || 'Обязательное поле'
	.form__field
		textarea.form__input.form__input_msg(cols="", row="", data-form-label)
		label.form__label= label
		if text != 'hide'
			label.form__requiredtext= text
		
mixin checkbox(data)
	
	- var mod = data.mod || ''
	- var type = data.type || 'checkbox'
	- var checked = data.checked || false
	- var disabled = data.disabled || false
	- var text = data.text || 'Принимаю <a href="#">условия</a> предоставления данных'

	label.checkbox(class="" + mod + "")
		if checked
			input.checkbox__input(type="" + type + "", checked)
		else if disabled
			input.checkbox__input(type="" + type + "", disabled)
		else if disabled && checked
			input.checkbox__input(type="" + type + "", checked, disabled)
		else
			input.checkbox__input(type="" + type + "")
		span.checkbox__icon
		span.checkbox__text !{text}
				
mixin submit()
	- var value = value || 'Отправить'
	input.form__submit(type="submit", value="" + value + "")
