.partners-banner {
	border-radius: 5px 5px 0 0;
	position: relative;
	margin: -24px -24px 40px;
	padding: 80px 24px 32px;

	@media(--desk) {
		background: url(../images/partner-info.jpg) no-repeat;
		background-size: cover;
	}

	&__title {
		margin-bottom: 40px;
		color: rgb(255, 255, 255);
		font-size: 24px;
		font-weight: 500;
		line-height: 32px;
	}

	&__menu {
		margin-bottom: 16px;
	}

	&__menulnk {
		color: rgb(255, 255, 255);
		font-size: 24px;
		font-weight: 400;
		line-height: 32px;
		margin-right: 20px;
		cursor: pointer;

		&:not(.active) {
			border-bottom: 1px dotted rgba(255, 255, 255, 0.35);
			font-weight: 300;
		}
	}

	&__section {
		color: rgb(255, 255, 255);
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
		padding-bottom: 8px;
		margin-bottom: 32px;

		ul {
			list-style: none;
			color: rgb(255, 255, 255);
			font-size: 14px;
			font-weight: 400;
			line-height: 14px;
			margin: 0;
			padding: 0;

			li {
				margin-bottom: 24px;
				padding-left: 30px;
				background: url("https://icongr.am/clarity/check.svg?size=20&color=dd0016") no-repeat left -3px;
			}
		}
	}

	&__footer {}

	@media (--phone) {
		border-radius: 0;
		margin: -8px -16px 24px;
		padding: 34px 16px 16px;
		background: url(../images/partner-info_768w.jpg) no-repeat;
		background-size: cover;

		&__title {
			font-size: 16px;
			line-height: 1.4;
			margin-bottom: 24px;
		}

		&__menulnk {
			font-size: 14px;
			font-weight: 500;
			line-height: 1.29;
		}

		&__section {
			font-size: 10px;
			line-height: 2;
			margin-bottom: 24px;

			ul {
				font-size: 10px;
				line-height: 2;
				margin-bottom: 8px;

				li {
					margin-bottom: 8px;
				}
			}

			p {
				margin-bottom: 8px;
			}
		}
	}
}