include /catalog/catalog-brand/catalog-brand

.catalog-brand
	.swiper
		.swiper-container(data-swiper, data-options!={"slidesPerView": 5, "spaceBetween": 16, "breakpoints": { 768: {"slidesPerView": "auto", "spaceBetween": 8, "slidesPerGroup": 1}}})
			.swiper-wrapper
				each val in [1, 2]
					.swiper-slide
						+catalogBrand({})
					.swiper-slide
						+catalogBrand({})
					.swiper-slide
						+catalogBrand({})
					.swiper-slide
						+catalogBrand({})
