.detail-parameters {
	margin-bottom: 36px;

	&__checkbox {
		margin-bottom: 25px;
	}

	&__section {
		margin: 0 -10px 120px;
		display: flex;
	}

	&__field {
		margin-bottom: 18px;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		padding: 0 10px;
		width: calc(100% / 5);
	}

	&__text {
		width: 170px;
		color: #2e2e2e;
		font-size: 14px;
		line-height: 1;
		margin-bottom: 15px;
		width: 100%;
	}

	&__combox {
		margin-bottom: 15px;
		transition: 0.3s;
	}

	&__checkbox.active + &__section &__combox {
		width: 100%;
		padding: 0;

		&:nth-child(3) {
			width: 0;
			height: 0;
			overflow: hidden;
		}
	}

	&__info {
		color: #666666;
		font-size: 12px;
		line-height: 18px;
		max-width: 630px;
	}
	@media (--phone) {
		margin-bottom: 0;
		padding-top: 24px;

		&__section {
			margin-bottom: 30px;
			flex-direction: column;
		}

		&__checkbox {
			margin-bottom: 16px;
		}

		&__field {
			flex-wrap: wrap;
			width: 100%;
			flex-direction: row;
		}

		&__text {
			width: 100%;
			margin-bottom: 10px;
		}

		&__combox {
			width: 50%;
			margin: 0;

			&:nth-child(2) {
				padding: 0 10px 0 0;
			}

			&:nth-child(3) {
				padding: 0 0 0 10px;
			}
		}
	}
}