<div class="detail-parameters">

	<form action="#">

		{% from "checkbox/checkbox.njk" import checkbox %}
		{% from "combox/combox.njk" import combox %}
		<div class="detail-parameters__checkbox">
			{{ checkbox(
				text='Разные параметры глаз',
				attr=' data-parameters-checkbox'
			)}}
		</div>
		<!-- /.detail-parameters__checkbox -->

		<div class="detail-parameters__section">
			<div class="detail-parameters__field">
				<div class="detail-parameters__text">Сила (D)</div>
				<!-- /.detail-parameters__text -->
				<div class="detail-parameters__combox">
					{{ combox(option='-12') }}
				</div>
				<!-- /.detail-parameters__combox -->
				<div class="detail-parameters__combox">
					{{ combox(option='-12') }}
				</div>
				<!-- /.detail-parameters__combox -->
			</div>
			<!-- /.detail-parameters__field -->
			<div class="detail-parameters__field">
				<div class="detail-parameters__text">Кривизна (BC)</div>
				<!-- /.detail-parameters__text -->
				<div class="detail-parameters__combox">
					{{ combox(option='8,6') }}
				</div>
				<!-- /.detail-parameters__combox -->
				<div class="detail-parameters__combox">
					{{ combox(option='8,6') }}
				</div>
				<!-- /.detail-parameters__combox -->
			</div>
			<!-- /.detail-parameters__field -->
			<div class="detail-parameters__field">
				<div class="detail-parameters__text">Цилиндр (CYL)</div>
				<!-- /.detail-parameters__text -->
				<div class="detail-parameters__combox">
					{{ combox(option='8,6') }}
				</div>
				<!-- /.detail-parameters__combox -->
				<div class="detail-parameters__combox">
					{{ combox(option='8,6') }}
				</div>
				<!-- /.detail-parameters__combox -->
			</div>
			<!-- /.detail-parameters__field -->
			<div class="detail-parameters__field">
				<div class="detail-parameters__text">Ось (AXIS)</div>
				<!-- /.detail-parameters__text -->
				<div class="detail-parameters__combox">
					{{ combox(option='8,6') }}
				</div>
				<!-- /.detail-parameters__combox -->
				<div class="detail-parameters__combox">
					{{ combox(option='8,6') }}
				</div>
				<!-- /.detail-parameters__combox -->
			</div>
			<!-- /.detail-parameters__field -->
			<div class="detail-parameters__field">
				<div class="detail-parameters__text">Цвет</div>
				<!-- /.detail-parameters__text -->
				<div class="detail-parameters__combox">
					{{ combox(option='8,6') }}
				</div>
				<!-- /.detail-parameters__combox -->
				<div class="detail-parameters__combox">
					{{ combox(option='8,6') }}
				</div>
				<!-- /.detail-parameters__combox -->
			</div>
			<!-- /.detail-parameters__field -->
		</div>
		<!-- /.detail-parameters__section -->

	</form>

	<div class="detail-parameters__info">
		*Все сведения, указанные на сайте, носят информационный характер и не являются публичной офертой. Производитель на свое усмотрение и без дополнительных уведомлений может менять комплектацию, внешний вид, страну производства и технические характеристики модели. Уточняйте подробную информацию о товаре в инструкции.
	</div>
	<!-- /.detail-parameters__info -->
</div>
<!-- /.detail-parameters -->
