mixin newsBlock(data)

	- var src = data.src || 'images/news-block__pic.jpg'
	- var name = data.name || 'Скидка 25% на варочные панели Smeg'
	- var video = data.video || 'hide'
	.news-block__item
		.news-block__photo
			img.news-block__pic.lazyload(data-src="" + src)
			if video == 'show'
				.news-block__play
		.news-block__name= name
		a.news-block__link(href="#")
