.news-block {
	.swiper-slide {
		height: auto;
	}

	&__item {
		position: relative;
		border-radius: 8px;
		background-color: #ffffff;
		height: 100%;
	}

	&__photo {
		position: relative;
		height: 180px;
	}

	&__pic {
		display: block;
		border-radius: 5px 5px 0 0;
		max-width: 100%;
	}

	&__play {
		left: 50%;
		top: 50%;
		margin-top: -32px;
		width: 64px;
		height: 64px;
		border-radius: 50%;
		margin-left: -32px;
		position: absolute;
		background: url("https://icongr.am/fontawesome/caret-right.svg?size=40&color=ffffff") rgba(26, 26, 26, .2) no-repeat 15px center;
	}

	&__name {
		color: #000000;
		font-size: 16px;
		font-weight: 500;
		line-height: 20px;
		padding: 16px;
	}

	&__link {
		@include posa();
	}

	@media (--phone) {

		&__photo {
			height: auto;
		}

		&__name {
			font-size: 12px;
		}
	}
}