include /utilities/phone-info/phone-info
include /utilities/address-info/address-info
include /utilities/time-info/time-info

.service-list

    - var data = [{ "name": "ООО «Мир и Сервис»", "more": "Все сервисные центры AEG", "phone": [ "8 (495) 744 00 14" ], "address": "Москва, улица Промышленная, 11, стр.2.", "time": "с 9.00 до 18.00 по московскому времени" }, { "name": "ООО «ТРАНССЕРВИС-95»", "more": "Все сервисные центры Asko", "phone": [ "8 (495) 744 00 14" ], "address": "г. Москва, 1-й Варшавский пр-д, д. 1 а, стр. 3", "time": "с 9.00 до 18.00 по московскому времени" }, { "name": "Авторизованный сервисный центр Bang & Olufsen", "more": "Все сервисные центры Bang & Olufsen", "phone": [ "8 (495) 109 00 51" ], "address": "ПН - ПТ 10:00 - 21:00, СБ - ВС 11:00 - 21:00" }, { "name": "Сервисная служба Beltratto", "more": "Все сервисные центры Asko", "phone": [ "8 (499) 794 28 13", "8 (499) 794 53 60", "8 (495) 988 87 61"]}]
    - var k = 1

    each j in [1, 2, 3, 4, 5]

        each val, i in data
            .service-list__item
                .service-list__photo
                    a.service-list__link(href="#")
                        img.service-list__pic.lazyload(data-src="images/service-list__pic" + (k++) + ".png", alt="")
                .service-list__desc
                    .service-list__header
                        a.service-list__name(href="#")= val.name
                        a.service-list__more(href="#")= val.more
                    .service-list__section
                        +phoneInfo(val.phone)
                        if val.address
                            +addressInfo()
                        if val.time 
                            +timeInfo()
