mixin aboutHd(data)

	- var src = data.src || 'about-hd__pic1.jpg'
	- var src768 = data.src768 || 'about-hd__pic1_768w.png'
	- var title = data.title || 'Техника в бутике Hausdorf'
	- var text = data.text || 'Витрина нашей бытовой техники включает<br> бренды премиум- и бизнес-класса: Asko, Beltratto,<br> Gaggenau, Kuppersbusch, Fulgor Milano, SUB-ZERO,<br> Bertazzoni и другие.'
	- var button = data.button || 'Перейти на сайт'
	
	.about-hausdorf__item
		img.about-hausdorf__pic.lazyload(data-srcset="images/" + src768 + " 768w, images/" + src + " 4000w", data-src="images/" + src)
		.about-hausdorf__desc
			.about-hausdorf__title= title
			.about-hausdorf__text !{text}
			a.about-hausdorf__button(href="#")= button
