- var arr = require('./benefits-content.json')

.benefits-content
	.row
		each v in arr
			.col-sm-3
				.benefits-content__item
					.benefits-content__photo
						img.benefits-content__pic.lazyload(data-src="" + v.src + "")
					.benefits-content__desc
						.benefits-content__name= v.title
						.benefits-content__text= v.text
