mixin newsItem(data)

	- var title = data.title || 'Новинки в бутике Hausdorf'
	- var src = data.src || 'images/news-item__pic1.jpg'
	- var text = data.text || 'Подробный обзор бытовой техники для дома, чтобы сделать ваш выбор быстрым и удобным.'
	- var group1 = data.group1 || 'group1'
	- var group2 = data.group2 || 'group2'

	.news-item
		.news-item__title(data-mh="" + group1 + "")= title
		.news-item__photo
			img.news-item__pic.lazyload(data-src="" + src + "", alt="")
		.news-item__text(data-mh="" + group2 + "")= text
		.news-item__more
			span Подробнее
		a.news-item__link(href="#")
	<!-- sfasfd -->