.page-not-found {
	width: 375px;
	height: 375px;
	background-image: linear-gradient(to top, #1dc6ff 0%, #0075ff 100%);
	border-radius: 50%;
	margin: 76px auto 101px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	padding-top: 61px;

	&:before {
		content: '';
		position: absolute;
		left: 192px;
		width: 236px;
		height: 238px;
		background-color: rgba(115, 237, 255, .5);
		border-radius: 50%;
		top: 50%;
		transform: translate(0, -50%);
	}

	&__row {
		position: relative;
		color: #fff;
		text-align: center;
		max-width: 310px;
	}

	&__col {}

	&__pic {
		margin: 0 auto 10px;
	}

	&__title {
		font-size: 20px;
		font-weight: 500;
		line-height: 24px;
		margin-bottom: 21px;
	}

	&__desc {
		margin-bottom: 9px;
		line-height: 24px;
	}

	&__link {
		@include buttonBlue();
	}
	@media (--phone) {
		width: 236px;
		height: 236px;
		padding-top: 0;
		justify-content: center;
		margin-bottom: 235px;
		margin-top: 20px;

		&:before {
			content: '';
			position: absolute;
			left: 120px;
			width: 150px;
			height: 150px;
		}

		&__row {
			position: static;
		}

		&__pic {
			position: relative;
		}

		&__title {
			font-size: 16px;
			margin-bottom: 0;
			position: relative;
		}

		&__desc {
			color: #262626;
			position: absolute;
			left: 0;
			top: calc(100% + 16px);
		}

		&__link {
			position: absolute;
			left: 50%;
			top: calc(100% + 130px);
			transform: translate(-50%, 0);
			white-space: nowrap;
		}
	}
}