<div class="page-not-found">
	<div class="page-not-found__row">
		<div class="page-not-found__col">
			<img data-src="{{src}}404.svg" alt="" class="page-not-found__pic lazyload">
		</div>
		<!-- /.page-not-found__col -->
		<div class="page-not-found__col">

			<div class="page-not-found__title">Страница не найдена</div>
			<!-- /.page-not-found__title -->
			<div class="page-not-found__desc">
				К сожалению, веб-страница, соответствующая Вашему запросу, была удалена или не существует.
			</div>
			<a href="#" class="page-not-found__link">На главную</a>
		</div>
		<!-- /.page-not-found__col -->
	</div>
	<!-- /.page-not-found__row -->
</div>
<!-- /.page-not-found -->
 
