.benefits-detail
	.benefits-detail__item
		.benefits-detail__photo
			img.benefits-detail__pic.lazyload(data-src="images/benefits-detail__pic1.svg")
		.benefits-detail__text Бесплатная #[br] доставка
	.benefits-detail__item
		.benefits-detail__photo
			img.benefits-detail__pic.lazyload(data-src="images/benefits-detail__pic2.svg")
		.benefits-detail__text Бесплатное #[br] подключение
