.benefits-detail {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 32px;

	&__item {
		width: 50%;
		display: flex;
		align-items: center;
	}

	&__photo {
		width: 80px;
		flex-shrink: 0;
	}

	&__pic {
		display: block;
	}

	&__text {
		color: #000000;
		font-size: 16px;
		font-weight: 400;
		line-height: 20px;
	}

	@media (--phone) {
		margin-bottom: 16px;
		overflow-x: auto;
		flex-wrap: nowrap;
		@include scrollCss();

		&__item {
			width: auto;
			margin-right: 24px;
		}
	}
}