- var arr = require('./menu-header.json')

.menu-header
	ul.menu-header__list
		each val, i in arr
			if i == 0
				li.menu-header__item.active
					a.menu-header__link= val.title
			else 
				li.menu-header__item
					a.menu-header__link= val.title