.menu-header {
	line-height: 1;

	&__list {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	&__item {
		margin-left: 21px;
		position: relative;

		&:first-child {
			margin-left: 0;
		}

		&:after {
			position: absolute;
			width: 5px;
			height: 5px;
			background-color: #d7d7d7;
			border-radius: 50%;
			right: -12px;
			top: 50%;
			margin-top: -2.5px;
			content: '';
		}

		&:last-child:after {
			display: none;
		}
	}

	&__link {
		color: #000000;
		padding: 0 24px;
		display: block;
		font-size: 13px;
		font-weight: 400;
	}

	&__item.active &__link,
	&__item:hover &__link {
		color: #dd0016;
	}
}