.basket-delivery {
	position: relative;
	padding-bottom: 65px;
	margin-bottom: 69px;

	&__title {}

	&__row {}

	&__name {
		margin-top: 13px;
	}

	&__footer {
		border-top: 1px solid #eeeeee;
		padding-top: 17px;
		display: flex;
		align-items: baseline;
		justify-content: flex-end;
	}

	&__text {
		color: #2e2e2e;
		margin-right: 127px;
		font-size: 16px;
		font-weight: 500;
		line-height: 24px;
	}

	&__price {
		color: #2e2e2e;
		width: 220px;
		font-size: 24px;
		font-weight: 500;
		line-height: 24px;
	}

	&:after {
		content: '';
		position: absolute;
		left: -200%;
		right: -200%;
		bottom: 0;
		border-bottom: 1px solid #eeeeee;
	}
	@media (--phone) {
		margin-bottom: 32px;
		padding-bottom: 40px;

		&__title {
			margin-bottom: 24px !important;
		}

		&__combox {
			margin-bottom: 16px;
		}

		&__footer {
			border: none;
			padding-top: 0;
			justify-content: space-between;
		}

		&__text {
			font-size: 14px;
			line-height: 1.71;
			margin: 0;
		}

		&__price {
			width: auto;
			font-size: 18px;
			line-height: 1.33;
			margin: 0;
		}
	}
}