<div class="basket-delivery">

	<div class="basket-delivery__title basket__title">
		Доставка
		<div class="tooltip">
			<div class="tooltip__text">Условия доставки</div>
			<!-- /.tooltip__text -->
			<div class="tooltip__popup">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit
			</div>
			<!-- /.tooltip__popup -->
		</div>
		<!-- /.tooltip -->
	</div>
	<!-- /.basket-delivery__title -->

	<div class="basket-delivery__row row">
		<div class="col-1 d-none d-sm-block">
			<div class="basket-delivery__name">
				Город
			</div>
			<!-- /.basket-delivery__name -->
		</div>
		<!-- /.col-1 -->
		{% from "combox/combox.njk" import combox %}
		<div class="col-sm-11">
			<div class="row">
				<div class="col-sm-3">
					{{ combox(option='Москва и Область', mod=' basket-delivery__combox') }}
				</div>
				<!-- /.col-4 -->
				<div class="col-sm-9">
					<div class="form__field">
						<input type="text" class="form__input" data-form-label value="" />
						<label class="form__label">
							Улица <span>*</span>
						</label>
					</div>
					<!-- /.form__field -->
				</div>
				<!-- /.col-8 -->
				<div class="col-6 col-sm-2">
					<div class="form__field">
						<input type="text" class="form__input" data-form-label value="" />
						<label class="form__label">
							Дом <span>*</span>
						</label>
					</div>
					<!-- /.form__field -->
				</div>
				<!-- /.col-6 col-sm-2 -->
				<div class="col-6 col-sm-2">
					<div class="form__field">
						<input type="text" class="form__input" data-form-label value="" />
						<label class="form__label">
							Корпус
						</label>
					</div>
					<!-- /.form__field -->
				</div>
				<!-- /.col-6 col-sm-2 -->
				<div class="col-6 col-sm-2">
					<div class="form__field">
						<input type="text" class="form__input" data-form-label value="" />
						<label class="form__label">
							Строение
						</label>
					</div>
					<!-- /.form__field -->
				</div>
				<!-- /.col-6 col-sm-2 -->
				<div class="col-6 col-sm-2">
					<div class="form__field">
						<input type="text" class="form__input" data-form-label value="" />
						<label class="form__label">
							Подъезд
						</label>
					</div>
					<!-- /.form__field -->
				</div>
				<!-- /.col-6 col-sm-2 -->
				<div class="col-6 col-sm-2">
					<div class="form__field">
						<input type="text" class="form__input" data-form-label value="" />
						<label class="form__label">
							Этаж
						</label>
					</div>
					<!-- /.form__field -->
				</div>
				<!-- /.col-6 col-sm-2 -->
				<div class="col-6 col-sm-2">
					<div class="form__field">
						<input type="text" class="form__input" data-form-label value="" />
						<label class="form__label">
							Квартира <span>*</span>
						</label>
					</div>
					<!-- /.form__field -->
				</div>
				<!-- /.col-6 col-sm-2 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.col-11 -->
	</div>
	<!-- /.basket-delivery__row row -->

	<div class="basket-delivery__footer">
		<div class="basket-delivery__text">
			Стоимость доставки:
		</div>
		<!-- /.basket-delivery__text -->
		<div class="basket-delivery__price">
			1 570 руб.
		</div>
		<!-- /.basket-delivery__price -->
	</div>
	<!-- /.basket-delivery__footer -->
</div>
<!-- /.basket-delivery -->
