.confirm
	
	.confirm__toptext Ваш заказ #[b № 23579] от 12.11.2018 успешно сформирован. В ближайшее время с вами свяжется менеджер.
	
	.confirm__title Состав заказа
	
	table.confirm__table
		tr
			th(colspan="2") Товар
			th Цена
			th Количество
			th Стоимость
		tr
			td
				img.confirm__pic.lazyload(data-src="images/confirm__pic.png")
			td
				a.confirm__name(href="#") Стиральная машина V-ZUG WAASLQ li
			td(data-text="Цена") 905 100 руб.
			td(data-text="Количество") 2
			td(data-text="Стоимость") 1 810 200 руб.
		tr
			td
				img.confirm__pic.lazyload(data-src="images/confirm__pic.png")
			td
				a.confirm__name(href="#") Варочная панель De Dietrich DPI7572G
			td(data-text="Цена") 95 100 руб.
			td(data-text="Количество") 1
			td(data-text="Стоимость") 95 100 руб.
			
	.confirm__footer
		.confirm__row
			.confirm__col Сумма к оплате:
			.confirm__col
				b 1 905 300 руб.
		.confirm__row
			.confirm__col Выбранный способ оплаты:
			.confirm__col
				b Наличными при доставке
