mixin menuContent(data)

	- var arr = data.arr || [ '<span>Товаров <b>5</b></span>', '<span>Новостей <b>2</b></span>', '<span>Отзывы о товарах <b>8</b></span>' ]
	- var index = data.index || 0

	.menu-content
		each val, i in arr
			if i == index
				a.menu-content__link.active(href="#") !{val}
			else
				a.menu-content__link(href="#") !{val}
