.menu-content {
	height: 40px;
	border-radius: 19.5px;
	background-color: #ffffff;
	display: flex;
	align-items: center;

	&__link {
		font-size: 14px;
		color: var(--slate-grey);
		display: flex;
		height: 40px;
		align-items: center;
		padding: 0 24px;
		position: relative;
		transition: color 400ms;

		span {
			position: relative;
		}

		b {
			font-weight: bold;
			color: var(--cherry);
		}

		&:before {
			position: absolute;
			background-image: linear-gradient(to top, #8b8b8b, #b8b8b8);
			width: 100%;
			height: 100%;
			border-radius: 20px;
			content: '';
			left: 0;
			top: 0;
			transform: scale(0);
			transition: transform 100ms cubic-bezier(.17, .67, .83, .67);
		}
	}

	&__link.active,
	&__link:hover {
		color: #fff;

		&:before {
			transform: scale(1);
		}
	}

	@media (--phone) {
		display: flex;
		background-color: transparent;
		height: 32px;
		margin: 0 -4px;


		&__link {
			margin: 0 4px;
			white-space: nowrap;
			background: #fff;
			height: 32px;
			border-radius: 16px;

			span {}

			b {}

			&:before {}
		}

		&__link.active,
		&__link:hover {


			&:before {}
		}
	}
}