.detail-manager
	.detail-manager__photo
		img.detail-manager__pic.lazyload(data-src="images/detail-manager__pic.jpg")
	.detail-manager__desc
		.detail-manager__name Мальцев Иван
		.detail-manager__text Лучший специалист по технике класса люкс
		.detail-manager__small Хотите поговорить именно с ним?
		.detail-manager__footer
			a(href="#") +7 (495) 602-96-21
			| добавочный
			b 115
