.news-col {
	margin-bottom: 24px;
	border-bottom: 1px solid rgb(216, 216, 216);
	padding-bottom: 24px;

	&__item {
		height: 100%;
		position: relative;
		padding-bottom: 50px;
	}

	&__name {
		color: rgb(0, 0, 0);
		margin-bottom: 16px;
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
	}

	&__text {
		color: rgb(0, 0, 0);
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
	}

	&__more {
		position: absolute;
		left: 0;
		bottom: 0;
		color: rgb(221, 0, 22);
		font-size: 16px;
		font-weight: 400;
		@include link();
	}

	@media (--phone) {
		margin-bottom: 16px;
		padding-bottom: 16px;

		.row {
			overflow-x: auto;
			@include scrollCss();
			flex-wrap: nowrap;

			[class*=col-] {
				width: 265px;
				flex-shrink: 0;
			}
		}

		&__item {
			padding-bottom: 20px;
		}

		&__name {
			font-size: 14px;
			font-weight: 500;
			line-height: 1.29;
			margin-bottom: 4px;
		}

		&__text {
			font-size: 10px;
			line-height: 2;
			margin-bottom: 8px;
		}

		&__more {
			font-size: 12px;
		}
	}

}