.news-col
	.row.align-items-stretch
		.col-sm-4
			.news-col__item
				.news-col__name Особенности выбора техники в небольшую квартиру
				.news-col__text Базовый набор для кухни, вне зависимости от площади помещения, традиционно состоит из варочной панели, духовки и холодильника. Покупки такого комплекта не избежать и владельцам небольших квартир, заботящихся об экономии полезного пространства.
				a.news-col__more(href="#") Подробнее
		.col-sm-4
			.news-col__item
				.news-col__name Стиральные машины Asko
				.news-col__text ASKO — это современный лаконичный дизайн, сочетающийся с продуманным до мелочей высокотехнологичным оснащением. 
				a.news-col__more(href="#") Подробнее
		.col-sm-4
			.news-col__item
				.news-col__name Воздушно-пузырьковая стиральная машина
				.news-col__text Воздушно-пузырьковые стиральные машины все чаще используются как в специализированных прачечных, в том числе производственных, так и в мини-прачечных при гостиницах, ресторанах и домах отдыха.
				a.news-col__more(href="#") Подробнее