mixin yaReviews(data)

	- var name = data.name || 'Капустина Екатерина'
	- var title = data.title || 'De Dietrich DPI7572G'
	- var text = data.text || 'отличная навигация, очень подробное, информативное меню, работает тихо и отстирывает отменно! нагромождать квартирую стиральной а потом еще и сушильной машину не хотела. О стирально-сушильной машине задумывалась давно, пугали отзывы о том, что вещи после сушки пересушены и их невозможно прогладить. По тем же отзывав выбрала ряд брендов по ним проконсультировалась у менеджеров магазина. Остановилась на этом производителе. Белье стираю с капсулами - все прекрасно вымывается'
	- var photo = data.photo || false
	- var src = data.src || 'images/news-list__pic1.png'

	.yandex-reviews__row
		if photo
			.yandex-reviews__photo
				a.yandex-reviews__link(href="#")
					img.yandex-reviews__pic.lazyload(data-src="" + src + "", alt="")
		.yandex-reviews__desc
			.yandex-reviews__header
				.yandex-reviews__col
					.yandex-reviews__name= name
					.yandex-reviews__ratings
						.ratings.ratings_output
							.ratings__section
								.ratings__start
								.ratings__click(style='width: 80%;')
							.ratings__total 4
				.yandex-reviews__col
					.yandex-reviews__date 26.10.2018
			.yandex-reviews__text= text
