.yandex-reviews {
	box-shadow: inset 0 1px 0 rgb(255, 255, 255);
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	padding: 24px;

	&__title {
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
		margin-bottom: 16px;
		color: #000000;
	}

	&_border {
		border-radius: 0 0 5px 5px;
	}

	&__row {
		border-bottom: 1px solid #d8d8d8;
		padding-bottom: 16px;
		margin-bottom: 16px;
		display: flex;

		&:last-child {
			border-bottom: none;
			padding-bottom: 0;
			margin-bottom: 0;
		}
	}

	&__photo {
		min-width: 120px;
		height: 136px;
		border-radius: 8px;
		background-color: #ffffff;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 24px;
	}

	&__link {
		display: block;
		text-decoration: none;
	}

	&__pic {
		max-width: 88px;
		max-height: 104px;
		display: block;
	}

	&__desc {
		padding-top: 10px;
	}

	&__header {
		margin-bottom: 16px;
		display: flex;
	}

	&__col {
		display: flex;
		align-items: center;
	}

	&__name {
		font-size: 16px;
		font-weight: 500;
		color: #000000;
		margin-right: 30px;
	}

	&__ratings {
		margin-right: 30px;
		position: relative;
		top: 1px;
	}

	&__titlelink {
		color: #000000;
		@include link(rgba(0, 0, 0, 0.1));
	}

	&__date {
		font-size: 12px;
		font-weight: 500;
		text-align: right;
		color: var(--bluey-grey);
	}

	&__text {
		font-size: 12px;
		line-height: 1.5;
		color: #000000;
	}

	&__info {
		margin-bottom: 24px;
	}

	@media (--phone) {
		margin: 0 -16px 16px;
		padding: 16px;
		border-radius: 0;

		&__header {
			margin-bottom: 8px;
		}

		&__title {
			font-size: 14px;
			font-weight: 500;
			line-height: 1.29;
			margin-bottom: 16px;
		}

		&__desc {
			padding-top: 0;
		}

		&__name {
			font-size: 12px;
			margin-right: 16px;
			line-height: 15px;
		}

		&__date {
			font-size: 10px;
		}

		&__text,
		&__info {
			font-size: 10px;
			line-height: 2;
		}
	}
}