.basket-table {
	position: relative;
	margin-bottom: 24px;

	&__table {
		margin-bottom: 16px;
	}

	&__header {
		height: 22px;
		display: flex;
	}

	&__title {
		color: rgb(88, 88, 90);
		font-size: 12px;
		font-weight: 400;
		line-height: 1;

		&:nth-child(1) {
			min-width: 170px;
		}

		&:nth-child(2) {
			min-width: 315px;
		}

		&:nth-child(3) {
			min-width: 140px;
		}

		&:nth-child(4) {
			min-width: 210px;
		}

		&:nth-child(5) {
			min-width: 210px;
		}

		&:nth-child(6) {}
	}

	&__row {
		padding: 16px 0;
		border-radius: 5px;
		background-color: #ffffff;
		display: flex;
		align-items: center;
		margin-bottom: 8px;
		position: relative;
	}

	&__col {
		&:nth-child(1) {
			min-width: 170px;
		}

		&:nth-child(2) {
			min-width: 315px;
		}

		&:nth-child(3) {
			min-width: 140px;
		}

		&:nth-child(4) {
			min-width: 210px;
		}

		&:nth-child(5) {
			min-width: 210px;
		}

		&:nth-child(6) {}
	}

	&__link {}

	&__pic {
		display: block;
		max-width: 120px;
		margin: 0 auto;
	}

	&__articul {
		font-size: 13px;
		font-weight: 400;
		color: #000000;

		span {
			color: #a5a5a6;
		}
	}

	&__name {
		color: #000000;
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		max-width: 400px;

		span {
			display: block;
		}
	}

	&__namelink {
		color: #000000;
	}

	&__price {
		color: #000000;
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
	}

	&__summ {
		color: #000000;
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
	}

	&__delete {
		width: 30px;
		height: 30px;
		background: url("../images/basket-table__delete.svg") no-repeat center;
		display: block;
		overflow: hidden;
		text-indent: -9999px;
	}

	&__recovery+&__delete {
		background: url("../images/basket-table__delete_active.svg") no-repeat center;
	}

	&__recovery {
		position: absolute;
		background: #fff;
		padding: 20px 15px;
		top: 0;
		bottom: 0;
		left: 470px;
		width: 560px;

		&-txt {
			color: #000000;
			font-size: 14px;
			font-weight: 400;
			line-height: 24px;
			margin-bottom: 16px;
		}

		&-section {
			display: flex;
		}

		&-delete {
			width: 206px;
			height: 40px;
			border-radius: 24px;
			border: 1px solid #d7d7d7;
			margin-right: 16px;
			color: #58585a;
			font-size: 15px;
			font-weight: 400;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&-recovery {
			@include button($w: 206px, $bdrs: 20px)
		}
	}

	&__footer {
		display: flex;
		align-items: baseline;
		justify-content: flex-end;
		height: 36px;
		padding: 8px 122px 8px 0;
	}

	&__text {
		color: #000000;
		font-size: 16px;
		font-weight: 400;
		line-height: 30px;
		margin-right: 16px;
	}

	&__total {
		color: #000000;
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
	}

	@media (--phone) {
		margin-bottom: 16px;

		&__table {
			border: none;
			margin: 0 -16px 16px;

		}

		&__row {
			padding: 16px 24px 24px;
			margin-bottom: 0;
			flex-wrap: wrap;
			align-items: flex-start;
			border-bottom: 1px solid #ebebeb;
			position: relative;
		}

		&__col {
			&:nth-child(1) {
				width: 40%;
				min-width: 0;
				flex-shrink: 0;
				padding-bottom: 10px;
			}

			&:nth-child(2) {
				width: 60%;
				min-width: 0;
				flex-shrink: 0;
				padding-bottom: 10px;
			}

			&:nth-child(3) {
				width: 100%;
				flex-shrink: 0;
				min-width: 0;
				padding-bottom: 8px;

				&:before {
					content: attr(data-col);
					display: block;
					font-size: 9px;
					color: #58585a;
					line-height: 2;
					margin-bottom: 4px;
				}
			}

			&:nth-child(4) {
				width: 50%;
				flex-shrink: 0;
				min-width: 0;

				&:before {
					content: attr(data-col);
					display: block;
					font-size: 9px;
					color: #58585a;
					line-height: 2;
					margin-bottom: 4px;
				}
			}

			&:nth-child(5) {
				width: 50%;
				flex-shrink: 0;
				min-width: 0;

				&:before {
					content: attr(data-col);
					display: block;
					font-size: 9px;
					color: #58585a;
					line-height: 2;
					margin-bottom: 4px;
				}
			}

			&:nth-child(6) {
				width: 100%;
				display: flex;
				justify-content: flex-end;
			}
		}

		&__header {
			display: none;
		}

		&__pic {
			max-width: 80%;
			margin: 0;
		}

		&__articul {
			font-size: 9px;
			line-height: 12px;
		}

		&__name {
			font-size: 12px;
			line-height: 18px;
			font-weight: 500;
		}

		&__price,
		&__summ {
			font-size: 18px;
			font-weight: 500;
			line-height: 1.33;
		}

		&__summ {
			padding-top: 7px;
		}

		&__delete {
			position: absolute;
			right: 16px;
			top: 16px;
		}

		&__footer {
			padding: 0;
			height: auto;
			justify-content: flex-start;
		}

		&__text {
			font-size: 10px;
			line-height: 2;
		}

		&__total {
			font-size: 14px;
			width: auto;
		}

		&__recovery {
			top: 0;
			bottom: 0;
			left: 0;
			padding: 16px 24px;
			width: calc(100% - 40px);

			&-txt {
				font-size: 12px;
				font-weight: 500;
				margin-bottom: 32px;
				max-width: 180px;
				line-height: 18px;
			}

			&-section {
				flex-direction: column;
			}

			&-delete {
				width: calc(100% + 40px);
				margin: 0 0 16px;
			}

			&-recovery {
				width: calc(100% + 40px);
				margin: 0;
			}
		}
	}
}