.basket-table

	.basket-table__table
		
		.basket-table__header
			.basket-table__title Наименование
			.basket-table__title
			.basket-table__title Количество, шт.
			.basket-table__title Цена
			.basket-table__title Сумма
		
		.basket-table__row
			
			.basket-table__col
				a.basket-table__link(href="#")
					img.basket-table__pic.lazyload(data-src="images/basket-table__pic1.jpg")
			
			.basket-table__col
				.basket-table__articul #[span Артикул:] 146-9713
				.basket-table__name
					a.basket-table__namelink(href="#") #[span Стиральная машина] V-ZUG WAASLQ li

			.basket-table__col(data-col="Цена")
				.basket-table__price 905 100 руб.
						
			.basket-table__col(data-col="Количество")

				include /basket/basket-counter/basket-counter

			.basket-table__col(data-col="Стоимость")
				.basket-table__summ 1 810 200 руб.
				
			.basket-table__col
				a.basket-table__delete(href="#") Удалить

		.basket-table__row
						
			.basket-table__col
				a.basket-table__link(href="#")
					img.basket-table__pic.lazyload(data-src="images/basket-table__pic2.jpg")
			
			.basket-table__col
				.basket-table__articul #[span Артикул:] 146-9713
				.basket-table__name
					a.basket-table__namelink(href="#") #[span Стиральная машина] V-ZUG WAASLQ li

			.basket-table__col(data-col="Цена")
				.basket-table__price 905 100 руб.
						
			.basket-table__col(data-col="Количество")

				include /basket/basket-counter/basket-counter

			.basket-table__col(data-col="Стоимость")
				.basket-table__summ 1 810 200 руб.
				
			.basket-table__col
			
				.basket-table__recovery
					.basket-table__recovery-txt Вы действительно хотите удалить этот товар?
					.basket-table__recovery-section
						a.basket-table__recovery-delete(href="#") Да, удалить
						a.basket-table__recovery-recovery(href="#") Восстановить
						
				a.basket-table__delete(href="#") Удалить


	.basket-table__footer
		.basket-table__text Общая стоимость товаров:
		.basket-table__total 1 905 300 руб.
