.address {
	box-shadow: inset 0 1px 0 rgb(255, 255, 255);
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	padding: 18px 24px 24px;

	&__field {
		margin-bottom: 16px;

		a {
			border-bottom: none !important;
		}
	}

	&__picture {
		margin-bottom: 32px;

		img {
			max-width: 100%;
			display: block;
		}
	}

	&__row {
		margin-bottom: 40px;
	}

	a {
		@include link();
	}

	&__map {
		margin-bottom: 32px;

		iframe {
			border: none;
		}
	}

	@media (--phone) {
		margin: 0 -16px 16px;
		padding: 8px 16px 16px;
		font-size: 10px;
		line-height: 2;

		&__row {
			margin-bottom: 0;

			img {
				display: block;
				margin-bottom: 8px;
				max-width: 100%;
			}
		}

		&__picture {
			margin-bottom: 16px;
		}

		&__map {
			margin: 0 -16px 16px;
		}
	}
}