.available {
	font-size: 13px;
	color: var(--slate-grey);
	background: url("../images/available.svg") no-repeat left center;
	padding: 0 0 0 14px;
	margin-bottom: 16px;

	.catalog-list &,
	.detail & {
		margin-bottom: 0;
	}
}