.banner-content {
	margin: -18px -24px 40px;
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	position: relative;

	&__pic {
		display: block;
		width: 100%;
	}

	&__desc {
		position: absolute;
		left: 24px;
		top: 80px;
		max-width: 368px;
	}

	&__text {
		color: rgb(88, 88, 90);
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
	}

	@media (--phone) {
		margin: -8px -16px 24px;
		border-radius: 0;
		background: #212528;
		padding: 185px 16px 16px;

		&__pic {
			position: absolute;
			left: 0;
			top: 0;
		}

		&__desc {
			padding: 0;
			position: relative;
			left: auto;
			top: auto;
			border-bottom: 1px solid rgba(255, 255, 255, 0.3);
			margin-bottom: 24px;
		}

		.title {
			color: #fff;
		}

		&__text {
			font-size: 10px;
			line-height: 2;
			color: #fff;
		}
	}
}