.banner {
	&__item {
		border-radius: 5px;
		overflow: hidden;
		margin-bottom: 14px;
		display: block;
		position: relative;
		text-decoration: none;

		&_indent {
			margin-bottom: 13px;
		}
	}

	&__footer {
		width: 100%;
		height: 80px;
		border-radius: 5px;
		background-color: rgba(0, 0, 0, 0.5);
		position: absolute;
		left: 0;
		bottom: 0;
		padding: 0 24px;
		display: flex;
		align-items: center;
		color: #ffffff;
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
		backdrop-filter: blur(5px);

		&:after {
			content: '';
			position: absolute;
			right: 32px;
			top: 50%;
			border-left: 11px solid #dd0016;
			border-top: 8px solid transparent;
			border-bottom: 8px solid transparent;
			margin-top: -8px;
		}
	}

	&__pic {
		display: block;
		width: 100%;
	}

	&__desc {
		position: absolute;
		left: 24px;
		bottom: 24px;
	}

	&__title {
		color: #ffffff;
		font-size: 24px;
		font-weight: 500;
		display: block;
		margin-bottom: 24px;
	}

	&__text {
		color: #ffffff;
		margin-bottom: 16px;
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		display: block;
		margin-bottom: 16px;
	}

	&__button {
		@include button;
	}

	@media (--phone) {
		margin: 0 -16px 8px;

		&__item {
			border-radius: 0;
			margin-bottom: 8px;
		}

		&__desc {
			bottom: 16px;
			left: 16px;
		}

		&__title {
			font-size: 16px;
			margin-bottom: 8px;
			line-height: 20px;
		}

		&__text {
			font-size: 10px;
			line-height: 2;
		}

		&__footer {
			height: 68px;
			font-size: 14px;
			padding: 0 16px;
			border-radius: 0;
			line-height: 20px;

			&:after {
				right: 16px;
			}
		}
	}
}