.content-block {
	border-radius: 5px;
	box-shadow: inset 0 1px 0 0 #ffffff;
	background-color: var(--very-light-pink);
	padding: 18px 24px 30px;
	margin-bottom: 24px;
	position: relative;

	&_delivery {
		background-image: url(../images/delivery.png) !important;
		background-position: right top !important;
		background-repeat: no-repeat !important;
	}

	&_bg_white {
		background: #fff;
		border-radius: 5px 5px 0 0;
		margin-bottom: 0;
	}

	&_bdrs {
		border-radius: 5px;
	}

	&__row {
		display: flex;
		align-items: center;

		&_reverse {
			flex-direction: row-reverse;
			justify-content: flex-end;
		}

	}

	&__crow {
		margin-bottom: 16px;
	}

	&__text {
		margin-right: 16px;
		font-size: 16px;
		line-height: 1.88;
		color: #000000;
	}

	&__row_reverse &__text {
		margin-left: 48px;
	}

	&__menu {}

	&__icon {
		position: absolute;
		right: 0;
		top: 0;
		width: 347px;
		height: 100%;
		background: url("../images/content-block__icon.png") no-repeat;
	}

	&__info {
		text-align: right;
		color: rgb(0, 0, 0);
		font-size: 14px;
		font-weight: 400;
	}

	@media (--phone) {
		margin: 0 -16px 16px;
		border-radius: 0;
		padding: 8px 16px 16px;

		&_bg_white {
			margin-bottom: 0;
		}

		&_mobile {
			margin-bottom: 16px !important;
		}

		&_bdrs {
			margin-bottom: 16px;
		}

		&_delivery {
			font-size: 10px;
			line-height: 2;
			background-image: url(../images/delivery768.svg) !important;
			background-size: 100% auto;

			p {
				margin-bottom: 8px;
			}
		}

		&__row {
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;

			&_reverse {
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-start;
			}

		}

		&__text {
			margin: 0 0 8px !important;
			font-size: 10px;
			line-height: 2;
		}

		&__menu {
			overflow-x: auto;
			@include scrollCss();
			width: 100%;
		}

		&__icon {
			width: 187px;
			height: 86px;
			background-size: contain;
		}

		&__info {
			font-size: 10px;
			line-height: 1;
			text-align: left;
		}
	}
}