.data-dropdown {
	&__inner {}

	&__title {}

	&__titletext {}

	&__button {}

	&__section {
		overflow-y: auto;
		max-height: 0;
		@include scrollCss();
		transition: max-height 500ms;
		border-bottom: 1px solid rgb(243, 243, 243);

		&:last-child {
			border-bottom: none;
		}
	}

	&__title.active + &__section {
		max-height: 2000px;
	}

	&__field {}
}