.download {
	margin-bottom: 24px;

	&__link {
		background: url("../images/download__link.svg") no-repeat left center;
		padding: 0 0 0 28px;
		color: rgb(221, 0, 22);
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;

		span {
			@include link()
		}
	}
}