.hausdorf-feedback {
	border-radius: 5px;
	border: 1px solid rgb(215, 215, 215);
	background-color: rgb(255, 255, 255);
	padding: 32px 40px;

	&__title {
		color: rgb(0, 0, 0);
		font-size: 24px;
		font-weight: 300;
	}

	&__section {
		display: flex;
		align-items: center;
	}

	&__photo {
		margin-right: 24px;
	}

	&__pic {
		display: block;
		max-width: 100%;
		max-width: 100%;
	}

	&__name {
		color: rgb(0, 0, 0);
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
	}

	&__text {
		color: rgb(0, 0, 0);
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		margin-bottom: 8px;
	}

	&__button {
		@include button($h: 32px, $p: 0 16px)
	}

	@media (--phone) {
		margin: 0 -16px -16px;
		border-radius: 0;
		padding: 24px 16px 0;

		&__title {
			font-size: 16px;
			margin-bottom: 8px;
		}

		&__section {
			padding-bottom: 75px;
			position: relative;
		}

		&__photo {
			width: 80px;
			height: 80px;
			margin-right: 16px;
		}

		&__name {
			font-size: 14px;
		}

		&__text {
			font-size: 10px;
			line-height: 2;
		}

		&__button {
			position: absolute;
			left: 0;
			bottom: 24px;
			right: 0;
		}
	}
}