.label {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 16px;
	top: 16px;

	.detail__label & {
		position: static;
		flex-direction: row;
		justify-content: flex-start;

		&__item {
			width: auto;
			height: 32px;
			padding: 0 24px;
			margin: 0 8px 0 0;
		}
	}

	&__item {
		width: 126px;
		height: 24px;
		border-radius: 8px;
		background-color: #005fb2;
		justify-content: center;
		align-items: center;
		display: flex;
		font-size: 12px;
		text-align: center;
		color: #ffffff;
		line-height: 1;
		margin-bottom: 8px;

		&_red {
			background: #dd0016;
		}
	}

	&__text {}
}