.partners {
	box-shadow: inset 0 1px 0 rgb(255, 255, 255);
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	padding: 24px;
	position: relative;

	&__brands {
		margin-bottom: 32px;
		padding-bottom: 10px;

		&_flex {
			margin-bottom: 0;
		}

		&-row {
			display: flex;
			align-items: stretch;
			flex-wrap: wrap;
		}

		&-rowitems {
			justify-content: space-around;
			display: flex;
			align-items: stretch;
			flex-wrap: wrap;
			border-bottom: 1px solid rgb(243, 243, 243);
			margin-bottom: 24px;
		}

		&-col {
			width: 20%;
			height: 50px;
			align-items: stretch;
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 30px;
			justify-content: center;
		}

		&-colitems {
			margin-bottom: 30px;
			min-width: 20%;
		}

		&-link {
			display: flex;
			align-items: center;
		}

		&-pic {
			display: block;
			max-height: 100%;
		}

		&-col:nth-child(2) &-pic,
		&-col:nth-child(3) &-pic,
		&-col:nth-child(4) &-pic {
			margin: 0 auto;
		}
	}

	&__footer {
		display: flex;
		justify-content: center;
		margin-bottom: 48px;
	}

	&__button {
		@include button()
	}

	&__bottom {
		margin-bottom: 0;
	}

	&__map {
		iframe {
			border: none;
		}
	}

	@media (--phone) {
		margin: 0 -16px 16px;
		padding: 8px 16px 0;

		&__brands {
			margin-bottom: 0;

			&-row {
				margin-bottom: -8px;
			}

			&-col {
				width: calc(100% / 3);
				margin-bottom: 16px;
			}

			&-rowitems {
				margin-bottom: 0;
				border: none;
			}

			&-colitems {
				width: calc(100% / 3);
				margin-bottom: 24px;
				display: flex;
				align-items: center;
			}

			&-pic {
				max-width: 80%;
				margin: 0 auto;
			}
		}

		&__footer {
			margin-bottom: 24px;
		}

		&__button {
			width: 100%;
		}

		&__map {
			margin: 0 -16px;

			iframe {
				display: block;
			}
		}
	}
}