.sell-product-text {
	margin: 0 -24px 30px;
	padding: 24px;
	box-shadow: inset 0 1px 0 rgb(255, 255, 255);
	background-color: rgb(243, 243, 243);

	.row {
		margin-left: -20px;
		margin-right: -20px;

		[class*=col-] {
			padding-left: 20px;
			padding-right: 20px;
		}
	}

	&__title {
		line-height: 24px;
		font-size: 16px;
		font-weight: 500;
		margin-bottom: 15px;
	}

	@media (--phone) {
		margin: 0 -16px;
		padding: 16px 16px 50px;
		font-size: 10px;
		line-height: 2;
		position: relative;

		&__more {
			position: absolute;
			left: 16px;
			bottom: 16px;
			font-size: 12px;
			line-height: 14px;
			color: #58585a;
			border-bottom: 1px dotted;
			cursor: pointer;

			&:after {
				content: 'Показать весь глоссарий';
			}
		}

		&__inner {
			max-height: 320px;
			overflow: hidden;
			transition: max-height 400ms;
		}

		&__more.active:after {
			content: 'Скрыть глоссарий';
		}

		&__more.active+&__inner {
			max-height: 2000px;
		}

		&__title {
			font-size: 12px;
			line-height: 18px;
			margin-bottom: 8px;
		}

		p {
			margin-bottom: 8px;
		}
	}
}