.service-center-brand {
	padding-top: 20px;

	&__row {
		display: flex;
	}

	&__col {
		width: 60%;

		&:first-child {
			width: 40%;
			border-right: 2px solid rgb(243, 243, 243);
			padding-right: 47px;
		}

		&:last-child {
			padding-left: 47px;
		}
	}

	&__photo {
		margin-bottom: 32px;
	}

	&__link {}

	&__pic {
		display: block;
		max-width: 100%;
	}

	&__back {
		width: 100%;
		height: 40px;
		border-radius: 8px;
		border: 1px solid rgb(215, 215, 215);
		background-color: rgb(255, 255, 255);
		color: rgb(0, 0, 0);
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 14px;
		font-weight: 500;
	}

	&__field {
		margin-bottom: 28px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__title {
		color: rgb(0, 0, 0);
		margin-bottom: 10px;
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
	}

	&__phone {
		color: rgb(0, 0, 0);
		padding-left: 25px;
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		margin-bottom: 5px;
		background: url("../images/phone.svg") no-repeat left 2px;

		a {
			color: rgb(0, 0, 0);
		}
	}

	&__address {
		color: rgb(0, 0, 0);
		padding-left: 25px;
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		background: url("../images/address.svg") no-repeat left 2px;
	}

	@media (--phone) {
		padding-top: 10px;
		margin-bottom: 16px;

		&__row {
			flex-direction: column;
		}

		&__col {
			width: 100%;

			&:first-child {
				padding: 0;
				border: none;
				width: 100%;
			}

			&:last-child {
				padding: 0;
			}
		}

		&__photo {
			margin-bottom: 24px;
		}

		&__link {}

		&__pic {
			display: block;
			max-width: 100%;
		}

		&__back {
			margin-bottom: 24px;
		}

		&__field {
			margin-bottom: 24px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&__title {
			font-size: 14px;
			line-height: 1.29;
		}

		&__phone {
			font-size: 10px;

			a {}
		}

		&__address {
			font-size: 10px;
		}
	}
}