.sidebar-info {
	border: 1px solid #eeeeee;
	background-color: #ffffff;
	padding: 15px 27px 15px 35px;
	margin-bottom: 28px;

	&__list {
		margin: 0;
		padding: 0;
	}

	&__item {}

	&__link {
		color: #2e2e2e;
		font-size: 14px;
		line-height: 33px;
	}
	@media (--phone) {
		display: none;
	}
}