.title {
	font-size: 24px;
	font-weight: 500;
	color: #000000;
	margin-bottom: 16px;

	&_small {
		color: rgb(0, 0, 0);
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
		margin-bottom: 16px;
	}

	&_center {
		text-align: center;
	}

	&_catalog {
		margin-bottom: 0;

		span {
			margin-left: 16px;
			color: rgb(165, 165, 166);
			font-size: 14px;
			font-weight: 500;
		}
	}

	@media (--phone) {
		font-size: 16px;
		margin-bottom: 8px;

		&_small {
			font-size: 14px;
			line-height: 1.29;
			margin-bottom: 8px;
		}

		&_catalog {
			span {
				font-size: 10px;
				margin-left: 8px;
				font-weight: 500;
				white-space: nowrap;
			}
		}
	}
}