.tooltip {
	width: 283px;
	box-shadow: 0 2px 19px rgba(0, 0, 0, 0.1);
	background-color: rgb(255, 255, 255);
	padding: 16px 24px;
	color: rgb(88, 88, 90);
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;

	b {
		color: rgb(0, 0, 0);
		display: block;
		font-weight: bold;
	}

}
