.wrapper-mobile {
	display: none;

	@media (--phone) {
		display: block;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		transition: transform 400ms;
		background: #fff;
		height: 100vh;
		overflow-y: auto;
		@include scrollCss();

		body:not(.menu-open) & {
			transform: translate(-100%, 0);
		}

		.header__desktop {
			display: block;
			padding-top: 46px;
			background: #d7d7d7;
		}

		.logo {
			position: absolute;
			left: 16px;
			top: 11px;
			transform: translate(0)
		}

		.header__top {
			display: block;
			margin-bottom: 0;
		}

		.header__section {
			width: 100%;
			background: #f3f3f3;

			&-top {
				width: 100%;
				border-radius: 0;
				height: 70px;
				box-shadow: inset 0 1px 0 0 #ffffff;
				background-image: linear-gradient(to top, #fcfcfc, #e0e0e0);
				margin-bottom: 64px;

				&:before {
					height: 70px;
					background-size: contain;
					left: -80px;
					transform: translate(0);
				}
			}
		}

		.header-basket {
			top: 86px;
			padding: 0 0 0 31px;
			min-height: 31px;

			&__icon {
				width: 23px;
				height: 30px;
				background-size: contain;
			}

			&__text {
				font-size: 9px;
				margin-bottom: -5px;
			}

			&__price {
				font-size: 12px;
			}
		}

		.header-compare {
			left: 16px;
			top: 90px;
		}

		.header-favorite {
			left: 30%;
			top: 90px;
		}

		.header-phone {
			right: 16px;
			flex-direction: column;

			&__item {
				margin: 0;
			}

			&__tel,
			&__tel a {
				font-size: 12px;
				line-height: 1.58;
			}

			&__text {
				display: none;
			}
		}

		.header-city {
			left: 32px;
			top: 11px;

			&__text a {
				font-size: 10px;
				line-height: 1;
			}
		}

		.header__search {
			display: none;
		}

		.menu-header {
			white-space: nowrap;
			overflow-x: auto;
			@include scrollCss();

			&__link {
				padding: 0 16px;
			}
		}

		.header__menu {
			width: auto;

			.menu-mobile-change & {
				width: 100%;
			}
		}

		.header__bottom {
			padding: 64px 16px 16px;
			position: relative;
			background: #fff;
		}

		.header__catalog {
			width: 100%;

			.menu-mobile-change & {
				width: auto;
			}
		}

		.header__catalogshow,
		.header__brandshow {
			height: 32px;
			border-radius: 19.5px;
			background-color: #f3f3f3;
			padding: 0 24px;
			font-size: 14px;
			color: #58585a;
			line-height: 1;
			position: absolute;
			left: 16px;
			top: 16px;
			display: flex;
			align-items: center;
			justify-content: center;

			&:before {
				display: none;
			}

			&.active {
				background-image: linear-gradient(to top, #8b8b8b, #b8b8b8);
				color: #fff;
			}
		}

		.header__brandshow {
			left: auto;
			right: 16px;
			display: flex;
		}
	}
}