.seo-catalog {
	color: rgb(0, 0, 0);
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	padding: 24px;

	&__title,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {}

	&__inner {}

	&__title {
		color: rgb(0, 0, 0);
		margin-bottom: 16px;
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
	}

	&__title2 {
		color: rgb(0, 0, 0);
		margin-bottom: 16px;
		font-size: 16px;
		font-weight: 500;
	}

	&__video {
		margin-bottom: 1.5rem;
		position: relative;

		img {
			max-width: 100%;
			display: block;
			margin: 0 auto;
		}

	}

	&__play {
		left: 50%;
		top: 50%;
		margin-top: -32px;
		width: 64px;
		height: 64px;
		border-radius: 50%;
		margin-left: -32px;
		position: absolute;
		background: url(https://icongr.am/fontawesome/caret-right.svg?size=40&color=ffffff) rgba(26, 26, 26, .2) no-repeat 15px center;
	}

	img {
		max-width: 100%;
		display: block;
		margin: 0 auto 1.5rem;
	}

	ul {
		padding-left: 20px;
		color: #dd0016;

		span {
			color: #000;
		}

	}

	ol {
		padding: 0;
		counter-reset: section;
		list-style: none;

		li {
			margin-bottom: 1rem;
			position: relative;
			padding-left: 50px;

			&:before {
				counter-increment: section;
				content: counter(section);
				color: rgb(221, 0, 22);
				font-size: 14px;
				font-weight: 900;
				position: absolute;
				left: 12px;
			}

		}

	}

	a {
		@include link()
	}

	@media (--phone) {
		margin: 0 -16px 16px;
		font-size: 10px;
		line-height: 2;
		padding: 16px 16px 50px;
		position: relative;

		&__inner {
			overflow: hidden;
			max-height: 470px;
			transition: max-height 500ms;
		}

		&__more.active+&__inner {
			max-height: 2000px;
		}

		&__title {
			font-size: 14px;
			line-height: 1.29;
			margin-bottom: 4px;
		}

		p {
			margin-bottom: 8px;
		}

		img {
			margin-bottom: 24px;
		}

		ol {
			margin-left: 0;
			margin-bottom: 16px;
			padding-left: 0;

			li {
				padding-left: 15px;

				&:before {
					left: 0;
					font-size: 10px;
					top: 5px;
					line-height: 1;
				}
			}
		}

		ul {}

		&__more {
			position: absolute;
			left: 16px;
			bottom: 24px;
			font-size: 12px;
			line-height: 14px;
			color: #a5a5a6;
			border-bottom: 1px dotted;
			cursor: pointer;

			&:after {
				content: 'Читать подробнее'
			}

			&.active:after {
				content: 'Свернуть';
			}
		}
	}
}