.seo-catalog

	include /news/news-col/news-col
	.seo-catalog__more(data-toggle-class)
	.seo-catalog__inner
		.seo-catalog__title Холодильники в бутике Hausdorf
		p Встраиваемый или отдельно стоящий холодильник — важнейшая техника для дома. Современные модели такого оборудования позволяют длительное время сохранять продукты свежими. Они делают лёд, мгновенно замораживают зелень и ягоды, сохраняя их вкус, поддерживают в своих камерах не только температуру, но и оптимальную влажность. Производители оснащают такую технику стеклянными дверцами, стильной металлической фурнитурой, электронными панелями управления.
		img.lazyload(data-src="images/seo_pic_10.jpg")
		.seo-catalog__title Двухкамерные модели 
		p Такие холодильники наиболее распространены и востребованы. Это техника с верхней или нижней морозильной камерой. Она подойдёт большинству потребителей, так как является универсальной. В данной категории можно найти модели в белой, бежевой, чёрной, красной и другой расцветке. 
		.seo-catalog__title «Сайд-бай-сайд» 
		p Это большие двухдверные холодильники, самые вместительные в нашем ассортименте. Купить их можно для установки не только на домашней кухне, но и на предприятии, в офисе. Практически все производители предлагают такую технику для требовательных покупателей. 
		div.seo-catalog__video
			img.lazyload(data-src="images/seo_pic_11.jpg")
			a.seo-catalog__play(href="#")
		.seo-catalog__title Необычная техника 
		p В нашем каталоге найдутся модели холодильников для людей со специфическими запросами. Так, например, у нас вы можете заказать: 
		ol
			li Морозильный ларь. Это холодильник-морозильник с дверцей, расположенной сверху. Он подходит для длительного хранения продуктов. Как правило, его покупают для замораживания ягод или других продуктов с дачи. Главное преимущество такой техники — доступная цена и небольшие размеры.
			li Винный шкаф. Холодильник с винным шкафом поможет вам хранить дорогое вино в идеальных условиях. Внутри его камеры поддерживается оптимальная температура и влажность. Кроме этого, такая техника отличается особенно тихими компрессорами, которые работают практически без вибрации. 
			li Мини-бары. Это агрегаты со стильным дизайном, иногда с интересной раскраской корпуса. Внутреннее пространство организовано специально для размещения бутылок и банок с напитками. 
			li Модели с лёдогенераторами. Устройства для изготовления льда имеются у многих топовых моделей с морозилкой. Вода для получения льда заливается в специальную камеру. Как правило, такие лёдогенераторы могут подключаться к водопроводу или работать автономно. 
			li Шкафы для шоковой заморозки. Используются для очень быстрого замораживания продуктов. Чем быстрее происходит этот процесс, тем лучше сохраняются структура продуктов и полезные вещества в них. 

		p Уточнить характеристики и функционал понравившейся вам бытовой техники можно у наших консультантов.