.seo-catalog
	.seo-catalog__more(data-toggle-class)
	.seo-catalog__inner
		.seo-catalog__title Стиральные машины из Германии
		p Немецкое производство для потребителей – синоним качества и лидерства на рынке, и стиральные машины — не исключение. Педантичная сборка, современные технологии и длительный срок эксплуатации — всё это о стиральных автоматах Miele, Bosch, Siemens.
		.seo-catalog__title Особенности техники
		p Техника премиум-класса в зависимости от производителя отличается интересными опциями и конструктивными особенностями, существенно облегчающими жизнь владельца. В их числе:
		ul
			li
				span интеллектуальный контроль;
			li
				span отложенный старт (до 24 часов);
			li
				span защита от протечек (с электронными датчиками);
			li
				span подсветка бака.	
		.seo-catalog__title2 Miele
		p Предлагаем вам оценить устройства:
		ul
			li
				span популярные у покупателей — классическую #[a(href="#") WDD030] (64 900 руб.) и стильную #[a(href="#") WKB120 CHROMEEDITION] (79 900 руб.);
			li
				span энергоэффективные (класс энергопотребления А), с сенсорными кнопками — #[a(href="#") WKF121] (99 900 руб.);
			li
				span с уникальным барабаном сотовой конструкции и обработкой паром — #[a(href="#") WMR561WPS] (159 900 руб.);
			li
				span элитную технику для профессиональной стирки — #[a(href="#") PW 6080 Vario LP RU] (443 000 руб.).		
		.seo-catalog__title2 Siemens
		p Вашему вниманию представлены модели:
		ul
			li
				span доступные по цене, с автодозировкой моющих средств iDos — #[a(href="#") WM14T541OE] (58 990 руб.);
			li
				span с технологией sensoFresh для быстрого придания свежести деликатным тканям — #[a(href="#") WM14T740OE] (64 990 руб.);
			li
				span с программами ночной стирки, а также стирки с сушкой — #[a(href="#") WK14D541OE] (96 990 руб.).	
		.seo-catalog__title2 Bosch
		p В интернет-магазине вы найдёте высокотехнологичные стиральные машинки разных ценовых категорий, такие как:
		ul
			li
				span с инверторным мотором (для эффективного потребления энергии) — #[a(href="#") WAW28440OE] (73 990 руб.)
			li
				span с выбором температуры сушки по типу ткани — #[a(href="#") WVG30461OE] (79 990 руб.);
			li
				span удобные встраиваемые и энергоэффективные — #[a(href="#") WIS 28440 OE] (81 700 
		.seo-catalog__title Обслуживание и реализация
		p Некоторые покупатели отмечают в своих отзывах, что стиральные машинки из Германии стоят довольно дорого, однако в данном случае цена соответствует идеальному качеству. Будь то машина оригинальной немецкой сборки или аппарат, выпущенный за пределами родины бренда (например, в Чехии, как Miele), — они отвечают высоким стандартам. Все агрегаты снабжены сертификатами, удобны и безопасны и служат без поломок до 30 лет. Даже если необходимость ремонта возникает, беспокоиться не стоит: компании обеспечивают сервисные центры в России всеми необходимыми комплектующими, а также предоставляют длительную гарантию. Об этом можно прочесть на официальных сайтах #[a(href="#") Miele], #[a(href="#") Siemens], #[a(href="#") Bosch].
		p В нашем #[a(href="#") салоне] вы можете ознакомиться с обширным ассортиментом техники производства Германии («Миле», «Бош», «Сименс») и быстро купить выбранную модель. Специалисты готовы рассказать вам об особенностях стиральных машин. Мы также осуществляем #[a(href="#") бесплатную доставку] по Москве и обеспечиваем #[a(href="#") подключение] аппаратов.