mixin reviewsProduct(data)

	- var back = data.back || 'Вернуться к товару'
	.reviews-product
		.reviews-product__row
			.reviews-product__col
				.reviews-product__photo
					a.reviews-product__link(href="#")
						img.reviews-product__pic.lazyload(data-src="images/reviews-product__pic.png")
				.reviews-product__back= back
			.reviews-product__col
				.title Отзывы о модели De Dietrich DPI7572G
				.reviews-product__title
					.reviews-product__titletxt Средняя оценка
						span 5
					.ratings.ratings_output
						.ratings__section
							.ratings__start
							.ratings__click(style='width: 80%;')
						.ratings__total 100 отзывов
					a.reviews-product__btn(href="#") Оставить отзыв
				.reviews-product__section
					.reviews-product__text Отзывы с оценкой:
					.reviews-product__list(data-tabs)
						a(href="#", data-hash="#js-tabs-1", data-tabs-children) Любой
						a(href="#", data-hash="#js-tabs-2", data-tabs-children) Положительные
						a(href="#", data-hash="#js-tabs-3", data-tabs-children) Отрицательные
				.tabs
					.tabs__inner(id="js-tabs-1") 
						.reviews-product__cell
							.ratings.ratings_output
								.ratings__section
									.ratings__start
									.ratings__click(style='width: 100%;')
								.ratings__total.ratings__total_bottom
									b 50% 
									| 25 отзывов
						.reviews-product__cell
							.ratings.ratings_output
								.ratings__section
									.ratings__start
									.ratings__click(style='width: 80%;')
								.ratings__total.ratings__total_bottom
									b 28%
									| 13 отзывов
						.reviews-product__cell
							.ratings.ratings_output
								.ratings__section
									.ratings__start
									.ratings__click(style='width: 60%;')
								.ratings__total.ratings__total_bottom
									b 22% 
									| 12 отзывов
						.reviews-product__cell
							.ratings.ratings_output
								.ratings__section
									.ratings__start
									.ratings__click(style='width: 40%;')
								.ratings__total.ratings__total_bottom
									b 7% 
									| 7 отзывов
					.tabs__inner(id="js-tabs-2")
						.reviews-product__cell
							.ratings.ratings_output
								.ratings__section
									.ratings__start
									.ratings__click(style='width: 100%;')
								.ratings__total.ratings__total_bottom
									b 50% 
									| 25 отзывов
						.reviews-product__cell
							.ratings.ratings_output
								.ratings__section
									.ratings__start
									.ratings__click(style='width: 80%;')
								.ratings__total.ratings__total_bottom
									b 28%
									| 13 отзывов
						.reviews-product__cell
							.ratings.ratings_output
								.ratings__section
									.ratings__start
									.ratings__click(style='width: 60%;')
								.ratings__total.ratings__total_bottom
									b 22% 
									| 12 отзывов			
					.tabs__inner(id="js-tabs-3")
						.reviews-product__cell
							.ratings.ratings_output
								.ratings__section
									.ratings__start
									.ratings__click(style='width: 100%;')
								.ratings__total.ratings__total_bottom
									b 50% 
									| 25 отзывов
						.reviews-product__cell
							.ratings.ratings_output
								.ratings__section
									.ratings__start
									.ratings__click(style='width: 80%;')
								.ratings__total.ratings__total_bottom
									b 28%
									| 13 отзывов
						.reviews-product__cell
							.ratings.ratings_output
								.ratings__section
									.ratings__start
									.ratings__click(style='width: 60%;')
								.ratings__total.ratings__total_bottom
									b 22% 
									| 12 отзывов
