.basket-payment {
	margin-bottom: 16px;
	padding-top: 4px;

	&__title {
		margin-bottom: 16px;
	}

	&__section {}

	&__field {
		margin-bottom: 24px;
	}

	&__info {
		border-radius: 5px;
		background-color: #f5f7fa;
		padding: 24px;
	}

	&__icons {
		display: flex;
		align-items: center;
		margin-bottom: 16px;

		img {
			margin-right: 24px;
		}
	}

	&__text {
		color: #000000;
		font-size: 13px;
		font-weight: 400;
		line-height: 18px;

		a {
			@include link()
		}
	}

	@media (--phone) {
		padding-bottom: 0;
		margin-bottom: 0;

		&__title {
			font-size: 10px;
			line-height: 2;
			margin-bottom: 4px;
		}

		&__field {
			margin-bottom: 16px;

			.checkbox {
				margin-bottom: 0 !important;
			}
		}

		&__info {
			display: none;
		}
	}
}