.basket-payment
	
	.basket-payment__title Способ оплаты:

	.basket-payment__section
		.row
			.col-sm-5
			
				include /form/form
				
				.basket-payment__field
					+checkbox({
						mod: 'checkbox_radio',
						text: 'Наличными при доставке',
						type: 'radio'
					})
				.basket-payment__field
					+checkbox({
						mod: 'checkbox_radio',
						text: 'Безналичный рассчет',
						type: 'radio'
					})
				.basket-payment__field
					+checkbox({
						mod: 'checkbox_radio',
						text: 'Онлайн оплата',
						type: 'radio'
					})
					
			.col-sm-7
				.basket-payment__info
					.basket-payment__icons
						img.lazyload(data-src="images/basket-payment__icons1.svg")
						img.lazyload(data-src="images/basket-payment__icons2.svg")
					.basket-payment__text Вы можете оплатить покупку с банковских карт, через терминалы, интернет-банкинг и #[a(href="#") другими способами]
