{% macro social() %}
<div class="social">
	<ul class="social__list">
		<li class="social__item">
			<a class="social__link social__link_vk" href="#">В контакте</a>
		</li>
		<li class="social__item">
			<a class="social__link social__link_fb" href="#">Facebook</a>
		</li>
		<li class="social__item">
			<a class="social__link social__link_youtube" href="#">Youtube</a>
		</li>
	</ul>
</div>
{% endmacro %}
