.compare
	.compare__inner
	
		include /form/form
		
		+checkbox({
			mod: 'compare__checkbox',
			text: 'Показывать только отличия',
			checked: true
		})
		include /compare/compare-header/compare-header
