- var arr = require('./footer-info.json')

.footer-info
	.footer-info__inner
		.row
			each val, i in arr
				.col-sm-3
					.footer-info__item
						.footer-info__photo
							img(class='footer-info__pic lazyload', data-src='' + val.src + '')
						.footer-info__desc
							.footer-info__name= val.name
							.footer-info__text= val.text
							if i != 3
								a(href='#', class='footer-info__link') Подробнее
