nav.menu
	.menu__inner
		.menu__row
			.menu__col

				- var arr = require('./menu.json')
				- var index = 0;
					
				each val in arr
					.menu__cell
						
						each list in val.list
							ul.menu__list
								each j, i in list
									if i == 0
										li.menu__item.menu__item_title(data-menu-dropdown)
											.menu__icon
												img.menu__icon-pic.lazyload(data-src="images/miele_pw" + (index = index + 1) + ".png")
											.menu__title(href='#')= j
									else
										li.menu__item
											a.menu__link(href='#')= j 

			.menu__col
				.menu-brand-item
					.menu-brand-item__logo
						img.menu-brand-item__brand.lazyload(data-src='images/menu-brand-item__brand.svg', alt='')
					a.menu-brand-item__name(href='#') Прекрасно адаптируется к условиям вашего бизнеса
					.menu-brand-item__photo
						a.menu-brand-item__link(href='#')
							img.menu-brand-item__pic.lazyload(data-src='images/menu-brand-item__pic.png', alt='')
					.menu-brand-item__text Стиральная машина Miele PW 6080 Vario RU
					a.menu-brand-item__buy(href='#') Купить
