.menu {
	position: relative;
	top: 8px;

	&__inner {
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0;
		pointer-events: none;
		padding: 24px;
		box-shadow: 0 2px 46px rgba(0, 0, 0, 0.1);
		border-radius: 8px;
		background-color: #ffffff;
		width: 1156px;
		transition: opacity 500ms;
	}

	.menu-show &__inner {
		opacity: 1;
		pointer-events: auto;
	}

	&__row {
		display: flex;
		justify-content: space-between;
	}

	&__col {
		&:nth-child(1) {
			display: flex;
		}

		&:nth-child(2) {
			width: 233px;
		}
	}

	&__cell {
		width: 25%;
		padding-right: 24px;
	}

	&__list {
		list-style: none;
		margin: 0 0 24px;
		padding: 0;
	}

	&__icon {
		display: none;
	}

	&__item {
		&_title {
			margin-bottom: 5px;
		}
	}

	&__title {
		color: #dd0016;
		font-size: 14px;
		font-weight: 500;
	}

	&__link {
		color: #000000;
		font-size: 13px;
		font-weight: 400;

		&:hover {
			text-decoration: underline;
		}
	}

	@media (--phone) {
		top: auto;

		.menu-mobile-change & {
			display: none;
		}

		&__inner {
			position: static;
			padding: 0;
			pointer-events: auto;
			opacity: 1;
			width: 100%;
			box-shadow: none;
		}

		&__row {
			flex-direction: column;
		}

		&__col {
			flex-direction: column;

			&:first-child {
				border-top: 1px solid #f3f3f3;
			}

			&:nth-child(2) {
				display: none;
			}
		}

		&__cell {
			width: 100%;
			padding: 0;
		}

		&__list {
			margin: 0;
			max-height: 50px;
			overflow: hidden;
			transition: max-height 400ms;
			border-bottom: 1px solid #f3f3f3;

			&.active {
				max-height: 1000px;
			}
		}

		&__item {

			&_title {
				height: 50px;
				display: flex;
				align-items: center;
				margin-bottom: 0;
			}
		}

		&__title {
			font-size: 14px;
			font-weight: 500;
			line-height: 1.29;
			color: #000000;
		}

		&__icon {
			display: flex;
			align-items: center;
			width: 40px;
			flex-shrink: 0;
		}

		&__link {
			font-size: 12px;
			line-height: 2;
			padding: 5px 0 5px 40px;
			display: block;
		}

		&__item:last-child &__link {
			padding-bottom: 20px;
		}
	}
}