head
	title Aleksei

	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	//- script(src="js/mobile.js") 

	meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")