.main-info {
	box-shadow: inset 0 1px 0 #ffffff;
	border-radius: 5px;
	background-color: #f3f3f3;
	margin-bottom: 16px;
	padding: 16px 24px;

	&__text {
		color: #000000;
		font-size: 13px;
		font-weight: 400;
		line-height: 20px;
		margin-bottom: -2px;
	}

	&__title,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: #000000;
		font-size: 16px;
		font-weight: 500;
		margin-bottom: 10px;
	}

	&__link {
		color: #dd0016;
		font-size: 14px;
		font-weight: 400;
		line-height: 30px;
		@include link();
	}

	@media (--phone) {
		margin: 0 -16px 16px;
		border-radius: 0;
		padding: 16px;

		&__title,
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-size: 12px;
			line-height: 1.5;
			margin-bottom: 8px;
		}

		&__text {
			font-size: 10px;
			line-height: 1.8;
		}

		&__link {
			font-size: 12px;
		}
	}
}