.main-info
	.main-info__text
		h1 Hausdorf — бутик элитной бытовой техники
		| Hausdorf — Ваш представитель в мире бытовой техники премиум-класса. Элитная бытовая техника — это техника, соответствующая высочайшему уровню жизни, самым жестким мировым стандартам и требованиям искушенных покупателей. Это техника, способная своим безупречным стилем и качеством подчеркнуть статус владельца, выразить его вкус и стать украшением любого интерьера.
		| Главное отличие нашей техники — это сочетание надежности и функциональности моделей профессионального уровня, а также современного дизайна и экологичности, которая позволяет экономично расходовать ресурсы и заботиться об окружающей среде.
	a.main-info__link(href="#") Подробнее
