.catalog-brand {
	margin-bottom: 24px;

	&__item {
		padding: 16px;
		border-radius: 5px;
		border: 1px solid #f3f3f3;
	}

	&__photo {
		height: 120px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 16px;
	}

	&__link {
		display: block;
	}

	&__pic {
		max-height: 150px;
		max-width: 100%;
	}

	&__title {
		margin-bottom: 8px;
		color: #000000;
		font-size: 13px;
		font-weight: 400;
		line-height: 18px;
	}

	&__titlelink {
		color: #000000;

		span {
			display: block;
		}
	}

	&__price {
		color: #000000;
		font-size: 14px;
		font-weight: 500;
		margin-bottom: 8px;
	}

	&__list {
		margin: 0;
		padding: 0;
		list-style: none;
		color: #a5a5a6;
		font-size: 13px;
		font-weight: 400;

		span {
			color: #000000;
			font-weight: 700;
		}
	}

	@media (--phone) {
		margin-bottom: 16px;
	}
}