mixin catalogBrand(data)
	
	- var name = data.name || '<span>Стиральная машина</span> Asko WMC844 P G'
	- var src = data.src || 'images/catalog-brand__pic.jpg'
	- var price = data.price || '2 118 000' 

	.catalog-brand__item
 	
		.catalog-brand__photo
			a.catalog-brand__link(href='#')
				img.catalog-brand__pic.lazyload(data-src='' + src + '', alt='')
		.catalog-brand__title(data-mh='catalog-brand-name')
			a.catalog-brand__titlelink(href='#') !{name}
		.catalog-brand__price
			=price 
			span руб.
		ul.catalog-brand__list
			li Ширина (см): #[span 91.6]
			li Общее количество конфорок: #[span 4] 
			li Регулировка мощности: #[span 9-ступенчатая]
			li Левая (кВт): #[span справа]
