.news-sale {
	&__products {
		padding-top: 24px;
	}

	&__banner {
		position: relative;
		margin-bottom: 24px;
	}

	&__desc {
		width: 389px;
		border-radius: 8px;
		background-color: rgba(0, 0, 0, 0.5);
		position: absolute;
		left: 32px;
		bottom: 32px;
		padding: 48px 40px;
	}

	&__pic {
		display: block;
		max-width: 100%;
		width: 100%;
	}

	&__title {
		margin-bottom: 25px;

		img {
			display: block;
		}

	}

	&__info {
		color: rgb(221, 0, 22);
		font-size: 16px;
		font-weight: 400;
		margin-bottom: 16px;
	}

	&__datesection {}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 24px;

		&-col {
			display: flex;
			align-items: center;
		}

	}

	&__date {
		color: rgb(165, 165, 166);
		font-size: 13px;
		font-weight: 400;
	}

	&__text {
		color: rgb(0, 0, 0);
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;

		ul {
			color: rgb(221, 0, 22);
			margin-left: 15px;
			padding-left: 20px;

			li {
				padding-left: 10px;

				span {
					color: #000;
				}

			}

		}

	}

	@media (--phone) {

		&__products {
			padding-top: 0;
		}

		&__banner {
			margin-bottom: 8px;

			img {
				border-radius: 5px;
				margin-bottom: 8px;
				display: block;
			}
		}

		&__desc {
			position: static;
			margin-bottom: 8px;
			background: none;
			padding: 0;
			width: auto;
		}

		&__pic {}

		&__title {
			display: none;
		}

		&__info {
			font-size: 10px;
			line-height: 2;
			color: #000000;
			margin-bottom: 4px;
		}

		&__datesection {}

		&__header {
			margin-bottom: 16px;
		}

		&__date {
			font-size: 10px;
		}

		&__text {
			font-size: 10px;
			line-height: 2;

			p {
				margin-bottom: 8px;
			}

			ul {
				margin: 0 0 8px;
			}
		}
	}

}