.news-sale
	.news-sale__banner
		img.news-sale__pic.lazyload(data-src="images/news-sale__pic.jpg", alt="")
		.news-sale__desc
			.news-sale__title
				img.lazyload(src="images/news-sale__title.png", alt="")
			.news-sale__info До конца акции осталось
			.news-sale__datesection
				include /news/news-counter/news-counter
				+newCounter() 
	.news-sale__header
		.news-sale__header-col
			.icon-text.icon-text_red Акция!
			a.button-favorite
				span.button-favorite__icon
				span.button-favorite__text В избранное
		.news-sale__header-col
			.news-sale__date 26.10.2018
	.news-sale__text
		p Раздаем подарки при покупке планетарного миксера!  До 28 декабря купи миксер Smeg SMF01… и получи в подарок комплект из трех аксессуаров:
		ul
			li 
				span ролик для приготовления пасты
			li 
				span насадка-мясорубка
			li 
				span насадка для равиоли			
		p * Акции от магазина не суммируются с акциями от производителей, подробности у наших менеджеров
