.detail-phone
	.detail-phone__title.detail__title Консультации специалиста:
	.detail-phone__text Наш консультант поможет Вам выбрать подходящую индукционную варочную панель.
	.detail-phone__small Позвоните:
	.detail-phone__phones
		a(href="#") +7 (495) 602-96-21
		a(href="#") +7 (800) 333-10-52
		
	.detail-phone__icon
