.detail-phone {
	border-radius: 5px;
	background-color: #f5f7fa;
	margin: 0 0 24px -24px;
	padding: 24px;
	position: relative;

	&__title {
		margin-bottom: 16px !important;
	}

	&__text {
		margin-bottom: 8px;
		max-width: 350px;
	}

	&__small {
		color: #787878;
		font-size: 11px;
		font-weight: 400;
		line-height: 24px;
	}

	&__phones {
		a {
			color: #dd0016;
			font-size: 16px;
			font-weight: 700;
			line-height: 24px;
			margin-right: 8px;
		}
	}

	&__icon {
		width: 133px;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		background: url("../images/support_icon.svg") no-repeat left center;
	}

	@media (--phone) {
		margin: 0 0 8px;
		padding: 16px;

		&__title {
			font-size: 14px;
			font-weight: 500;
			line-height: 1.29;
			margin-bottom: 4px !important;
		}

		&__text {
			font-size: 10px;
			line-height: 2;
			margin-bottom: 8px;
		}

		&__small {
			font-size: 10px;
			color: #787878;
			line-height: 1;
		}

		&__phones {
			font-size: 12px;
			font-weight: bold;

			a {
				font-size: 12px;
				font-weight: bold;
			}
		}

		&__icon {
			display: none;
		}
	}
}