.swiper-large

	.swiper-large__top
		.swiper-container(data-swiper-large)
			.swiper-wrapper
				each i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
					.swiper-slide 
						.swiper-large__item.swiper-large__item_large
							a.swiper-large__fancybox
								img.swiper-large__pic.swiper-large__pic_big.lazyload(data-src="images/swiper-large__pic_big.jpg")
			
	.swiper-large__bottom
		.swiper-container(data-swiper-large-thumb,  data-options!={ "slidesPerView": 5, "watchSlidesVisibility": true, "watchSlidesProgress": true, "breakpoints": {768: { "slidesPerView": 4, "spaceBetween": 0 }} })
			.swiper-wrapper
				each i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
					.swiper-slide 
						.swiper-large__item.swiper-large__item_small
							a
								img.swiper-large__pic.swiper-large__pic_small.lazyload(data-src="images/swiper-large__pic_small.jpg")
		.swiper__arrow.swiper__arrow_large
			.swiper__prev.swiper__prev_banner.js-swiper__prev
			.swiper__next.swiper__next_banner.js-swiper__next
