.button-compare {
	display: flex;
	align-items: center;
	font-size: 14px;
	font-weight: 500;
	color: #000000;
	text-decoration: none;
	cursor: pointer;

	&__icon {
		background: url("../images/header-compare__icon.svg") no-repeat;
		width: 20px;
		height: 20px;
	}

	&.active &__icon,
	&:hover &__icon {
		background: url("../images/header-compare__icon_active.svg") no-repeat center;
	}

	&__text {
		margin-left: 8px;
	}
}