.button-favorite {
	color: #000000;
	font-size: 14px;
	font-weight: 500;
	display: flex;
	align-items: center;
	cursor: pointer;

	&__icon {
		background: url("../images/header-favorite__icon.svg") no-repeat center;
		width: 20px;
		height: 20px;
	}

	&.active &__icon,
	&:hover &__icon {
		background: url("../images/header-favorite__icon_active.svg") no-repeat center;
	}

	&__text {
		margin-left: 8px;
	}
}