doctype html
html
	include /head/head
	body
		.page-notfound
			.page-notfound__inner
				img.page-notfound__pic.lazyload(data-srcset="images/404_768w.jpg 768w, images/404.jpg", data-src="images/404.jpg", alt="")
				.page-notfound__text
					.page-notfound__title Такой страницы не существует.
					| Через #[span.js-timer 5] секунд вы будете перенаправлены на #[a(href="/") главную страницу]

		script
			| (function() {
			|	var t = 5;
			|	var jsTimer = document.querySelector('.js-timer');
			| 	var timer = setInterval(function() {
			| 		t--;
			|		jsTimer.innerHTML = t;
			|		if(!t) {
			|			clearInterval(timer);
			|			location.href = '/dist/';
			|		}
			| 	}, 1000);
			| })()
