doctype html
html
	include /head/head
	body
		.wrapper
			include /header/global/header
			.middle
 
				.middle__container
 
					.content

						include /breadcrumbs/breadcrumbs
						
						.about-main
						
							+bread({
								text: 'О бутике Hausdorf'
							})
							
							.about-main__inner
							
								img.about-main__pic.lazyload(data-srcset="images/about-main__pic_768w.png 768w, images/about-main__pic.jpg 4000w", data-src="images/about-main__pic.jpg")
								
								.about-main__desc
									.about-main__title О бутике Hausdorf
									.about-main__text Все представленные на сайте Hausdorf торговые марки — Miele, Kuppersbusch, Neff, Restart, Ilve, Smeg, Liebherr, Gaggenau, De Dietrich и другие — это бренды с мировым именем. Бренды с историей, полной успеха и восторженных отзывов. С репутацией, которая наиболее наглядно демонстрирует правильность вашего выбора.
									.about-main__line
									.about-main__footer
										a.about-main__link(href="#")
											img.about-main__brand.lazyload(data-src="images/miele_logo.svg")
										a.about-main__link(href="#")
											img.about-main__brand.lazyload(data-src="images/kuppers_logo.svg")
										a.about-main__link(href="#")
											img.about-main__brand.lazyload(data-src="images/neff_logo.svg")
										a.about-main__link(href="#")
											img.about-main__brand.lazyload(data-src="images/ilve_logo.svg")
										a.about-main__link(href="#")
											img.about-main__brand.lazyload(data-src="images/smeg_logo.svg")
										a.about-main__link(href="#")
											img.about-main__brand.lazyload(data-src="images/Liebherr_logo.svg")
										a.about-main__link(href="#")
											img.about-main__brand.lazyload(data-src="images/Group_6.svg")
										a.about-main__link(href="#")
											img.about-main__brand.lazyload(data-src="images/De_dietrish_logo.svg")

						include /benefits/benefits-main/benefits-main
						
						.title.title_small.title_center Бутик Hausdorf — комплексное решение для вашего дома
						
						include /about/about-hausdorf/about-hausdorf
						
						.about-hausdorf
							+aboutHd({ 
								
							})
							+aboutHd({
								src: 'about-hd__pic2.jpg',
								src768: 'about-hd__pic2_768w.png',
								title: 'Кухни в бутике Hausdorf',
								text: 'Наши специалисты готовы предложить комплексное решение для <br>кухни, которое включает мебель и оптимально подобранную бытовую<br> технику. В бутике представлена мебель для кухонь в разных стилях<br>и цветовых вариантах: от классики и модерна до кантри и техно-арта.'
							}) 
							+aboutHd({
								src: 'about-hd__pic3.jpg',
								src768: 'about-hd__pic3_768w.png',
								title: 'Мебель в бутике Hausdorf',
								text: 'Hausdorf предлагает дизайнерскую мебель для каждого помещения в доме:<br> от просторных прихожих и продуманных гардеробных до изысканных<br> столовых и исключительных спален. На ваш выбор редчайшие породы <br>дерева, благородные металлы, сложные мозаики и многое другое.'
							})
							
						.title.title_small.title_center.d-none.d-sm-block Наши проекты
						
						include /about/about-banner/about-banner
						
						include /contact/contact-form/contact-form
						+contactForm('contact-form_bg')
								
		include /footer/global/footer
