doctype html
html
	include /head/head
	body
		.wrapper
			include /header/global/header
			.middle
 
				.middle__container
 
					.content

						include /breadcrumbs/breadcrumbs
						
						.address
							
							+bread({
								text: 'Адрес бутика'
							})
							
							.title Адрес бутика Hausdorf
							
							.address__picture
								img.lazyload(data-src="images/address__pic1.jpg", alt="")
							
							.address__row.row
							
								.col-sm-7
									
									.title.title_small «Бутик Hausdorf» расположен по адресу:
									
									.address__field
										include /utilities/address-info/address-info
										+addressInfo('Москва, Рублевское шоссе, д. 52а, ТЦ «Западный», 3 этаж')
									
									.address__field
										include /utilities/metro-info/metro-info
										+metroInfo('Ближайшая станция метро: «Крылатское»')

									.address__field
										include /utilities/time-info/time-info
										+timeInfo('сall-центр — ежедневно: <b>с 9:00 до 22:00</b>, магазин — ежедневно: <b>с 10:00 до 22:00</b>')
									
									.address__field
										include /utilities/email-info/email-info
										+emailInfo('shop@hausdorf.ru')
								
								.col-sm-5
									
									include /utilities/phone-content-address/phone-content-address
									+phoneContent()
									
							.title.title_small Для вашего комфорта предусмотрены свободные места на наземной и подземной парковке.
							
							.address__row.row
								.col-sm-4
									img.lazyload(data-src="images/address__pic2.jpg")
								.col-sm-4
									img.lazyload(data-src="images/address__pic3.jpg")
								.col-sm-4
									img.lazyload(data-src="images/address__pic4.jpg")
							
							p Бутик Hausdorf является официальным дилером известных мировых брендов бытовой техники. Мы предлагаем широкий ассортимент техники, как встроенной, так и отдельностоящей. У нас вы найдете лучших представителей отрасли: #[a(href="#") Asko], #[a(href="#") Smeg], #[a(href="#") Miele], #[a(href="#") Gaggenau], #[a(href="#") Kuppersbusch], #[a(href="#") Ilve], #[a(href="#") Restart] и другие. Вся техника сертифицирована и имеет официальную гарантию от производителя.
							
							.address__swiper
								include /swiper/swiper-large/swiper-large
								
							.title.title_small Наши юные гости могут провести время в детской игровой комнате.
							
							.address__row.row
								.col-sm-4
									img.lazyload(data-src="images/address__pic6.png")
								.col-sm-4
									img.lazyload(data-src="images/address__pic7.jpg")
								.col-sm-4
									img.lazyload(data-src="images/address__pic8.jpg")
									
							.title.title_small Схема проезда
							
							.address__map
								iframe(src="https://yandex.ru/map-widget/v1/-/CCQWZDp2", width="100%", height="450px", frameborder="2", allowfullscreen="true")
																		
							include /contact/contact-form/contact-form
							+contactForm()
								
		include /footer/global/footer
