doctype html
html
	include /head/head
	body
		.wrapper
			include /header/global/header
			.middle
 
				.middle__container
 
					.content

						include /breadcrumbs/breadcrumbs
						
						.content-block.content-block_mobile
							+bread({
								text: 'Оформление заказа'
							})
							.title Оформление заказа
							
							.basket 
							
								.form
								
									include /basket/basket-table/basket-table
									
									include /basket/basket-products/basket-products
									
									.basket__section 
									
										include /basket/basket-props/basket-props
										
										include /form/form
										
										.basket__footer
											.row.align-items-center
												.col-sm-5
													.basket__total Общая стоимость товаров:
														.basket__summ 1 905 300 руб.
												.col-sm-7
													.basket__buttons
														+checkbox({
															checked: true
														})
														input.basket__submit(type="submit", value="Оформить заказ")
									
									//- 
							//- 
							//- 
							//- 		{% include ".njk" %}
							//- 
							//- 		{% include "basket/basket-delivery/basket-delivery.njk" %}
							//- 
							//- 		{% include "basket/basket-payment/basket-payment.njk" %}
							//- 
							//- 		{% include "basket/basket-comment/basket-comment.njk" %}
							//- 
							//- 		<div class="basket__checkbox">
							//- 			{% from "checkbox/checkbox.njk" import checkbox %}
							//- 			{{ checkbox(
							//- 				text='Согласен с <a href="#">использованием персональных данных</a> для обработки обращения',
							//- 				mod=' checkbox_oferta',
							//- 				attr=' checked'
							//- 			)}}
							//- 		</div>
							//- 		<!-- /.basket__checkbox -->
							//- 
							//- 		<input type="submit" value="Оформить заказ" class="basket__submit" />
							
									 


		include /footer/global/footer
