doctype html
html
	include /head/head
	body
		.wrapper
			include /header/global/header
			.middle
 
				.middle__container
 
					.content

						include /breadcrumbs/breadcrumbs
						
						.yandex-banner
							+bread({
								text: 'Отзывы о бутике'
							})
							.yandex-banner__inner
								img.yandex-banner__pic.lazyload(data-src="images/banner-content__pic2.jpg")
								.yandex-banner__desc
									.yandex-banner__title Отзывы о бутике Hausdorf
									.yandex-banner__text Мы ценим ваше время и очень стараемся держать наш сервис на высоком уровне.? Если у вас есть замечания, предложения или пожелания, мы с радостью выслушаем и постараемся помочь!
									.yandex-banner__footer
										.yandex-banner__ratetxt Средняя оценка  
											span 4,2
										.yandex-banner__rate
											.ratings.ratings_output
												.ratings__section
													.ratings__start
													.ratings__click(style='width: 80%;')
										.yandex-banner__reviews 50 отзывов
										a.yandex-banner__button(href="#") Оставить отзыв в Яндекс Справочнике
								.yandex-banner__copyright Отзывы предоставлены сервисом
									img.lazyload(data-src="images/yandex-banner__copyright.svg", alt="")

						.yandex-reviews
							.yandex-reviews__title Недавние отзывы о бутике
							include /reviews/yandex-reviews/yandex-reviews
							+yaReviews({})
							+yaReviews({})
							+yaReviews({})
							+yaReviews({})
							+yaReviews({})
							+yaReviews({})
							+yaReviews({})
							.yandex-reviews__info Ознакомиться со всеми отзывами и оставить свой вы можете на странице #[a(href="#") Яндекс Справочника]
							
							.hausdorf-feedback
								.row.align-items-center
									.col-sm-7
										.hausdorf-feedback__title Остались вопросы или есть предложения по улучшению качества обслуживания?
									.col-sm-5
										.hausdorf-feedback__section
											.hausdorf-feedback__photo
												img.hausdorf-feedback__pic.lazyload(data-src="images/hausdorf-feedback__pic.png", alt="")
											.hausdorf-feedback__desc
												.hausdorf-feedback__name Мальцев Иван
												.hausdorf-feedback__text Генеральный директор бутика Hausdorf
												a.hausdorf-feedback__button(href="#") Связаться со мной
								
		include /footer/global/footer
