doctype html
html
	include /head/head
	body
		.wrapper
			include /header/global/header
			.middle
 
				.middle__container
 
					.content

						include /breadcrumbs/breadcrumbs
						
						.content-block.content-block_bg_white
							+bread({
								items: [{"item": "Все бренды", "submenu": false, "mod": false}, {"item": "Smeg", "submenu": true, "mod": true}]
							})
							.title Все отзывы о бренде Smeg
							
							.service-popup.d-none.d-sm-flex
								.service-popup__button
									span Сервисные центры
									.service-popup__popup
										.service-popup__section
											.service-popup__field
												.service-popup__title ООО «Мир и Сервис»
												.service-popup__item
													.service-popup__phone
														a(href="#") 8 (495)744 00 14
												.service-popup__item
													.service-popup__address Москва, улица Промышленная, 11, стр.2.
										
											.service-popup__field
												.service-popup__title ООО «ВнешРемТорг»
												.service-popup__item
													.service-popup__phone
														a(href="#") 8 (495) 518 69 41;
														a(href="#") 8 (495) 518 69 47;
														br
														a(href="#") 8 (495) 518-6432
												.service-popup__item 
													.service-popup__address Москва, ул. Селезневская д.30 корп. Б-В		
									
											a.service-popup__more(href="#") Все сервисные центры
								.service-popup__photo
									img.service-popup__pic.lazyload(data-src="images/service-popup__pic.png", alt="")
									
							include /reviews/reviews-header/reviews-header
							+reviewsHeader({})
							
						include /reviews/reviews-list/reviews-list	
						.reviews-list.reviews-list_border
							+reviewsList({
								photo: true,
								src: 'images/news-list__pic4.png',
							})
							+reviewsList({
								photo: true,
								src: 'images/news-list__pic4.png',
								name: 'Анна В',
								text: 'Покупали стиральную машинку Miele не раздумывая. В бренде уверены, бренд проверен временем. Прежде чем брать напичканные всякимим непонятными функциями 10 в 1 и т.д за бешенные бабки лучше почитать и выяснить что не в огромном универсализме преимущества стиральной машины.'
							})
							+reviewsList({
								photo: true,
								src: 'images/news-list__pic4.png',
								name: 'Кузьмина Дарья',
								text: 'Хороший производитель, очень тихая и не портит вещи. выбор стиральной машинки это нечасто и это очень выматывает. Потому что покумаем стиральные машинки опят таки нечасто и надолго. Доверились известному бренду. Белье вынимаю практически сухое и идеально чистое при том же порошке который использовала до приобретения, но в старой машинке вещи были намного темнее и это особенно было заметно по светлым вещам '
							})
							+reviewsList({
								photo: true,
								src: 'images/news-list__pic4.png'
							})
							+reviewsList({
								photo: true,
								src: 'images/news-list__pic4.png',
								name: 'Анна В',
								text: 'Покупали стиральную машинку Miele не раздумывая. В бренде уверены, бренд проверен временем. Прежде чем брать напичканные всякимим непонятными функциями 10 в 1 и т.д за бешенные бабки лучше почитать и выяснить что не в огромном универсализме преимущества стиральной машины.'
							})
							+reviewsList({
								photo: true,
								src: 'images/news-list__pic4.png',
								name: 'Кузьмина Дарья',
								text: 'Хороший производитель, очень тихая и не портит вещи. выбор стиральной машинки это нечасто и это очень выматывает. Потому что покумаем стиральные машинки опят таки нечасто и надолго. Доверились известному бренду. Белье вынимаю практически сухое и идеально чистое при том же порошке который использовала до приобретения, но в старой машинке вещи были намного темнее и это особенно было заметно по светлым вещам '
							})
							+reviewsList({
								photo: true,
								src: 'images/news-list__pic4.png'
							})
							+reviewsList({
								photo: true,
								src: 'images/news-list__pic4.png',
								name: 'Анна В',
								text: 'Покупали стиральную машинку Miele не раздумывая. В бренде уверены, бренд проверен временем. Прежде чем брать напичканные всякимим непонятными функциями 10 в 1 и т.д за бешенные бабки лучше почитать и выяснить что не в огромном универсализме преимущества стиральной машины.'
							})
							+reviewsList({
								photo: true,
								src: 'images/news-list__pic4.png',
								name: 'Кузьмина Дарья',
								text: 'Хороший производитель, очень тихая и не портит вещи. выбор стиральной машинки это нечасто и это очень выматывает. Потому что покумаем стиральные машинки опят таки нечасто и надолго. Доверились известному бренду. Белье вынимаю практически сухое и идеально чистое при том же порошке который использовала до приобретения, но в старой машинке вещи были намного темнее и это особенно было заметно по светлым вещам '
							})
						include /pagination/pagination
								
		include /footer/global/footer
