doctype html
html
	include /head/head
	body
		.wrapper
			include /header/global/header
			.middle
 
				.middle__container
 
					.content

						include /breadcrumbs/breadcrumbs
						
						.content-block 
							+bread({
								items: [{"item": "Все бренды", "submenu": false, "mod": false},{"item": "Smeg", "submenu": true, "mod": true}]
							})
							.row.content-block__crow
								.col-sm-8
									.title.title_catalog Бытовая техника Smeg на официальном сайте Hausdorf
								.col-sm-4
									.content-block__info Цены на Smeg от 12.11.2018
									
							.service-popup.d-none.d-sm-flex
								.service-popup__button
									span Сервисные центры
									.service-popup__popup
										.service-popup__section
											.service-popup__field
												.service-popup__title ООО «Мир и Сервис»
												.service-popup__item
													.service-popup__phone
														a(href="#") 8 (495)744 00 14
												.service-popup__item
													.service-popup__address Москва, улица Промышленная, 11, стр.2.
										
											.service-popup__field
												.service-popup__title ООО «ВнешРемТорг»
												.service-popup__item
													.service-popup__phone
														a(href="#") 8 (495) 518 69 41;
														a(href="#") 8 (495) 518 69 47;
														br
														a(href="#") 8 (495) 518-6432
												.service-popup__item 
													.service-popup__address Москва, ул. Селезневская д.30 корп. Б-В		
									
											a.service-popup__more(href="#") Все сервисные центры
								.service-popup__photo
									img.service-popup__pic.lazyload(data-src="images/service-popup__pic.png", alt="")
											
							include /swiper/swiper-banner/swiper-banner
							.swiper-withtext
								+swiperBanner({
									src: 'images/swiper-banner__pic3.png',
									title: '<span>Скидки на комплекты техники Smeg!</span>',
									text: 'До 28 декабря 2018, при покупке комплекта техники Smeg предоставляется дополнительная скидка!',
									button: 'Подробности Акции',
									videoButton: 'none'
								})

							include /catalog/catalog-thumb-small/catalog-thumb-small

							.title.title_small Популярные товары Smeg
							
							.swiper.swiper_small
								.swiper-container(data-swiper, data-options!={"slidesPerView": 5, "spaceBetween": 16, "breakpoints": { 768: {"slidesPerView": "auto", "spaceBetween": 8, "slidesPerGroup": 1}}})
									.swiper-wrapper
										each val in [1, 2]
											.swiper-slide
												+thumbSmall({
													footer: 'false',
													available: 'false',
													src:  'images/catalog-thumb-small__pic2.jpg'
												})
											.swiper-slide
												+thumbSmall({
													footer: 'false',
													available: 'false',
													src:  'images/catalog-thumb-small__pic2.jpg'
												})
											.swiper-slide
												+thumbSmall({
													footer: 'false',
													available: 'false',
													src:  'images/catalog-thumb-small__pic2.jpg'
												})
											.swiper-slide
												+thumbSmall({
													footer: 'false',
													available: 'false',
													src:  'images/catalog-thumb-small__pic2.jpg'
												})
								.swiper__arrow.swiper__arrow_right
									.swiper__prev.swiper__prev_round.js-swiper__prev
									.swiper__next.swiper__next_round.js-swiper__next
							
						.title.title_small Категории товаров Smeg
						
						include /brand/brand-section/brand-section
						
						.reviews-wrapper
							.reviews-wrapper__title Последние отзывы о стиральных машинах
							.row.align-items-center.reviews-wrapper__row
								.col-sm-6
									.reviews-wrapper__rate
										| Средняя оценка #[span 5]
										.reviews-wrapper__counter 45 отзывов
								.col-sm-6
									a.reviews-wrapper__more(href="#") Смотреть все отзывы	

							.reviews-wrapper__section
								include /reviews/reviews-list/reviews-list	
								.reviews-list
									+reviewsList({
										photo: true,
										src: 'images/news-list__pic4.png'
									})
									+reviewsList({
										photo: true,
										src: 'images/news-list__pic4.png'
									})
									+reviewsList({
										photo: true,
										src: 'images/news-list__pic4.png'
									})

						include /brand/brand-history/brand-history
								
		include /footer/global/footer
