doctype html
html
	include /head/head
	body
		.wrapper
			include /header/global/header
			.middle
 
				.middle__container
 
					.content

						include /breadcrumbs/breadcrumbs
						
						.content-block 
							+bread({
								items: [{"item": "Холодильники", "submenu": true, "mod": true}]
							})
							.row.content-block__crow
								.col-sm-6
									.title.title_catalog Холодильники
										span 315 моделей
								.col-sm-6
									.content-block__info Цены на холодильники от 07.11.2018

							.swiper-withtext
								include /swiper/swiper-banner/swiper-banner
								+swiperBanner({
									src: 'images/swiper-banner__pic2.jpg',
									title: 'Холодильники Samsung',
									text: 'Мощные и вместительные холодильники Samsung позволят значительно продлить свежесть продуктов и их полезные свойства. Настоящее корейское качество и надежность от знаменитого бренда.',
									button: 'Все холодильники Samsung'
								})

							.catalog-swipers
								.tabs-menu(data-tabs)
									a.tabs-menu__link(data-hash='#js-tabs-1', data-tabs-children) Лидеры продаж
									a.tabs-menu__link(data-hash='#js-tabs-2', data-tabs-children) Акции
									a.tabs-menu__link(data-hash='#js-tabs-3', data-tabs-children) Новинки
									.tabs-menu__info Рейтинг стиральных машин

								include /catalog/catalog-thumb-small/catalog-thumb-small
								.tabs
									each tab, i in [1, 2, 3]
										.tabs__inner(id="js-tabs-" + (i + 1))
											.swiper.swiper_small
												.swiper-container(data-swiper, data-options!={"slidesPerView": 5, "spaceBetween": 16, "breakpoints": { 768: {"slidesPerView": "auto", "spaceBetween": 8, "slidesPerGroup": 1}}})
													.swiper-wrapper
														each val in [1, 2]
															.swiper-slide
																+thumbSmall({
																	footer: 'false',
																	available: 'false',
																	src:  'images/catalog-thumb-small__pic2.jpg'
																})
															.swiper-slide
																+thumbSmall({
																	footer: 'false',
																	available: 'false',
																	src:  'images/catalog-thumb-small__pic2.jpg'
																})
															.swiper-slide
																+thumbSmall({
																	footer: 'false',
																	available: 'false',
																	src:  'images/catalog-thumb-small__pic2.jpg'
																})
															.swiper-slide
																+thumbSmall({
																	footer: 'false',
																	available: 'false',
																	src:  'images/catalog-thumb-small__pic2.jpg'
																})
												.swiper__arrow.swiper__arrow_right
													.swiper__prev.swiper__prev_round.js-swiper__prev
													.swiper__next.swiper__next_round.js-swiper__next

						.filter-wrap.filter-wrap_outside
							include /filter/filter/filter
							+filter({
								brands: ['Miele', 'Smeg', 'Neff', 'Gaggenau', 'Kuppersbush', 'AEG', 'Bosch', 'V-ZUG', 'Gorenje', 'Korting', 'LG', 'Maunfeld', 'Siemens', 'Teka', 'Whirlpool'],
								modelCount: 'Выбрано 30 моделей'
							})
							include /filter/filter-choice/filter-choice

						include /catalog/sorting/sorting

						.catalog
							.catalog__inner
								include /catalog/catalog-thumb/catalog-thumb
								.row
									each val in [1, 2, 3]
										.col-sm-3
											+thumb({
												src: 'images/catalog-thumb__pic1.jpg',
												compare: true,
												favorite: true 
											})
										.col-sm-3
											+thumb({
												src: 'images/catalog-thumb__pic2.jpg',
												label: true
											})
										.col-sm-3
											+thumb({
												src: 'images/catalog-thumb__pic3.jpg'	
											})
										.col-sm-3
											+thumb({
												src: 'images/catalog-thumb__pic4.jpg'
											})

									.col-12

										include /banner/banner-catalog/banner-catalog
										+bannerCatalog({})

									each val in [1]
										.col-sm-3
											+thumb({
												src: 'images/catalog-thumb__pic1.jpg',
												compare: true,
												favorite: true 
											})
										.col-sm-3
											+thumb({
												src: 'images/catalog-thumb__pic2.jpg',
												label: true
											})
										.col-sm-3
											+thumb({
												src: 'images/catalog-thumb__pic3.jpg'	
											})
										.col-sm-3
											+thumb({
												src: 'images/catalog-thumb__pic4.jpg'
											})

						include /pagination/pagination
							
						.reviews-wrapper
							.reviews-wrapper__title Последние отзывы о стиральных машинах
							.row.align-items-center.reviews-wrapper__row
								.col-sm-6
									.reviews-wrapper__rate
										| Средняя оценка #[span 5]
										.reviews-wrapper__counter 45 отзывов
								.col-sm-6
									a.reviews-wrapper__more(href="#") Смотреть все отзывы	

							.reviews-wrapper__section
								include /reviews/reviews-list/reviews-list	
								.reviews-list
									+reviewsList({
										photo: true,
										src: 'images/news-list__pic4.png'
									})
									+reviewsList({
										photo: true,
										src: 'images/news-list__pic4.png'
									})
									+reviewsList({
										photo: true,
										src: 'images/news-list__pic4.png'
									})

						include /seo/seo-catalog/seo-catalog-thumb
								
		include /footer/global/footer
