doctype html
html
	include /head/head
	body
		.wrapper
			include /header/global/header
			.middle
 
				.middle__container
 
					.content

						include /breadcrumbs/breadcrumbs
						
						.content-block 
							+bread({
								items: [{"item": "Стиральные машины", "submenu": true, "mod": true}, {"item": "Стиральные машины из Германии", "submenu": true, "mod": true}]
							})
							.row.content-block__crow
								.col-sm-6
									.title.title_catalog Стиральные машины из Германии
										span 2 модели
								.col-sm-6
									.content-block__info Цены на стиральные машины из Германии от 07.11.2018

							.filter-wrap.filter-wrap_inner
								include /filter/filter/filter
								+filter({})
								include /filter/filter-choice/filter-choice

						include /catalog/sorting/sorting

						.catalog
							.catalog__inner
								include /catalog/catalog-list/catalog-list

						include /pagination/pagination
							
						.reviews-wrapper
							.reviews-wrapper__title Последние отзывы о стиральных машинах из Германии
							.row.align-items-center.reviews-wrapper__row
								.col-sm-6
									.reviews-wrapper__rate
										| Средняя оценка #[span 4]
										.reviews-wrapper__counter 1 отзыв
								.col-sm-6
									a.reviews-wrapper__more(href="#") Смотреть все отзывы	

							.reviews-wrapper__section
								include /reviews/reviews-list/reviews-list	
								.reviews-list
									+reviewsList({
										photo: true,
										src: 'images/news-list__pic4.png'
									})

						include /seo/seo-catalog/seo-catalog
								
		include /footer/global/footer
