doctype html
html
	include /head/head
	body
		.wrapper
			include /header/global/header
			.middle
 
				.middle__container
 
					.content

						include /breadcrumbs/breadcrumbs
						
						.content-block.content-block_bg_white.content-block_bdrs
							.banner-content
								img.banner-content__pic.lazyload(data-src="images/banner-content__pic.jpg")
								+bread({
									text: 'Сотрудничество с дизайнерами и архитекторами'
								})
								
								.banner-content__desc
									.title Работаем вместе
									.banner-content__text
										p Бутик Hausdorf стремится удовлетворить потребности покупателей и заказчиков, помогая создавать непревзойденные и продуманные интерьеры кухни и дома. Современные тенденции диктуют направление «custome-made» — «Выполнено под клиента», поэтому особую ценность имеют уникальные, эксклюзивные вещи, сделанные на заказ.
										p Салон Hausdorf приглашает к сотрудничеству дизайнеров, стремящихся к успеху и развитию своего творческого потенциала, готовых реализовывать инновационные решения в соответствии с высокими требованиями качества и функциональности.
								include /benefits/benefits-content/benefits-content

							.text-default
								.text-default__title2 Стать партнером
								p #[b Важно!] Мы гарантируем конфиденциальность сотрудничества. #[br] Вы направили к нам клиента? Мы обеспечим качественное обслуживание и сервис профессионального уровня
								
							include /form/form
							.form
								.row
									.col-sm-5
										.form__title Дизайнер
										+input({})
										+input({
											label: 'Имя'
										})
										+input({
											label: '+7(_ _ _) _ _ _ - _ _ - _ _',
											type: 'tel'
										})
										+input({
											label: 'E-mail',
											type: 'email'
										})
									.col-sm-7
										.form__title Закрепить объект и клиента за собой:
										+input({
											label: 'Адрес'
										})
										+input({
											label: 'Комментарий',
											text: '   '
										})
										+textarea({})
										.row.align-items-center
											.col-sm-7
												+checkbox({
													checked: true
												})
											.col-sm-5
												+submit()
								
		include /footer/global/footer
