doctype html
html
	include /head/head
	body
		.wrapper
			include /header/global/header
			.middle
 
				.middle__container
 
					.content

						include /breadcrumbs/breadcrumbs
						
						.content-block 
							+bread({
								text: 'Сравнение'
							})
							.title Сравнение товаров
							
							include /compare/compare/compare
							
									 


		include /footer/global/footer
