doctype html
html
	include /head/head
	body
		.wrapper
			include /header/global/header
			.middle
 
				.middle__container
 
					.content

						include /breadcrumbs/breadcrumbs
						
						.content-block 
							+bread({
								text: 'Оформление заказа'
							})
							.title Оформление заказа
							
							include /basket/confirm/confirm
								
		include /footer/global/footer
