doctype html
html
	include /head/head
	body
		.wrapper
			include /header/global/header
			.middle
 
				.middle__container
 
					.content

						include /breadcrumbs/breadcrumbs
						
						.content-block.content-block_bg_white.content-block_bdrs.content-block_delivery
							+bread({
								text: 'Доставка и оплата'
							})
							
							.title Доставка и оплата

							.search.search_delivery
								form.search__form(action="")
									.row.align-items-center
										.col-sm-1
											.search__text Регион:
										.col-sm-3
											include /combox/combox
											+combox(['Москва', 'Москва', 'Москва'])

							p Бутик Hausdorf осуществляет  доставку заказов по Москве в оговоренные сроки, предварительно уточнив время доставки по телефону.
							p Перемещение товара до места установки в помещении не входит в обязанности курьеров и осуществляется по договорённости и за отдельную плату.
							p Демонтаж деталей приборов сотрудниками транспортной компании запрещается, даже если отдельные части техники мешают транспортировке, так как в дальнейшем может поступить отказ сервисного центра по услугам гарантийного ремонта.
							p После подписания товарной накладной ответственность за товар сотрудниками курьерской службы заканчивается. Повреждения, которые были получены после дальнейшего перемещения прибора по квартире, не подлежат гарантийному обслуживанию и не могут быть причиной для обмена товара.

							.slidedown
								.data-dropdown
									.data-dropdown__inner
										.data-dropdown__title.slidedown__title
											.data-dropdown__titletext.slidedown__titletext Доставка
											.data-dropdown__button.slidedown__button.active(data-dropdown) Развернуть
										.data-dropdown__section
											.data-dropdown__field
												.slidedown__desc
													.text-default
														p Скорость доставки зависит от наличия товара на складе и вашего месторасположения: ежедневно, на следующий день или через день: с 10:00 до 22:00.
														p Если статус товара «Под заказ», сроки оговариваются отдельно. Точная дата и время доставки согласовывается при подтверждении заказа менеджером.
														p Доставка осуществляется до двери квартиры или в прихожую (коридор) покупателя. Доставка техники в квартиру возможна только при наличии свободного прохода, не препятствующего ее перемещению. Экспедитор по вашей просьбе может установить технику на предусмотренное место, но это не входит в его обязанности и считается дополнительной услугой.
														.text-default__title Стоимость доставки:
														ul
															li 
																span Доставка техники в пределах МКАД — бесплатно, для всей техники, помеченной соответствующим знаком.
															li 
																span Доставка техники Miele осуществляется в соответствии с официальными действующими тарифами.
															li 
																span Доставка аксессуаров без техники в пределах МКАД — 500 руб. (за пределы МКАД — 30 руб./км).
															li 
																span Доставка техники за пределы МКАД — 30 руб./км.	
														.text-default__grayblock
															.text-default__title Порядок приема товара										
															p Прежде чем подписывать документы о приеме товара, обязательно убедитесь в следующем:
															ul
																li
																	span В отсутствии внешних дефектов: сколы, царапины, вмятины.
																li
																	span В наличии всех составляющих товара: дополнительные аксессуары, детали, фурнитура.
															p #[b Экспедитор не осуществляет консультирование покупателей] по функциональным особенностям товара и не производит установку/подключение техники.
															p Доставка товара осуществляется в квартиры и офисы по точному адресу и в оговоренное время.
															p Заказы не доставляются:
															ul
																li
																	span В общественные места.
																li
																	span В места массового скопления людей.
																li
																	span К торговым комплексам.
																li
																	span К станциям метро.
																li
																	span К строительным площадкам.
																li
																	span На пустыри и т.д.
															p Если въезд на территорию доставки платный, то покупатель обязан оплатить расходы, связанные с этим. В противном случае товар будет доставлен до места платного въезда.
															p Если за окном минусовая температура воздуха, техника, перед установкой, должна постоять несколько часов в теплом помещении.
																								
										.data-dropdown__title.slidedown__title
											.data-dropdown__titletext.slidedown__titletext Подъем
											.data-dropdown__button.slidedown__button.active(data-dropdown) Развернуть
										.data-dropdown__section
											.data-dropdown__field
												.slidedown__desc
													
													.text-default__redbold Подъем техники без лифта: 

													.text-default-table
														.text-default-table__field(data-price="50 руб. / этаж.")
															.text-default-table__left
																div
																	b Мелкая техника
																| СВЧ печи, вытяжки до 60см в ширину, аксессуары.
															.text-default-table__right
																| 50 руб. / этаж.
														.text-default-table__field(data-price="100 руб. / этаж.")
															.text-default-table__left
																div
																	b Крупная техника
																| Техника от 20 кг: стиральные, сушильные и посудомоечные машины, вытяжки, духовые шкафы.
															.text-default-table__right
																| 100 руб. / этаж.
														.text-default-table__field(data-price="400 руб. / этаж.")
															.text-default-table__left
																div
																	b Негабаритный товар
																| Габаритные размеры единицы товара свыше 230 см. одного из параметров (длина, ширина, высота, глубина), либо свыше 120 см. в диаметре, либо вес единицы товара свыше 100 кг.
															.text-default-table__right
																| 400 руб. / этаж.
														.text-default-table__field(data-price="400 руб. / этаж.")
															.text-default-table__left
																div
																	b Холодильники Side-by-side
																| Все холодильники Side-by-side.
															.text-default-table__right
																| 400 руб. / этаж.

													.text-default__redbold Подъем техники грузовым лифтом (исключая холодильники Side-by-side) — бесплатно.
												
										.data-dropdown__title.slidedown__title
											.data-dropdown__titletext.slidedown__titletext Способы оплаты
											.data-dropdown__button.slidedown__button.active(data-dropdown) Развернуть
										.data-dropdown__section
											.data-dropdown__field
												.slidedown__desc
													
													include /benefits/benefits-text/benefits-text

													p *Для некоторых видов техники может потребоваться предоплата. О необходимости предоплаты уточняйте у менеджера.Безопасность платежей с помощью банковских карт обеспечивается технологиями защищенного соединения HTTPS и двухфакторной аутентификации пользователя 3D Secure.
																										
										.data-dropdown__title.slidedown__title
											.data-dropdown__titletext.slidedown__titletext Процесс совершения заказа по предоплате 
											.data-dropdown__button.slidedown__button(data-dropdown) Развернуть
										.data-dropdown__section
											.data-dropdown__field
												.slidedown__desc Lorem ipsum dolor sit amet, consectetur ad ipisicing elit. Repudiandae officiis natus perferendis quae, voluptatem ratione voluptate tempora enim, provident commodi quia fugit sequi eum nam dolores hic vel. Explicabo, officia.	
												
										.data-dropdown__title.slidedown__title
											.data-dropdown__titletext.slidedown__titletext Гарантия
											.data-dropdown__button.slidedown__button(data-dropdown) Развернуть
										.data-dropdown__section
											.data-dropdown__field
												.slidedown__desc Lorem ipsum dolor sit amet, consectetur ad ipisicing elit. Repudiandae officiis natus perferendis quae, voluptatem ratione voluptate tempora enim, provident commodi quia fugit sequi eum nam dolores hic vel. Explicabo, officia.	
												
										.data-dropdown__title.slidedown__title
											.data-dropdown__titletext.slidedown__titletext Возврат Товара
											.data-dropdown__button.slidedown__button(data-dropdown) Развернуть
										.data-dropdown__section
											.data-dropdown__field
												.slidedown__desc Lorem ipsum dolor sit amet, consectetur ad ipisicing elit. Repudiandae officiis natus perferendis quae, voluptatem ratione voluptate tempora enim, provident commodi quia fugit sequi eum nam dolores hic vel. Explicabo, officia.
													
										.data-dropdown__title.slidedown__title
											.data-dropdown__titletext.slidedown__titletext Условия продажи товара физическим лицам 
											.data-dropdown__button.slidedown__button(data-dropdown) Развернуть
										.data-dropdown__section
											.data-dropdown__field
												.slidedown__desc Lorem ipsum dolor sit amet, consectetur ad ipisicing elit. Repudiandae officiis natus perferendis quae, voluptatem ratione voluptate tempora enim, provident commodi quia fugit sequi eum nam dolores hic vel. Explicabo, officia.	
												
										.text-default
											.text-default__photo
												img(data-src="images/miele_logo.png", alt="").lazyload
												a(href="#", title="title") Условия продажи товаров Miele
											.text-default__title Доставка и оплата по России
											p Теперь доставка техники возможна в любую точку России! В регионы страны доставка осуществляется с помощью транспортных компаний. Мы работаем с компаниями «ПЭК» и ООО «ЖелДорЭкспедиция» или любой другой, на ваш выбор.	
											.text-default__title Условия доставки товара с привлечением транспортной компании:	
											ul
												li
													span Доставка товара до склада транспортной компании в пределах МКАД — бесплатно.
												li
													span Срок отгрузки товара с нашего склада (при условии наличия товара на складе) — до трех суток.?
												li
													span Срок и стоимость доставки заказа вам назовет наш менеджер (она зависит от веса, объема и дальности отправления).
												li
													span Доставка товара транспортной компанией до филиала в вашем городе — бесплатная для заказа от 150 000 руб.
												li
													span Стоимость доставки товара, транспортной компанией, до места назначения оплачивается при получении заказа.?
												li
													span Как только товар будет отгружен, наш менеджер свяжется с вами и сообщит номер отправления.
												li
													span Товар отправляется только в жесткой упаковке, со страховкой и пометкой «хрупкий груз».	
											p
												b Доставка товара в регионы России осуществляется по предоплате. 

											.text-default__grayblock.text-default__grayblock_bottom
												.text-default__title Порядок приема товара	
												ul
													li
														span Убедиться в отсутствии явных следов повреждений упаковки. Коробка, в которой был доставлен товар, должна быть плотно закрыта.
													li
														span После вскрытия упаковки убедитесь в надлежащем качестве доставленного товара: отсутствие сколов, вмятин, соответствие заявленной комплектации.
												p Что делать если Вам доставили товар ненадлежащего качества? Ни в коем случае не подписывайте документы о получении товара. В присутствии представителей транспортной компании нужно сфотографировать дефекты техники, сделать отметки с описанием недостатков в сопроводительных документах и оформить претензию.
												p Если у Вас есть вопросы, позвоните нам: #[a(href="#") #[b +7 (495) 646-61-04]]	

											.text-default__title При приеме товара необходимо сделать следующее:	
											p Оформляя заказ на сайте Hausdorf, вы соглашаетесь с #[a(href="#") условиями продажи товара физическим лицам].									
								
		include /footer/global/footer
