doctype html
html
	include /head/head
	body
		.wrapper
			include /header/global/header
			.middle
 
				.middle__container
 
					.content

						include /breadcrumbs/breadcrumbs
						
						.detail
							
							+bread({
								items: [{"item": "Мойки", "submenu": true, "mod": true},{"item": "Blanco", "submenu": true, "mod": true}],
								text: 'Мойка Blanco Zia 40S'
							})
							
							.title Мойка Blanco Zia 40S
							
							.detail__top
								.service-popup
									.service-popup__button
										span Сервисные центры
										.service-popup__popup
											.service-popup__section
												.service-popup__field
													.service-popup__title ООО «Мир и Сервис»
													.service-popup__item
														.service-popup__phone
															a(href="#") 8 (495)744 00 14
													.service-popup__item
														.service-popup__address Москва, улица Промышленная, 11, стр.2.
											
												.service-popup__field
													.service-popup__title ООО «ВнешРемТорг»
													.service-popup__item
														.service-popup__phone
															a(href="#") 8 (495) 518 69 41;
															a(href="#") 8 (495) 518 69 47;
															br
															a(href="#") 8 (495) 518-6432
													.service-popup__item 
														.service-popup__address Москва, ул. Селезневская д.30 корп. Б-В		
										
												a.service-popup__more(href="#") Все сервисные центры
									.service-popup__photo
										img.service-popup__pic.lazyload(data-src="images/service-popup__pic.png", alt="")
										
								.row
									.col-sm-7
									
										include /detail-page/detail-gallery/detail-gallery
										
									.col-sm-5
									
										.detail__desc
										
											.detail__articul Артикул: #[span 146-9713]
										
											.detail__label
												.label
													.label__item.label__item_red
														.label__text Новинка
													.label__item
														.label__text Хит продаж
										
											.detail__available
												.available В наличии
												.detail__date Цена от 07.11.2018
										
											.detail__line.detail__line_top
										
											.row.detail__row.detail__row.align-items-end
												.col-sm-5
													
													.detail__price
														.detail__price-old 995 100 руб.
														| 2 905 100 руб.
														
												.col-sm-7 
													.detail__utilities
													
														a.button-compare(href="#")
															span.button-compare__icon
															span.button-compare__text Сравнить
															
														a.button-favorite.active(href="#")
															span.button-favorite__icon
															span.button-favorite__text В избранном
										
											.row.detail__row.detail__row_buttons
												.col-sm-5
												
													a.button-buy.detail__buy(href="#") Купить
													
												.col-sm-7
												
													a.detail__oneclick(href="#") Купить в один клик
										
											.detail__line
											
											include /benefits/benefits-detail/benefits-detail
											
											a.detail__btnpopup(href="#")
												span ВСЕ ПРИЧИНЫ ДОВЕРЯТЬ HAUSDORF
											
											.detail__titlesmall Особенности
											
											include /benefits/benefits-product/benefits-product
									
							include /detail-page/detail-text/detail-text
									
							.row
								.col-sm-7
								
									.detail__title Характеристики
									
									include /detail-page/detail-properties/detail-properties
									
								.col-sm-5
									
									.detail__files
										
										.detail__title Скачать документы
										
										include /download-files/download-files
										+downloadFiles([
											{ src: 'images/pdf.svg', text: 'Инструкция к De Dietrich DPI7572G', small: 'PDF, 1.3 Мб' },
											{ src: 'images/jpg.svg', text: 'Схема встраивания', small: 'JPG, 22.21 Кб' },
											{ src: 'images/pdf.svg', text: 'Информация о приборе', small: 'PDF, 1.24 Мб' },
											{ src: 'images/pdf.svg', text: 'Класс энергоэффективности', small: 'PDF, 272.73 Кб' },
											{ src: 'images/jpg.svg', text: 'Технические данные', small: 'GIF, 153 Кб' }
										]) 
									
									include /detail-page/detail-phone/detail-phone
									
									include /detail-page/detail-manager/detail-manager 
									
							.detail__section.detail__section_top
							
								.reviews-wrapper.reviews-wrapper_detail
									.reviews-wrapper__title Оценка модели De Dietrich DPI7572G
									.row.align-items-center
										.col-sm-6
											.reviews-wrapper__rate
												| Средняя оценка #[span 5]
												.reviews-wrapper__counter 45 отзывов
										.col-sm-6
											a.reviews-wrapper__btn(href="#") Оставить отзыв	
											a.reviews-wrapper__more(href="#") Смотреть все отзывы

									.reviews-wrapper__section
										include /reviews/reviews-list/reviews-list	
										.reviews-list
											+reviewsList({
												photo: true,
												src: 'images/news-list__pic4.png'
											})
											+reviewsList({
												photo: true,
												src: 'images/news-list__pic4.png'
											})
											+reviewsList({
												photo: true,
												src: 'images/news-list__pic4.png'
											})
											
								.title.title_small Аксессуары для De Dietrich DPI7572G:

								include /catalog/catalog-item/catalog-item

								.swiper.swiper_similar
									
									a.swiper__button(href="#") Другие аксессуары для варочных панелей
									
									.swiper-container(data-swiper, data-options!={"slidesPerView": 6, "spaceBetween": 8, "breakpoints": { 768: {"slidesPerView": "auto", "spaceBetween": 8, "slidesPerGroup": 1}}})
										.swiper-wrapper
											each val in [1, 2]
												.swiper-slide
													+catalogItem({})
												.swiper-slide
													+catalogItem({})
												.swiper-slide
													+catalogItem({})
												.swiper-slide
													+catalogItem({})
													
									.swiper__arrow.swiper__arrow_right
										.swiper__prev.swiper__prev_round.js-swiper__prev
										.swiper__next.swiper__next_round.js-swiper__next

								
							.detail__title Другие модели этого бренда:
							
							include /detail-page/detail-brand/detail-brand
							
							.detail__title Обратите внимание:
							
							include /detail-page/detail-models/detail-models
							
							.detail__section.detail__section_bottom
									
								.title.title_small Статьи и видео:
								
								include /news/news-block/news-block
								
								.news-block
									.swiper
										.swiper-container(data-swiper, data-options!={"slidesPerView": 4, "spaceBetween": 16, "breakpoints": { 768: {"slidesPerView": "auto", "spaceBetween": 16, "slidesPerGroup": 1}}})
											.swiper-wrapper
												each val in [1, 2]
													.swiper-slide
														+newsBlock({})
													.swiper-slide
														+newsBlock({
															src: 'images/news-block__pic2.jpg',
															name: 'Новые сушильные шкафы от Asko'
														})
													.swiper-slide
														+newsBlock({
															src: 'images/news-block__pic3.jpg',
															name: 'Лучшие марки холодильников',
															video: 'show'
														})
													.swiper-slide
														+newsBlock({
															src: 'images/news-block__pic4.jpg',
															name: 'Специальные цены на вытяжки Falmec',
															video: 'show'
														})
										.swiper__arrow.swiper__arrow_right
											.swiper__prev.swiper__prev_round.js-swiper__prev
											.swiper__next.swiper__next_round.js-swiper__next
								
		include /footer/global/footer
