doctype html
html
	include /head/head
	body
		.wrapper
			include /header/global/header
			.middle
 
				.middle__container
 
					.content

						include /breadcrumbs/breadcrumbs
						
						.content-block 
							+bread({
								text: 'Избранное'
							})
							.title Избранное 
							
							.content-block__row.content-block__row_reverse.content-block__row_favorite
								.content-block__text Здесь буду отображаться товары и статьи, которые вам понравились
								.content-block__menu
									include /menu/menu-content/menu-content
									+menuContent({
										arr: ['<span>Товары <b>5</b></span>', '<span>Статьи <b>4</b></span>'],
										index: 1
									}) 
								.content-block__icon
							
						include /news/news/news		
						.news
							+news({})
							+news({
								title: 'Серии стиральных машин Miele',
								favorite: true	
							})
							+news({
								title: 'Специальное предложение на легенду Smeg: FAB30',
								action: 'Акция!',
								actionCls: 'active',
								photo: true,
								footer: true
							})
							+news({
								title: 'Купи миксер Smeg и получи подарок!',
								action: 'Акция!',
								actionCls: 'active',
								photo: true,
								src: 'images/news3.jpg'
							})
								
		include /footer/global/footer
