doctype html
html
	include /head/head
	body
		.wrapper
			include /header/global/header
			.middle
 
				.middle__container
 
					.content

						include /breadcrumbs/breadcrumbs
						
						.content-block 
							+bread({
								text: 'Избранное'
							})
							.title Избранное 
							
							.content-block__row.content-block__row_reverse
								.content-block__text Здесь буду отображаться товары и статьи, которые вам понравились
								.content-block__menu
									include /menu/menu-content/menu-content
									+menuContent({
										arr: ['<span>Товары <b>5</b></span>', '<span>Статьи <b>4</b></span>']
									})
								.content-block__icon
								
						include /catalog/catalog-thumb/catalog-thumb
						.catalog
							.row
								each val in [1, 2]
									.col-sm-3
										+thumb({
											src: 'images/catalog-thumb__pic5.jpg',
											compare: true,
											favorite: true
										})
									.col-sm-3
										+thumb({
											src: 'images/catalog-thumb__pic6.jpg',
											label: true,
											labelItemsText: ['Хит продаж']
										})
									.col-sm-3
										+thumb({
											src: 'images/catalog-thumb__pic7.jpg'	
										})
									.col-sm-3
										+thumb({
											src: 'images/catalog-thumb__pic8.jpg'
										})
								
		include /footer/global/footer
