doctype html
html
	include /head/head
	body
		.wrapper
			include /header/global/header
			.middle
 
				.middle__container
 
					.content
						ol 
							li
								a(target='_blank', href='index.html') index.html
							br
							li
								a(target="_blank", href="404.html") 404.html 
							li
								a(target="_blank", href="search-result.html") search-result.html 
							li
								a(target="_blank", href="search-result2.html") search-result2.html
							li
								a(target="_blank", href="search-result-news.html") search-result-news.html
							li
								a(target="_blank", href="search-result-reviews.html") search-result-reviews.html
							li
								a(target="_blank", href="favorites-news.html") favorites-news.html
							li
								a(target="_blank", href="favorites-product.html") favorites-product.html
							li
								a(target="_blank", href="news.html") news.html
							li
								a(target="_blank", href="catalog-reviews.html") catalog-reviews.html
							li
								a(target="_blank", href="brand-reviews.html") brand-reviews.html
							li
								a(target="_blank", href="product-reviews.html") product-reviews.html
							li
								a(target="_blank", href="service-center-by-brand.html") service-center-by-brand.html
							li
								a(target="_blank", href="return.html") return.html
							li
								a(target="_blank", href="service-center.html") service-center.html
							li
								a(target="_blank", href="adress-butika.html") adress-butika.html
							li
								a(target="_blank", href="usloviya.html") usloviya.html
							li
								a(target="_blank", href="delivery.html") delivery.html
							li
								a(target="_blank", href="installation.html") installation.html
							li
								a(target="_blank", href="news-article.html") news-article.html
							li
								a(target="_blank", href="botique-feedback.html") botique-feedback.html
							li
								a(target="_blank", href="collaboration.html") collaboration.html
							li
								a(target="_blank", href="confirm.html") confirm.html
							li
								a(target="_blank", href="news-sale.html") news-sale.html
							li
								a(target="_blank", href="basket.html") basket.html
							li
								a(target="_blank", href="catalog-thumb.html") catalog-thumb.html
							li
								a(target="_blank", href="catalog-list-without-slider.html") catalog-list-without-slider.html
							li
								a(target="_blank", href="catalog-list.html") catalog-list.html
							li
								a(target="_blank", href="detail.html") detail.html	
							li
								a(target="_blank", href="detail-with-complect.html") detail-with-complect.html	
							li
								a(target="_blank", href="brand.html") brand.html
							li
								a(target="_blank", href="main.html") main.html
							li
								a(target="_blank", href="about-hausdorf.html") about-hausdorf.html
							li
								a(target="_blank", href="partners.html") partners.html
							//- li
							//- 	a(target="_blank", href="compare.html") compare.html	
							
		include /footer/global/footer
