doctype html
html
	include /head/head
	body
		.wrapper
			include /header/global/header
			.middle
 
				.middle__container
 
					.content

						include /breadcrumbs/breadcrumbs
						
						.content-block.content-block_bg_white.content-block_bdrs.content-block_delivery
							+bread({
								text: 'Подключение техники'
							})
							
							.title Подключение техники

							.search.search_delivery
								form.search__form(action="")
									.row.align-items-center
										.col-sm-1
											.search__text Регион:
										.col-sm-3
											include /combox/combox
											+combox(['Москва', 'Москва', 'Москва'])

							.text-default
								p При заказе техники в нашем магазине вы также можете заказать подключение. Работы по подключению выполняют мастера партнерских служб. Вызов мастера можно заказать у наших менеджеров по телефону +7 (495) 602-96-21. Дата приезда специалиста согласовывается при оформлении заказа. Чтобы не выделять дополнительное время на установку, визит мастера можно назначить на день доставки товара. Демонтаж старой техники в стоимость услуг не входит и оплачивается отдельно.

								.installation
									.row
										.col-sm-6
											.installation__item
												.installation__photo
													img.installation__pic.lazyload(data-src="images/installation__pic1.jpg", alt="")
												.installation__name
													| Информация по #[a(href="#") подключению] техники #[a(href="#") Miele] и #[a(href="#") документы] для покупателей товаров Miele.
										.col-sm-6
											.installation__item
												.installation__photo
													img.installation__pic.lazyload(data-src="images/installation__pic2.jpg", alt="")
												.installation__name
													| Информация о новой услуге Miele — #[a(href="#") Miele Exclusive Care].

								p Наш магазин дарит вам [b бесплатное подключение техники] на готовые коммуникации при стоимости товара от 50 000 рублей (кроме островных вытяжек) для следующих брендов:  
								p #[a(href="#") SMEG], #[a(href="#") ASKO], #[a(href="#") AEG], #[a(href="#") DeDietrich], #[a(href="#") Kuppersberg], #[a(href="#") Kaiser], #[a(href="#") Gaggenau], #[a(href="#") Faber], #[a(href="#") Kuppersbusch], #[a(href="#") Ilve], #[a(href="#") Barazza], #[a(href="#") IP], #[a(href="#") Steel], #[a(href="#") Restart] и многих других товарных предложений, помеченных специальным знаком. 
								p Выезд мастера за пределы МКАД оплачивается дополнительно.
							
								.text-default__title Цены на монтаж техники

								.text-default__row
									.text-default__col Выезд мастера — #[b 600 рублей.]        
									.text-default__col Вызов за МКАД #[b +40 руб./км]
									
							.slidedown
								.data-dropdown
									.data-dropdown__inner
										.data-dropdown__title.slidedown__title
											.data-dropdown__titletext.slidedown__titletext Подключение (на готовые коммуникации) отдельностоящей техники
											.data-dropdown__button.slidedown__button.active(data-dropdown) Развернуть
										.data-dropdown__section
											.data-dropdown__field
												.slidedown__desc
													
													.text-default-table
														.text-default-table__field
															.text-default-table__left
																p 
																	b Сушильный барабан #[br]
																	| (разблокировка прибора, установка на место дальнейшей эксплуатации, регулировка по уровню, первый запуск, консультация по использованию)
																	.text-default-table__price.d-block.d-sm-none 1 600 рублей.
																p 
																	b Электроплита  #[br]
																	| (установка новой плиты на место дальнейшей эксплуатации, регулировка по уровню, монтаж электрического кабеля от плиты к розетке (материал в стоимость подключения не входит), первый запуск, консультация по использованию)  
																	.text-default-table__price.d-block.d-sm-none 1 600 рублей.
																p 
																	b Стиральная машина  #[br]
																	| (разблокировка прибора, установка на место дальнейшей эксплуатации, регулировка по уровню, первый запуск, консультация по использованию)
																	.text-default-table__price.d-block.d-sm-none 1 600 рублей.
																p
																	b Посудомоечная машина  #[br]
																	| (разблокировка прибора, установка на место дальнейшей эксплуатации, регулировка по уровню, первый запуск, консультация по использованию)
																	.text-default-table__price.d-block.d-sm-none 1 600 рублей.
															.text-default-table__right
																| 1 600 рублей.
																								
										.data-dropdown__title.slidedown__title
											.data-dropdown__titletext.slidedown__titletext Подключение (на готовые коммуникации) встраиваемой техники 
											.data-dropdown__button.slidedown__button.active(data-dropdown) Развернуть
										.data-dropdown__section
											.data-dropdown__field
												.slidedown__desc

													.text-default-table
														.text-default-table__field(data-price="1 600 рублей.")
															.text-default-table__left
																b Холодильник 
																| (отдельностоящий, шириной до 60 см)
																
															.text-default-table__right
																| 1 600 рублей.
														.text-default-table__field(data-price="1 600 рублей.")
															.text-default-table__left
																b Холодильник встраиваемый
																
															.text-default-table__right
																| 1 900 рублей.
														.text-default-table__field(data-price="1 600 рублей.")
															.text-default-table__left
																b Холодильник Side-by-Side 
																| (отдельностоящий)
																
															.text-default-table__right
																| 2 500 рублей.
														.text-default-table__field(data-price="1 600 рублей.")
															.text-default-table__left
																b Холодильник Side-by-Side + вода
																| (установка на место дальнейшей эксплуатации, регулировка, подключение к готовым коммуникациям)
																
															.text-default-table__right
																| 4 000 рублей.
														.text-default-table__field(data-price="1 600 рублей.")
															.text-default-table__left
																b Холодильник Side-by-Side из двух частей
																| (установка на место дальнейшей эксплуатации, регулировка и соединение отдельных частей)
																
															.text-default-table__right
																| 2 500 рублей.
														.text-default-table__field(data-price="1 600 рублей.")
															.text-default-table__left
																b Холодильник Side-by-Side из двух частей с подключением к воде
																| (установка на место дальнейшей эксплуатации, регулировка и соединение отдельных частей, подключение к готовым коммуникациям)
																
															.text-default-table__right
																| 4 000 рублей.
														.text-default-table__field(data-price="1 600 рублей.")
															.text-default-table__left
																b Установка встраиваемого холодильника + перенавеска + навеска фасадов 
																| (комплекс)
																
															.text-default-table__right
																| 4 000 рублей.
												
										.data-dropdown__title.slidedown__title
											.data-dropdown__titletext.slidedown__titletext Холодильники
											.data-dropdown__button.slidedown__button(data-dropdown) Развернуть
										.data-dropdown__section
											.data-dropdown__field
												.slidedown__desc Lorem ipsum dolor sit amet, consectetur ad ipisicing elit. Repudiandae officiis natus perferendis quae, voluptatem ratione voluptate tempora enim, provident commodi quia fugit sequi eum nam dolores hic vel. Explicabo, officia.	
																										
										.data-dropdown__title.slidedown__title
											.data-dropdown__titletext.slidedown__titletext Вытяжки
											.data-dropdown__button.slidedown__button(data-dropdown) Развернуть
										.data-dropdown__section
											.data-dropdown__field
												.slidedown__desc Lorem ipsum dolor sit amet, consectetur ad ipisicing elit. Repudiandae officiis natus perferendis quae, voluptatem ratione voluptate tempora enim, provident commodi quia fugit sequi eum nam dolores hic vel. Explicabo, officia.	
												
										.data-dropdown__title.slidedown__title
											.data-dropdown__titletext.slidedown__titletext Установка моек для кухни
											.data-dropdown__button.slidedown__button(data-dropdown) Развернуть
										.data-dropdown__section
											.data-dropdown__field
												.slidedown__desc Lorem ipsum dolor sit amet, consectetur ad ipisicing elit. Repudiandae officiis natus perferendis quae, voluptatem ratione voluptate tempora enim, provident commodi quia fugit sequi eum nam dolores hic vel. Explicabo, officia.	
												
							.text-default.text-default_bottom

								.text-default__title Подключение техники по России	
								p Подробную информацию по тарифам на ввод в эксплуатацию приборов, партнерским сервисным центрам и другие вопросы можно уточнить по телефону горячей линии Hausdorf: #[a(href="#") +7 (800) 333-10-52] (звонок бесплатный).						
							include /brand/brand-list-photo/brand-list-photo		
								
		include /footer/global/footer
