doctype html
html
	include /head/head
	body
		.wrapper

			include /header/global/header

			.swiper.swiper_main
				.swiper-container(data-swiper, data-options!={"slidesPerView": 1, "spaceBetween": 30})
					.swiper-wrapper
						each i in [1, 2, 3, 4]
							.swiper-slide 
								.main-banner
									img.main-banner__pic.lazyload(data-srcset="images/main-banner_768w.png 768w, images/main-banner.png", data-src="images/main-banner.png")
									.main-banner__desc
										.main-banner__title Варочная панель Kuppersberg FA6RC Bronze
										.main-banner__price 35 990 руб.
										a.main-banner__button(href="#")
				.swiper__arrow.swiper__arrow_main
					.swiper__prev.swiper__prev_big.js-swiper__prev
					.swiper__next.swiper__next_big.js-swiper__next
			<!-- ./swiper -->
			.middle
 
				.middle__container
 
					.content 

						include /main/main-info/main-info 
 
						include /news/news-item/news-item   

						.news.news_item
							.row
								.col-sm-3
									+newsItem({})
								.col-sm-3
									+newsItem({
										title: 'Скидки до 50% с витрины!',
										src: 'images/news-item__pic2.jpg',
										text: 'Распродажа с витрины Hausdorf по беспрецедентным ценам! Скидки до 50%! '
									})
								.col-sm-3
									+newsItem({
										title: 'Будущее разумной жизни',
										src: 'images/news-item__pic3.jpg',
										text: 'Теперь вашим холодильником Liebherr можно управлять, не находясь рядом с ним.'
									})
								.col-sm-3
									+newsItem({
										title: 'Рейтинг бытовой техники',
										src: 'images/news-item__pic4.jpg',
										text: 'Подробный обзор бытовой техники для дома, чтобы сделать ваш выбор быстрым и удобным.'
									})

						.banner
							.row
								.col-sm-4
									a.banner__item(href='#')
										img.banner__pic.lazyload(data-srcset='images/banner__pic1_768w.png 768w, images/banner__pic1.png 4000w', data-src='images/banner__pic1.png', alt='')
										span.banner__desc
											span.banner__title Отзывы о бутике Hausdorf
											span.banner__text Остались довольны сервисом? Поделитесь своим мнение о Бутике Hausdorf
											span.banner__button Подробнее
								.col-sm-4
									a.banner__item(href='#')
										img.banner__pic.lazyload(data-srcset='images/banner__pic2_768w.png 768w, images/banner__pic2.png 4000w', data-src='images/banner__pic2.png', alt='')
										span.banner__footer
											span Выезд консультанта на дом
								.col-sm-4
									a.banner__item(href='#')
										img.banner__pic.lazyload(data-srcset='images/banner__pic3_768w.png 768w, images/banner__pic3.png 4000w', data-src='images/banner__pic3.png', alt='')
										span.banner__footer
											span Сотрудничество с дизайнерами и архитекторами
								.col-sm-4
									a.banner__item(href='#')
										img.banner__pic.lazyload(data-srcset='images/banner__pic4_768w.png 768w, images/banner__pic4.jpg 4000w', data-src='images/banner__pic4.jpg', alt='')
								.col-sm-8
									a.banner__item.banner__item_indent(href='#')
										img.banner__pic.lazyload(data-srcset='images/banner__pic5_768w.png 768w, images/banner__pic5.png 4000w', data-src='images/banner__pic5.png', alt='')
									a.banner__item(href='#')
										img.banner__pic.lazyload(data-srcset='images/banner__pic6_768w.png 768w, images/banner__pic6.png 4000w', data-src='images/banner__pic6.png', alt='')

						.block
							.tabs-menu(data-tabs)
								a.tabs-menu__link(data-hash='#js-tabs-1', data-tabs-children) Акции и новости
								a.tabs-menu__link(data-hash='#js-tabs-2', data-tabs-children) Акции
								a.tabs-menu__link(data-hash='#js-tabs-3', data-tabs-children) Новости
							.block__section
								.tabs
									each tab, i in [1, 2, 3]
										.tabs__inner(id="js-tabs-" + (i + 1))
											.swiper.swiper_newsitem
												.swiper-container(data-swiper, data-options!={"slidesPerView": 4, "spaceBetween": 16, "breakpoints": { 768: {"slidesPerView": "auto", "spaceBetween": 8, "slidesPerGroup": 1}}})
													.swiper-wrapper
														each val in [1, 2]
															.swiper-slide
																+newsItem({
																	title: 'Скидка 25% на варочные панели Smeg',
																	src: 'images/news-item__pic5.png',
																	text: 'С 16 августа по 28 декабря 2018 года при заказе комплекта техники на варочные поверхности предоставляется скидка 25%!'
																})
															.swiper-slide
																+newsItem({
																	title: 'Новые сушильные шкафы от Asko',
																	src: 'images/news-item__pic6.png',
																	text: 'Новый сушильный шкаф Asko станет функциональным и стильным дополнением вашего дома — вы будете удивляться…'
																})
															.swiper-slide
																+newsItem({
																	title: 'Лучшие марки холодильников',
																	src: 'images/news-item__pic7.png',
																	text: 'Холодильники давно перестали быть предметами роскоши, но он должен соответствовать самым строгим требованиям. Каким?'
																})
															.swiper-slide
																+newsItem({
																	title: 'Специальные цены на вытяжки Falmec',
																	src: 'images/news-item__pic8.png',
																	text: 'Уникальная возможность приобрести надежную итальянскую вытяжку по доступной цене. '
																})
												.swiper__arrow.swiper__arrow_right
													.swiper__prev.swiper__prev_round.js-swiper__prev
													.swiper__next.swiper__next_round.js-swiper__next
						.block
							.block__title Популярные категории товаров в бренде
							.block__section
								.swiper.swiper_brandlist
									.swiper-container(data-swiper, data-options!={slidesPerView: 6, spaceBetween: 30, breakpoints: { 768: {slidesPerView: "auto", spaceBetween: 24, slidesPerGroup: 1}}})
										.swiper-wrapper
											each i in [1, 2]
												.swiper-slide
													.brand-list
														.brand-list__title
															a.brand-list__titlelink(href='#')
																img.brand-list__pic.lazyload(data-src='images/brand-list__pic1.svg', alt='')
														.brand-list__item
															a.brand-list__link(href='#') Стиральные машины Asko
														.brand-list__item
															a.brand-list__link(href='#') Сушильные машины Asko
														.brand-list__item
															a.brand-list__link(href='#') Посудомоечные машины Asko
														.brand-list__item
															a.brand-list__link(href='#') Холодильники Asko
														.brand-list__item
															a.brand-list__link(href='#') Варочные панели Asko
														.brand-list__item
															a.brand-list__link(href='#') Духовые шкафы Asko
														.brand-list__item
															a.brand-list__link(href='#') Вытяжки Asko
														.brand-list__item
															a.brand-list__link(href='#') Микроволновые печи Asko
														.brand-list__item
															a.brand-list__link(href='#') Кофемашины Asko
												.swiper-slide
													.brand-list
														.brand-list__title
															a.brand-list__titlelink(href='#')
																img.brand-list__pic.lazyload(data-src='images/brand-list__pic2.svg', alt='')
														.brand-list__item
															a.brand-list__link(href='#') Печи Gorenje
														.brand-list__item
															a.brand-list__link(href='#') Витрины Gorenje
														.brand-list__item
															a.brand-list__link(href='#') Посудомоечные машины
														.brand-list__item
															a.brand-list__link(href='#') Стаканомоечные машины Gorenje
														.brand-list__item
															a.brand-list__link(href='#') Холодильное оборудование Gorenje
														.brand-list__item
															a.brand-list__link(href='#') Ледогенераторы Gorenje
														.brand-list__item
															a.brand-list__link(href='#') Аксессуары Gorenje
												.swiper-slide
													.brand-list
														.brand-list__title
															a.brand-list__titlelink(href='#')
																img.brand-list__pic.lazyload(data-src='images/brand-list__pic3.png', alt='')
														.brand-list__item
															a.brand-list__link(href='#') Варочные панели Neff
														.brand-list__item
															a.brand-list__link(href='#') Пароварки Neff
														.brand-list__item
															a.brand-list__link(href='#') Посудомоечные машины Neff
														.brand-list__item
															a.brand-list__link(href='#') Кофемашины Neff
														.brand-list__item
															a.brand-list__link(href='#') Вытяжки Neff
														.brand-list__item
															a.brand-list__link(href='#') Подогреватели Neff
														.brand-list__item
															a.brand-list__link(href='#') Посудомоечные Neff
														.brand-list__item
															a.brand-list__link(href='#') Кофемашины Neff
												.swiper-slide
													.brand-list
														.brand-list__title
															a.brand-list__titlelink(href='#')
																img.brand-list__pic.lazyload(data-src='images/brand-list__pic4.png', alt='')
														.brand-list__item
															a.brand-list__link(href='#') Духовые шкафы Smeg
														.brand-list__item
															a.brand-list__link(href='#') Варочные центры Smeg
														.brand-list__item
															a.brand-list__link(href='#') Микроволновые печи Smeg
														.brand-list__item
															a.brand-list__link(href='#') Пароварки Smeg
														.brand-list__item
															a.brand-list__link(href='#') Посудомоечные машины Smeg
														.brand-list__item
															a.brand-list__link(href='#') Кофемашины Smeg
														.brand-list__item
															a.brand-list__link(href='#') Вытяжки Smeg
														.brand-list__item
															a.brand-list__link(href='#') Подогреватели Smeg
												.swiper-slide
													.brand-list
														.brand-list__title
															a.brand-list__titlelink(href='#')
																img.brand-list__pic.lazyload(data-src='images/brand-list__pic5.png', alt='')
														.brand-list__item
															a.brand-list__link(href='#') Холодильники AEG
														.brand-list__item
															a.brand-list__link(href='#') Стиральные машины AEG
														.brand-list__item
															a.brand-list__link(href='#') Сушильные машины AEG
														.brand-list__item
															a.brand-list__link(href='#') Варочные панели AEG
														.brand-list__item
															a.brand-list__link(href='#') Духовые шкафы AEG
														.brand-list__item
															a.brand-list__link(href='#') Варочные центры AEG
														.brand-list__item
															a.brand-list__link(href='#') Микроволновые печи AEG
														.brand-list__item
															a.brand-list__link(href='#') Посудомоечные машины AEG
														.brand-list__item
															a.brand-list__link(href='#') Кофемашины AEG
														.brand-list__item
															a.brand-list__link(href='#') Вытяжки AEG

									.swiper__arrow.swiper__arrow_right
										.swiper__prev.swiper__prev_round.js-swiper__prev
										.swiper__next.swiper__next_round.js-swiper__next
						

		include /footer/global/footer
