doctype html
html
	include /head/head
	body
		.wrapper
			include /header/global/header
			.middle
 
				.middle__container
 
					.content

						include /breadcrumbs/breadcrumbs
						
						.content-block.content-block_bg_white.content-block_bdrs
							+bread({
								items: [{"item": "Статьи", "submenu": false, "mod": false}],
								text: 'SmartDevice — будущее разумной жизни'
							})
							.title SmartDevice — будущее разумной жизни

							include /news/news-article/news-article
								
		include /footer/global/footer
