doctype html
html
	include /head/head
	body
		.wrapper
			include /header/global/header
			.middle
 
				.middle__container
 
					.content

						include /breadcrumbs/breadcrumbs
						
						.content-block 
							+bread({
								text: 'Статьи',
							})
							.title Статьи
							
							.content-block__row
								.content-block__text Рубрики:
								.content-block__menu
									include /menu/menu-content/menu-content
									+menuContent({
										arr: ['<span>Акции <b>5</b></span>', '<span>Новости <b>25</b></span>', '<span>Все статьи <b>30</b></span>'],
										index: 2
									})
							
						include /news/news/news		
						.news
							+news({})
							+news({
								title: 'Серии стиральных машин Miele',
								favorite: true	
							})
							+news({
								title: 'Специальное предложение на легенду Smeg: FAB30',
								favorite: true,
								action: 'Акция!',
								actionCls: 'active',
								photo: true,
								footer: true
							})
							+news({
								title: 'Новинки кухонной техники от Asko',
								action: 'Новинка',
								actionCls: 'active',
								photo: true,
								src: 'images/news2.jpg'
							})
							+news({
								title: 'SmartDevice — будущее разумной жизни'
							})
							+news({
								title: 'Цветные холодильники из Германии'
							})
							+news({
								title: 'Купи миксер Smeg и получи подарок!',
								action: 'Акция!',
								actionCls: 'active',
								photo: true,
								src: 'images/news3.jpg'
							})
						include /pagination/pagination
								
		include /footer/global/footer
