doctype html
html
	include /head/head
	body
		.wrapper
			include /header/global/header
			.middle
 
				.middle__container
 
					.content

						include /breadcrumbs/breadcrumbs
						
						.content-block.content-block_bg_white.content-block_bdrs
							+bread({
								items: [{"item": "Статьи", "submenu": false, "mod": false}],
								text: 'Купи миксер Smeg и получи подарок!'
							})
							.title Купи миксер Smeg и получи подарок!

							include /news/news-sale/news-sale

						.news-sale
							.news-sale__products
								.catalog
									.catalog__inner
										include /catalog/catalog-list/catalog-list-newssale
								
		include /footer/global/footer
