doctype html
html
	include /head/head
	body
		.wrapper
			include /header/global/header
			.middle
 
				.middle__container
 
					.content

						include /breadcrumbs/breadcrumbs
						
						.partners
						
							.partners-banner
							
								+bread({
									text: 'Индивидуальные условия для собственников недвижимости в ЖК и посёлках партнёров Hausdorf'
								})
							
								.partners-banner__title Индивидуальные условия для собственников недвижимости в ЖК #[br] и посёлках партнёров Hausdorf
									
								.partners-banner__menu(data-tabs)
									a.partners-banner__menulnk(data-hash='#js-tabs-1', data-tabs-children) Собственникам
									a.partners-banner__menulnk(data-hash='#js-tabs-2', data-tabs-children) Партнерам
									
								.partners-banner__section
									.tabs
										each tab, i in [1, 2]
											.tabs__inner(id="js-tabs-" + (i + 1))
												p Узнать специальные условия на приобретение техники можно посетив наш салон. Для подтверждения наличия собственности #[br] в партнерских организациях необходимо предоставить любой документ:
												ul
													li Договор купли-продажи
													li Свидетельство о собственности
													li Адрес прописки в паспорте
													li Иной документ с подтверждением
											
								.partners-banner__footer
									include /benefits/benefits/benefits-partners
							
							.partners__brands
								.title.title_small Бренды
								.partners__brands-row
									.partners__brands-col
										.partners__brands-link
											img.partners__brands-pic.lazyload(data-src="images/asko_logo.png")
									.partners__brands-col
										.partners__brands-link
											img.partners__brands-pic.lazyload(data-src="images/beltratto_logo.png")
									.partners__brands-col
										.partners__brands-link
											img.partners__brands-pic.lazyload(data-src="images/Group_43.png")
									.partners__brands-col
										.partners__brands-link
											img.partners__brands-pic.lazyload(data-src="images/bugatti_logo.png")
									.partners__brands-col
										.partners__brands-link
											img.partners__brands-pic.lazyload(data-src="images/bugatti_logo.png")
									.partners__brands-col
										.partners__brands-link
											img.partners__brands-pic.lazyload(data-src="images/gga.png")
									.partners__brands-col
										.partners__brands-link
											img.partners__brands-pic.lazyload(data-src="images/beltratto_logo.png")
									.partners__brands-col
										.partners__brands-link
											img.partners__brands-pic.lazyload(data-src="images/logo-wolf.png")
									.partners__brands-col
										.partners__brands-link
											img.partners__brands-pic.lazyload(data-src="images/bugatti_logo.png")
									.partners__brands-col
										.partners__brands-link
											img.partners__brands-pic.lazyload(data-src="images/bugatti_logo.png")
									.partners__brands-col
										.partners__brands-link
											img.partners__brands-pic.lazyload(data-src="images/asko_logo.png")
									.partners__brands-col
										.partners__brands-link
											img.partners__brands-pic.lazyload(data-src="images/beltratto_logo.png")
									.partners__brands-col
										.partners__brands-link
											img.partners__brands-pic.lazyload(data-src="images/Group_43.png")
									.partners__brands-col
										.partners__brands-link
											img.partners__brands-pic.lazyload(data-src="images/bugatti_logo.png")
									.partners__brands-col
										.partners__brands-link
											img.partners__brands-pic.lazyload(data-src="images/bugatti_logo.png")
									.partners__brands-col
										.partners__brands-link
											img.partners__brands-pic.lazyload(data-src="images/gga.png")
									.partners__brands-col
										.partners__brands-link
											img.partners__brands-pic.lazyload(data-src="images/beltratto_logo.png")
									.partners__brands-col
										.partners__brands-link
											img.partners__brands-pic.lazyload(data-src="images/logo-wolf.png")
									.partners__brands-col
										.partners__brands-link
											img.partners__brands-pic.lazyload(data-src="images/bugatti_logo.png")
									.partners__brands-col
										.partners__brands-link
											img.partners__brands-pic.lazyload(data-src="images/bugatti_logo.png")
											
							include /partners/partners-list/partners-list
											
							.partners__brands.partners__brands_flex
								.title.title_small С нами уже работают
								.partners__brands-rowitems
									.partners__brands-colitems
										.partners__brands-linkitems
											img.partners__brands-pic.lazyload(data-src="images/partners__brands-pic1.jpg")
									.partners__brands-colitems
										.partners__brands-linkitems
											img.partners__brands-pic.lazyload(data-src="images/partners__brands-pic2.jpg")
									.partners__brands-colitems
										.partners__brands-linkitems
											img.partners__brands-pic.lazyload(data-src="images/partners__brands-pic3.jpg")
									.partners__brands-colitems
										.partners__brands-linkitems
											img.partners__brands-pic.lazyload(data-src="images/partners__brands-pic4.jpg")
									.partners__brands-colitems
										.partners__brands-linkitems
											img.partners__brands-pic.lazyload(data-src="images/partners__brands-pic5.jpg")
									.partners__brands-colitems
										.partners__brands-linkitems
											img.partners__brands-pic.lazyload(data-src="images/partners__brands-pic6.jpg")
									.partners__brands-colitems
										.partners__brands-linkitems
											img.partners__brands-pic.lazyload(data-src="images/partners__brands-pic7.jpg")
									.partners__brands-colitems
										.partners__brands-linkitems
											img.partners__brands-pic.lazyload(data-src="images/partners__brands-pic8.jpg")
									.partners__brands-colitems
										.partners__brands-linkitems
											img.partners__brands-pic.lazyload(data-src="images/partners__brands-pic9.jpg")
							.partners__footer
								a.partners__button(href="#") Стать партнером
													
							.address__row.row.partners__bottom
							
								.col-sm-7
									
									.title.title_small «Бутик Hausdorf» расположен по адресу:
									
									.address__field
										include /utilities/address-info/address-info
										+addressInfo('Москва, Рублевское шоссе, д. 52а, ТЦ «Западный», 3 этаж')
									
									.address__field
										include /utilities/metro-info/metro-info
										+metroInfo('Ближайшая станция метро: «Крылатское»')

									.address__field
										include /utilities/time-info/time-info
										+timeInfo('сall-центр — ежедневно: <b>с 9:00 до 22:00</b>, магазин — ежедневно: <b>с 10:00 до 22:00</b>')
									
									.address__field
										include /utilities/email-info/email-info
										+emailInfo('shop@hausdorf.ru')
								
								.col-sm-5
									
									.partners__map
										iframe(src="https://yandex.ru/map-widget/v1/-/CCQWzYJO", width="100%", height="240", frameborder="2", allowfullscreen="true")
								
		include /footer/global/footer
