{% include 'head/head.njk' %}

<body>

<div class="wrapper" id="js-wrapper">

	{% include 'header/global/header.njk' %}

	<div class="middle">
		<div class="middle__container">

			<div class="content">
				<!-- WORKAREA -->

				{% from "breadcrumbs/breadcrumbs.njk" import breadcrumbs %}

				{{ breadcrumbs(text='Попапы') }}

				<div class="title">Попапы</div>
				<!-- /.title -->

				<ul>
					<li><a data-ajax data-url="ajax/popup-callback.html" href="#">Заказать звонок</a></li>
					<li><a data-ajax data-url="ajax/popup-parameters-eyes.html" href="#">Выбор параметров зрения при клике на корзину</a></li>
					<li><a data-ajax data-url="ajax/popup-city.html" href="#">Выбор города</a></li>
				</ul>

				<!-- END WORKAREA -->
			</div>
			<!-- /.content -->

		</div>
		<!-- /.middle__container -->
	</div>
	<!-- /.middle -->

</div>
<!-- /.wrapper -->

{% include 'footer/global/footer.njk' %}
{% include 'connect/script.njk' %}
{% include 'connect/stylesheet.njk' %}

</body>
</html>
