doctype html
html
	include /head/head
	body
		.wrapper
			include /header/global/header
			.middle
 
				.middle__container
 
					.content

						include /breadcrumbs/breadcrumbs
						
						.content-block.content-block_bg_white.content-block_bdrs
							+bread({
								text: 'Возврат и обмен товаров'
							})
							
							.title Возврат и обмен товаров

							.text-default
								p Уважаемые покупатели, пожалуйста, обращайте внимание, что заявления необходимо подавать в письменном виде. Срок обработки рекламации — до 10 дней.
								.text-default__title Необходимый пакет документов для оформления рекламационного заявления: 
								ul
									li
										span Заявление с подписью и полной информацией о заказе (№ заказа, описание проблемы, требование возврата или обмена, а также телефон)
									li
										span Заключение авторизованного сервисного центра о технической неисправности, представленное в виде отсканированного изображения или фотографии
									li
										span Фотографии повреждений
									li
										span Фотографии упаковки (в случае если товар не подошел)
									li
										span Накладная или кассовый и товарный чеки
							.download
								a.download__link(href="#")
									span Скачать бланк заявления 
									
							include /utilities/phone-content/phone-content
							+phoneContent({})
								
							include /form/form
							.title.title_small Заявка
							.form
								.row
									.col-sm-5
										+input({})
										+input({
											label: 'Имя'
										})
										+input({
											label: '+7(_ _ _) _ _ _ - _ _ - _ _',
											type: 'tel'
										})
										+input({
											label: 'E-mail',
											type: 'email'
										})
										+input({
											label: 'Номер заказа',
											type: 'number'
										})
									.col-sm-7
										+textarea({})
										include /form/file/file
										.row.align-items-center
											.col-sm-7
												+checkbox({
													checked: true
												})
											.col-sm-5
												+submit()
								
		include /footer/global/footer
