doctype html
html
	include /head/head
	body
		.wrapper
			include /header/global/header
			.middle
 
				.middle__container
 
					.content

						include /breadcrumbs/breadcrumbs
						
						.content-block 
							+bread({
								text: 'Результаты поиска'
							})
							.title Результаты поиска
							
							include /search/search
							+search(true)
							
						include /news/news/news		
						.news
							+news({
								title: 'Серии стиральных машин Miele',
								favorite: true	
							})
							+news({
								title: 'Специальное предложение на легенду Smeg: FAB30',
								action: 'Акция!',
								actionCls: 'active',
								photo: true,
								footer: true
							})
								
		include /footer/global/footer
