doctype html
html
	include /head/head
	body
		.wrapper
			include /header/global/header
			.middle
 
				.middle__container
 
					.content

						include /breadcrumbs/breadcrumbs
						
						.content-block 
							+bread({
								text: 'Результаты поиска'
							})
							.title Результаты поиска
							
							include /search/search
							+search(true)
							
							//- .content-block__row
							//- 	.content-block__text Рубрики:
							//- 	.content-block__menu
							//- 		include /menu/menu-content/menu-content
							//- 		+menuContent({
							//- 			arr: ['<span>Акции <b>5</b></span>', '<span>Новости <b>25</b></span>', '<span>Все статьи <b>30</b></span>'],
							//- 			index: 2
							//- 		})
							
						include /catalog/catalog-thumb/catalog-thumb
						.catalog
							.row
								each val in [1, 2]
									.col-sm-3
										+thumb({
											src: 'images/catalog-thumb__pic5.jpg',
											compare: true,
											favorite: true
										})
									.col-sm-3
										+thumb({
											src: 'images/catalog-thumb__pic6.jpg',
											label: true,
											labelItemsText: ['Хит продаж']
										})
									.col-sm-3
										+thumb({
											src: 'images/catalog-thumb__pic7.jpg'	
										})
									.col-sm-3
										+thumb({
											src: 'images/catalog-thumb__pic8.jpg'
										})
								
		include /footer/global/footer
