doctype html
html
	include /head/head
	body
		.wrapper
			include /header/global/header
			.middle
 
				.middle__container
 
					.content

						include /breadcrumbs/breadcrumbs
						
						.content-block 
							+bread({
								text: 'Результаты поиска'
							})
							.title Результаты поиска
							
							include /search/search
							+search()
							
						include /catalog/catalog-thumb/catalog-thumb

						.title.title_small Возможно вы искли что-то из этого?
						
						.catalog
							.row
								each val in [1, 2, 3]
									.col-sm-3
										+thumb({
											src: 'images/catalog-thumb__pic1.jpg',
											compare: true,
											favorite: true
										})
									.col-sm-3
										+thumb({
											src: 'images/catalog-thumb__pic2.jpg',
											label: true
										})
									.col-sm-3
										+thumb({
											src: 'images/catalog-thumb__pic3.jpg'	
										})
									.col-sm-3
										+thumb({
											src: 'images/catalog-thumb__pic4.jpg'
										})
								
		include /footer/global/footer
