doctype html
html
	include /head/head
	body
		.wrapper
			include /header/global/header
			.middle
 
				.middle__container
 
					.content

						include /breadcrumbs/breadcrumbs
						
						.content-block 
							+bread({
								text: 'Результаты поиска'
							})
							.title Результаты поиска
							
							include /search/search
							+search(true)
							
						include /reviews/reviews-list/reviews-list	
						.reviews-list
							+reviewsList({
								photo: true
							})
							+reviewsList({
								photo: true,
								src: 'images/news-list__pic2.png',
								name: 'Анна В',
								text: 'Покупали стиральную машинку Miele не раздумывая. В бренде уверены, бренд проверен временем. Прежде чем брать напичканные всякимим непонятными функциями 10 в 1 и т.д за бешенные бабки лучше почитать и выяснить что не в огромном универсализме преимущества стиральной машины.'
							})
							+reviewsList({
								photo: true,
								src: 'images/news-list__pic3.png',
								name: 'Кузьмина Дарья',
								text: 'Хороший производитель, очень тихая и не портит вещи. выбор стиральной машинки это нечасто и это очень выматывает. Потому что покумаем стиральные машинки опят таки нечасто и надолго. Доверились известному бренду. Белье вынимаю практически сухое и идеально чистое при том же порошке который использовала до приобретения, но в старой машинке вещи были намного темнее и это особенно было заметно по светлым вещам '
							})
							+reviewsList({
								photo: true
							})
							+reviewsList({
								photo: true,
								src: 'images/news-list__pic2.png',
								name: 'Анна В',
								text: 'Покупали стиральную машинку Miele не раздумывая. В бренде уверены, бренд проверен временем. Прежде чем брать напичканные всякимим непонятными функциями 10 в 1 и т.д за бешенные бабки лучше почитать и выяснить что не в огромном универсализме преимущества стиральной машины.'
							})
							+reviewsList({
								photo: true,
								src: 'images/news-list__pic3.png',
								name: 'Кузьмина Дарья',
								text: 'Хороший производитель, очень тихая и не портит вещи. выбор стиральной машинки это нечасто и это очень выматывает. Потому что покумаем стиральные машинки опят таки нечасто и надолго. Доверились известному бренду. Белье вынимаю практически сухое и идеально чистое при том же порошке который использовала до приобретения, но в старой машинке вещи были намного темнее и это особенно было заметно по светлым вещам '
							})
							+reviewsList({
								photo: true
							})
							+reviewsList({
								photo: true,
								src: 'images/news-list__pic2.png',
								name: 'Анна В',
								text: 'Покупали стиральную машинку Miele не раздумывая. В бренде уверены, бренд проверен временем. Прежде чем брать напичканные всякимим непонятными функциями 10 в 1 и т.д за бешенные бабки лучше почитать и выяснить что не в огромном универсализме преимущества стиральной машины.'
							})
							+reviewsList({
								photo: true,
								src: 'images/news-list__pic3.png',
								name: 'Кузьмина Дарья',
								text: 'Хороший производитель, очень тихая и не портит вещи. выбор стиральной машинки это нечасто и это очень выматывает. Потому что покумаем стиральные машинки опят таки нечасто и надолго. Доверились известному бренду. Белье вынимаю практически сухое и идеально чистое при том же порошке который использовала до приобретения, но в старой машинке вещи были намного темнее и это особенно было заметно по светлым вещам '
							})
								
		include /footer/global/footer
