doctype html
html
	include /head/head
	body
		.wrapper
			include /header/global/header
			.middle
 
				.middle__container
 
					.content

						include /breadcrumbs/breadcrumbs
						
						.content-block.content-block_bg_white.content-block_bdrs
							+bread({
								items: [{"item": "Сервисные центры", "submenu": false, "mod": false}, {"item": "ASKO", "submenu": true, "mod": true}]
							})
							
							.title Сервисные центры Asko

							.service-center-brand
								.service-center-brand__row
									.service-center-brand__col
										.service-center-brand__photo
											a.service-center-brand__link(href="#")
												img.service-center-brand__pic.lazyload(data-src="images/service-center-brand__pic.png", alt="")
										a.service-center-brand__back(href="#") Вернуться к списку сервисных центров
									.service-center-brand__col
										.service-center-brand__field
											.service-center-brand__title ИП Прокофьев Е.С.
											.service-center-brand__phone
												a(href="#") 8 (499) 322-19-94
											.service-center-brand__address Московская обл., г. Красногорск, ул. Красногорский бульвар д.19
										.service-center-brand__field
											.service-center-brand__title ИП Солоп С.А.
											.service-center-brand__phone
												a(href="#") 8 (495) 998-01-79
											.service-center-brand__address 124527, г. Зеленоград, кор. 841
										.service-center-brand__field
											.service-center-brand__title ИП Утешев Д.Н. АСЦ «Быт Монтаж»
											.service-center-brand__phone
												a(href="#") 8 (495) 740 51 02
										.service-center-brand__field
											.service-center-brand__title ИП Щербаков Д.В.
											.service-center-brand__phone
												a(href="#") 8 (499) 346-72-18
											.service-center-brand__address г. Москва, проезд Русанова, д. 11
										.service-center-brand__field
											.service-center-brand__title ООО «ГОРСЕРВИС»
											.service-center-brand__phone
												a(href="#") 8 (495) 788-77-39
											.service-center-brand__address г. Москва, проезд Одоевского, д. 2а
										.service-center-brand__field
											.service-center-brand__title ООО «ТРАНССЕРВИС-95»
											.service-center-brand__phone
												a(href="#") 8 (495) 744-01-10
											.service-center-brand__address г. Москва, 1-й Варшавский пр-д, д. 1 а, стр. 3
										.service-center-brand__field
											.service-center-brand__title Представительство Asko
											.service-center-brand__phone
												a(href="#") 8 (800) 707-08-07
								
		include /footer/global/footer
