doctype html
html
	include /head/head
	body
		.wrapper
			include /header/global/header
			.middle
 
				.middle__container
 
					.content

						include /breadcrumbs/breadcrumbs
						
						.content-block 
							+bread({
								text: 'Сервисные центры'
							})
							.title Сервисные центры
							
							include /search/search
							+searchBrand()
						
						include /service-center/service-list/service-list
								
		include /footer/global/footer
