.reviews-wrapper {
	padding-top: 24px;
	margin-bottom: 24px;

	&_detail {
		padding: 0 0 16px;
		border-bottom: 1px solid #d8d8d8;
		margin-bottom: 24px;
	}

	&__title {
		color: rgb(0, 0, 0);
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
		margin-bottom: 10px;
	}

	&__row {
		margin-bottom: 16px;
	}

	&__rate {
		color: rgb(0, 0, 0);
		font-size: 16px;
		font-weight: 500;

		span {
			color: rgb(221, 0, 22);
			font-weight: 700;
		}
	}

	&__counter {
		color: rgb(88, 88, 90);
		margin-left: 16px;
		font-size: 14px;
		font-weight: 500;
		display: inline-block;
	}

	&__more {
		float: right;
		height: 32px;
		border-radius: 5px;
		background-color: rgb(255, 255, 255);
		color: rgb(0, 0, 0);
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 24px;
		font-size: 14px;
		font-weight: 500;
	}

	&__btn {
		@include button($h: 32px, $w: 206px, $m: 0 0 0 16px);
		float: right;
	}

	&__section {}

	@media (--phone) {
		margin-bottom: 64px;
		position: relative;
		padding-top: 0;

		&_detail {
			border: none;
			margin-bottom: 24px;
		}

		[class*=col-] {
			position: static;
		}

		&__row {
			margin-bottom: 0;
		}

		&__title {
			font-size: 14px;
			font-weight: 500;
			line-height: 1.29;
			margin-bottom: 4px;
		}

		&__rate {
			font-size: 12px;
			font-weight: 500;
			margin-bottom: 16px;
		}

		&__counter {
			font-size: 10px;
		}

		&__more {
			position: absolute;
			bottom: -42px;
			left: 0;
			width: 100%;

			.detail & {
				bottom: 0;
			}
		}

		&__btn {
			width: 100%;
		}
	}
}