mixin downloadFiles(data)

	- var data = data || [{"src": "images/pdf.svg", "text": "Условия продажи товаров Miele MCA", "small": "PDF, 1.3 Мб"}]
	
	.download-files
		each i in data
			.download-files__field
				.download-files__icon
					img.download-files__pic.lazyload(data-src="" + i.src + "")
				.download-files__text= i.text
					span= i.small
