.download-files {
	line-height: 1;

	&__field {
		display: flex;
		align-items: center;
		margin-bottom: 16px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__icon {
		width: 40px;
	}

	&__pic {
		display: block;
	}

	&__text {
		color: rgb(0, 0, 0);
		font-size: 14px;
		font-weight: 400;

		span {
			color: rgb(165, 165, 166);
			margin-left: 10px;
		}
	}

	@media (--phone) {
		margin-bottom: 16px;

		&__field {
			margin-bottom: 10px;
		}

		&__text {
			font-size: 10px;
		}
	}
}