mixin filterBrands(data)

	- var data = data ||  ['Miele', 'Text', 'Neff', 'Text', 'Kuppersbush']

	label.filter-brands__item.filter-brands__item_all
		input.filter-brands__input(type="checkbox")
		span.filter-brands__text Все бренды
	each val in data
		label.filter-brands__item
			input.filter-brands__input(type="checkbox") 
			span.filter-brands__text= val