.filter-brands {
	line-height: 1;
	display: flex;
	flex-wrap: wrap;

	&__item {
		position: relative;
		margin: 0 4px 4px 0;
	}

	&__input {
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0;
	}

	&__text {
		color: rgb(255, 255, 255);
		font-size: 15px;
		font-weight: 500;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 115px;
		height: 32px;
		border-radius: 5px;
		background-image: linear-gradient(to top, rgb(169, 0, 17) 0%, rgb(221, 0, 22) 100%);
	}

	&__item_all &__text {
		color: rgb(66, 66, 66);
		font-size: 12px;
		font-weight: 500;
		background-image: linear-gradient(180deg, rgb(162, 162, 162) 0%, rgb(200, 200, 200) 100%);
	}

	&__input:checked+&__text {
		background-image: linear-gradient(180deg, rgb(169, 0, 17) 0%, rgb(221, 0, 22) 100%);
		box-shadow: inset 0 1px 0 rgb(221, 0, 22);
		color: rgb(86, 0, 0);
	}

	@media (--phone) {
		margin: 0 -2px;

		&__item {
			margin: 0 2px 4px;
			width: calc(100% / 3 - 4px)
		}

		&__text {
			width: 100%;
			font-size: 13px;
		}
	}
}