.sorting-view {
	width: 246px;
	height: 32px;
	border-radius: 20px;
	background-color: rgb(230, 230, 230);
	display: flex;

	&__table,
	&__list {
		width: 50%;
		color: rgb(88, 88, 90);
		font-size: 14px;
		font-weight: 400;
		padding: 0 0 0 50px;
		height: 32px;
		display: flex;
		align-items: center;
		border-radius: 20px;
		position: relative;

		&.active {
			background-image: linear-gradient(to top, rgb(139, 139, 139) 0%, rgb(184, 184, 184) 100%);
			font-weight: 500;
			color: #000;
		}

		&:before {
			content: '';
			position: absolute;
			left: 20px;
			top: 0;
			height: 100%;
			width: 20px;
		}

	}

	&__list {
		&:before {
			background: url(../images/sorting-view__list.svg) no-repeat left center;
		}

		&.active {
			&:before {
				background: url(../images/sorting-view__list_active.svg) no-repeat left center;
			}

		}

	}

	&__table {
		&:before {
			background: url(../images/sorting-view__table.svg) no-repeat left center;
		}

		&.active {
			&:before {
				background: url(../images/sorting-view__table_active.svg) no-repeat left center;
			}

		}

	}

}
