.phone-content-large
	.phone-content-large__text Получить консультацию по вопросу выбора холодильника Liebherr вы можете у наших менеджеров в салоне Hausdorf или по телефону: #[br] #[a(href="#") +7 (800) 333-10-52] (звонок бесплатный).
	.phone-content-large__icon
