.phone-content-large {
	border-radius: 5px;
	background-color: rgb(245, 247, 250);
	padding: 24px 86px 24px 119px;
	position: relative;

	&__text {
		color: rgb(0, 0, 0);
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;

		a {
			color: rgb(221, 0, 22);
			font-weight: 500;
		}
	}

	&__icon {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 24px;
		background: url("../images/phone-content-large__icon.svg") no-repeat left center;
		width: 71px;
		height: 100%;
		content: '';
	}

	@media (--phone) {
		border-radius: 0;
		margin: 0 -16px -16px;
		padding: 16px 16px 16px 102px;

		&__text {
			font-size: 10px;
			line-height: 2;
		}

		&__icon {
			left: 16px;
			background-position: left 16px;
		}
	}
}