.catalog-list {
	&__item {
		border-radius: 5px;
		background-color: rgb(255, 255, 255);
		margin-bottom: 14px;
		padding: 24px;
	}

	&__photo {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__link {
		text-decoration: none;
	}

	&__pic {
		display: block;
		max-width: 100%;
		max-height: 100%;
	}

	&__middle {
		padding-right: 20px;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		&-top {}

		&-bottom {}

	}

	&__name {
		margin-bottom: 16px;
	}

	&__namelink {
		color: rgb(0, 0, 0);
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;

		&:after {
			content: '';
			display: inline-block;
			margin-left: 16px;
			@include css-triangle(right, var(--cherry), 10px, 8px);
		}

	}

	&__list {
		margin: 0 0 16px;
		padding: 0;
		color: rgb(165, 165, 166);
		font-size: 13px;
		font-weight: 400;
		line-height: 16px;
		list-style: none;

		li {
			margin-bottom: 8px;
		}

		span {
			color: rgb(0, 0, 0);
		}

	}

	&__desc {}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 16px;
	}

	&__articul {
		color: rgb(165, 165, 166);
		font-size: 13px;
		font-weight: 400;
		line-height: 1;

		span {
			color: rgb(0, 0, 0);
		}

	}

	&__row {
		margin-bottom: 45px;
		position: relative;
	}

	&__price {
		color: rgb(0, 0, 0);
		font-size: 18px;
		font-weight: 500;
		font-size: 16px;
	}

	&__buy {
		padding: 0 55px;
	}

	&__info {
		color: rgb(49, 182, 75);
		font-size: 13px;
		font-weight: 400;
		position: absolute;
		left: 7px;
		top: 50px;
	}

	&__line {
		border-bottom: 1px solid rgb(243, 243, 243);
		margin-bottom: 20px;
	}

	&__utilities {
		margin-bottom: 24px;
	}

	&__smtitle {
		color: rgb(0, 0, 0);
		font-size: 16px;
		font-weight: 500;
		margin-bottom: 8px;
	}

	&__text {
		color: rgb(0, 0, 0);
		font-size: 13px;
		font-weight: 400;
		line-height: 20px;
	}

	@media (--phone) {

		&__item {
			padding: 16px;
		}

		&__photo {
			margin-bottom: 16px;
		}

		&__name {
			margin-bottom: 8px;
		}

		&__namelink {
			font-size: 14px;
			line-height: 1.71;
		}

		&__list {
			font-size: 10px;
		}

		&__buy {
			float: right;
			padding: 0 30px;
		}

		&__price {
			font-size: 14px;
		}

		&__info {
			top: 42px;
		}

		&__smtitle {
			font-size: 14px;
			line-height: 1.29;
		}

		&__text {
			font-size: 10px;
			line-height: 2;
		}

		&__utilities {
			margin-bottom: 16px;
		}

	}

}