.catalog-list
	each i in [1, 2]
		.catalog-list__item
			.row.align-items-stretch
				.col-sm-4
					.catalog-list__photo
						a.catalog-list__link(href="#")
							img.catalog-list__pic.lazyload(data-src="images/catalog-list__pic1.jpg")
				.col-sm-4
					.catalog-list__middle
						.catalog-list__middle-top
							.catalog-list__name
								a.catalog-list__namelink(href="#") Стиральная машина Miele PW            6080 Vario LP RU
							- var ulArray = [ "Тип: <span>отдельностоящий</span>", "Вид: <span>холодильник с морозильником</span>", "Высота (см): <span>151</span>", "Ширина (см): <span>60</span>", "Количество камер: <span>1</span>", "Дверной упор: <span>справа</span>", "Зона свежести: <span>Да</span>" ]

							ul.catalog-list__list
								each val in ulArray
									li !{val}
						.catalog-list__middle-bottom
							include /benefits/benefits-product/benefits-product
				.col-sm-4
					.catalog-list__desc
						.catalog-list__header
							.available В наличии
							.catalog-list__articul Артикул: <span>146-9713</span>
						.row.catalog-list__row.align-items-center
							.col-6.col-sm-5
								.catalog-list__price 488 000 #[span руб.]
							.col-6.col-sm-7
								a.button-buy.catalog-list__buy(href="#") Купить 
						.catalog-list__line
						.row.catalog-list__utilities.align-items-center
							.col-6.col-sm-5
								a.button-compare.active(href="#")
									span.button-compare__icon
									span.button-compare__text В сравнении
							.col-6.col-sm-7
								a.button-favorite.active(href="#")
									span.button-favorite__icon
									span.button-favorite__text В избранном
						.catalog-list__text
							.catalog-list__smtitle Максимальное удобство эксплуатации
							| Модель Miele PW 6080 Vario LP RU предназначена для профессиональной стирки. Возможность подключения кассового аппарата и выбора пакета специальных программ из 15 вариантов позволяют адаптировать модель к условиям вашего бизнеса.
	.catalog__title Популярные стиральные машины
	each i in [1, 2, 3, 4, 5]
		.catalog-list__item
			.row.align-items-stretch
				.col-sm-4
					.catalog-list__photo
						a.catalog-list__link(href="#")
							img.catalog-list__pic.lazyload(data-src="images/catalog-list__pic1.jpg")
				.col-sm-4
					.catalog-list__middle
						.catalog-list__middle-top
							.catalog-list__name
								a.catalog-list__namelink(href="#") Стиральная машина Miele PW            6080 Vario LP RU
							- var ulArray = [ "Тип: <span>отдельностоящий</span>", "Вид: <span>холодильник с морозильником</span>", "Высота (см): <span>151</span>", "Ширина (см): <span>60</span>", "Количество камер: <span>1</span>", "Дверной упор: <span>справа</span>", "Зона свежести: <span>Да</span>" ]

							ul.catalog-list__list
								each val in ulArray
									li !{val}
						.catalog-list__middle-bottom
							include /benefits/benefits-product/benefits-product
				.col-sm-4
					.catalog-list__desc
						.catalog-list__header
							.available В наличии
							.catalog-list__articul Артикул: <span>146-9713</span>
						.row.catalog-list__row.align-items-center
							.col-6.col-sm-5
								.catalog-list__price 488 000 #[span руб.]
							.col-6.col-sm-7
								a.button-buy.catalog-list__buy(href="#") Купить 
							.catalog-list__info Бесплатная доставка и подключение
						.catalog-list__line
						.row.catalog-list__utilities.align-items-center
							.col-6.col-sm-5
								a.button-compare.active(href="#")
									span.button-compare__icon
									span.button-compare__text В сравнении
							.col-6.col-sm-7
								a.button-favorite.active(href="#")
									span.button-favorite__icon
									span.button-favorite__text В избранном
						.catalog-list__text
							.catalog-list__smtitle Максимальное удобство эксплуатации
							| Модель Miele PW 6080 Vario LP RU предназначена для профессиональной стирки. Возможность подключения кассового аппарата и выбора пакета специальных программ из 15 вариантов позволяют адаптировать модель к условиям вашего бизнеса.