.contact {
	margin-bottom: 70px;

	&__row {
		margin-bottom: 7px;
	}

	&__field {
		margin-bottom: 36px;
		line-height: 22px;
	}

	&__smtitle {
		color: #2e2e2e;
		margin-bottom: 7px;
		font-size: 16px;
		font-weight: 500;
		line-height: 24px;
	}

	&__phone {
		color: #2e2e2e;
	}

	&__text {
		line-height: 27px;
	}

	&__line {
		border: 1px solid #e2e2e2;
		margin-bottom: 30px;
	}

	&__title {
		color: #2e2e2e;
		margin-bottom: 28px;
		font-size: 20px;
		font-weight: 500;
		line-height: 24px;

		&_bottom {
			margin-bottom: 15px;
		}
	}

	&__msg {
		margin-bottom: 20px !important;
	}
	@media (--phone) {
		margin-bottom: 38px;

		&__form {
			margin-bottom: 33px !important;
		}

		&__field {
			margin-bottom: 16px;
		}

		&__title {
			font-size: 18px;
			margin-bottom: 24px;
			line-height: 22px;
		}

		&__checkbox {
			margin-bottom: 24px;
		}
	}
}