.email-info {
	color: rgb(0, 0, 0);
	padding-left: 25px;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	background: url("../images/email-info.svg") no-repeat left center;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	min-width: 20px;

	@media (--phone) {
		font-size: 10px;
		line-height: 16px;
	}
}