.news-article
	.news-article__banner
		img.news-article__pic.lazyload(data-src="images/news-article__pic.jpg", alt="")
	.news-article__header
		.news-article__header-col
			.icon-text.icon-text_gray Статья
			a.button-favorite
				span.button-favorite__icon
				span.button-favorite__text В избранное
		.news-article__header-col
			.news-article__date 26.10.2018
	.news-article__text
		
		.news-article__title Положите холодильник в карман 
		
		p Теперь вашим холодильником Liebherr можно управлять, не находясь рядом с ним. Вы сможете легко сделать это с помощью своего смартфона или планшета. Это стало возможным с новой технологией SmartDevice, обеспечивающей подключение холодильника к сети с помощью специального модуля. Модуль позволяет видеть сообщения о состоянии прибора, дистанционно изменять настройки или активировать нужные функции, получать оповещения об ошибках, например, если кто-то из ваших близких забыл закрыть дверцу холодильника. 

		p SmartDeviceBox — это новая эра в мире технологий холодильного оборудования. Liebherr FridgeCam делает холодильники и морозильники центром управления продуктами питания. Ко всему прочему интегрируемый модуль FridgeCam ™ (проще говоря, компактная видеокамера) будет присылать на смартфон или планшет изображения хранящихся продуктов.
		
		.news-article__picture
			img.lazyload(data-src="images/article_pic.jpg")
			
		.news-article__title Будущее разумной жизни
		
		p Приборами Liebherr с отметкой «SmartDevice» можно управлять с помощью компьютера или мобильного устройства благодаря модулю SmartDeviceBox, который можно заказать в качестве аксессуара. Некоторые модели уже имеют в комплекте модуль SmartDeviceBox, об этом свидетельствует буквенный индекс «i» в аббревиатуре прибора, например, #[a(href="#") KBi 4350].
			
		.news-article__title Инструкция по установке модуля SmartDeviceBox:  

		ol
			li
				div
					b Открыть упаковку
				| Откройте магнитную вкладку на упаковке аксессуара. Вложенный флаер предоставляет информацию о предварительных условиях использования SmartDeviceBox и дает представление о дополнительных сервисах и безопасности, к которым можно получить доступ с помощью технологии SmartDevice. Затем снимите прозрачную защиту и выньте SmartDeviceBox из упаковки. 
			li
				div
					b Вставить SmartDeviceBox 
				| Откройте панель за дверцей вашего прибора и вставьте SmartDeviceBox. Снимите крышку и закройте дверцу прибора. Выполните оставшиеся шаги с помощью сенсорного дисплея вашего устройства. 
			li
				div
					b Активируйте устройство
				| Синхронизируйте работу Liebherr и вашего гаджета следуя инструкции. 
			li
				div
					b Подключение и регистрация в приложении SmartDevice
				| Завершите подключение и регистрацию в приложении Liebherr SmartDevice. 
		
		.news-article__video
			img.lazyload(data-src="images/news-article__pic4.png", alt="")
			a.news-article__play(href="#")
			
		.news-article__title Три плюса системы SmartDevice:  

		ol
			li #[b SmarHomePlus]  — управление холодильником и дистанционное изменение настроек с помощью планшета или смартфона. Кроме того, данная система позволяет активировать многие настройки он-лайн еще до возвращения домой, например функцию SuperCool или SuperFrost.. 
			li #[b ServicePlus] — лучшее сервисное обслуживание. 
			li #[b SafetyPlus] — надежная защита персональных данных, которые хранятся на серверах Liebherr.


		include /swiper/swiper-large/swiper-large
				
				
		p «SmartDevice» позволяет вам активно управлять запасами и планировать более здоровый подход к питанию. В эпоху цифровых технологий холодильник становится центром современного ведения домохозяйства и образом жизни — необычайно умным и эффективным. 
		
		p Благодаря видеокамере вы всегда знаете какие продукты находятся в холодильнике и в каком количестве. Изображения в высоком разрешении помогают при походе в магазин избегать двойных покупок, чтобы предотвратить растрату продуктов питания и тем самым сэкономить деньги.

		.title.title_small Холодильники Liebherr
		include /catalog/catalog-thumb-small/catalog-thumb-small
		.swiper
			.swiper-container(data-swiper, data-options!={"slidesPerView": 5, "spaceBetween": 16, "breakpoints": { 768: {"slidesPerView": "auto", "spaceBetween": 20, "slidesPerGroup": 1}}})
				.swiper-wrapper
					each val in [1, 2]
						.swiper-slide
							+thumbSmall({
								footer: 'false',
								available: 'false',
								src:  'images/catalog-thumb-small__pic2.jpg'
							})
						.swiper-slide
							+thumbSmall({
								footer: 'false',
								available: 'false',
								src:  'images/catalog-thumb-small__pic2.jpg'
							})
						.swiper-slide
							+thumbSmall({
								footer: 'false',
								available: 'false',
								src:  'images/catalog-thumb-small__pic2.jpg'
							})
						.swiper-slide
							+thumbSmall({
								footer: 'false',
								available: 'false',
								src:  'images/catalog-thumb-small__pic2.jpg'
							})
			.swiper__arrow.swiper__arrow_right
				.swiper__prev.swiper__prev_round.swiper__bdrs.js-swiper__prev
				.swiper__next.swiper__next_round.swiper__bdrs.js-swiper__next

include /utilities/phone-content-large/phone-content-large
