.news-article {
	margin-bottom: 16px;

	&__banner {
		position: relative;
		margin-bottom: 24px;
	}

	&__pic {
		display: block;
		max-width: 100%;
		width: 100%;
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 24px;

		&-col {
			display: flex;
			align-items: center;
		}
	}

	&__date {
		color: rgb(165, 165, 166);
		font-size: 13px;
		font-weight: 400;
	}

	&__title {
		color: rgb(0, 0, 0);
		margin-bottom: 16px;
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
	}

	&__picture {
		margin-bottom: 24px;

		img {
			display: block;
			max-width: 100%;
			margin: 0 auto;
		}
	}

	&__text {
		color: rgb(0, 0, 0);
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;

		ul {
			color: rgb(221, 0, 22);
			margin-left: 15px;
			padding-left: 20px;

			li {
				padding-left: 10px;

				span {
					color: #000;
				}
			}
		}

		ol {
			padding: 0;
			counter-reset: section;
			list-style: none;
			margin-bottom: 24px;

			li {
				margin-bottom: 1rem;
				position: relative;
				padding-left: 50px;

				&:before {
					counter-increment: section;
					content: counter(section);
					color: rgb(221, 0, 22);
					font-size: 14px;
					font-weight: 900;
					position: absolute;
					left: 12px;
				}
			}
		}

		a {
			@include link();
		}
	}

	&__video {
		position: relative;
		margin-bottom: 24px;

		img {
			display: block;
			margin: 0 auto;
			max-width: 100%;
		}
	}

	&__play {
		left: 50%;
		top: 50%;
		margin-top: -32px;
		width: 64px;
		height: 64px;
		border-radius: 50%;
		margin-left: -32px;
		position: absolute;
		background: url("https://icongr.am/fontawesome/caret-right.svg?size=40&color=ffffff") rgba(26, 26, 26, .2) no-repeat 15px center;
	}

	@media (--phone) {

		&__header {
			margin-bottom: 16px;
		}

		&__date {
			font-size: 10px;
		}

		&__title {
			font-size: 14px;
			font-weight: 500;
			line-height: 1.29;
			margin-bottom: 4px;
		}

		&__text {
			font-size: 10px;
			line-height: 2;

			p {
				margin-bottom: 8px;
			}

			ul {
				color: rgb(221, 0, 22);
				margin-left: 15px;
				padding-left: 20px;

				li {
					padding-left: 10px;

					span {
						color: #000;
					}
				}
			}

			ol {
				padding: 0;
				counter-reset: section;
				list-style: none;
				margin-bottom: 16px;

				li {
					padding-left: 15px;
					margin-bottom: 8px;

					&:before {
						font-size: 10px;
						left: 0;
					}
				}
			}
		}

		&__video {
			margin-bottom: 16px;
		}
	}
}