.filter-choice
	.filter-choice__title Подборки
	.filter-choice__section
		.filter-choice__block
			a.filter-choice__item(href="#") Узкие холодильники до 55 см
			a.filter-choice__item(href="#") Широкие двухдверные холодильники
			a.filter-choice__item(href="#") Холодильники из Германии
			a.filter-choice__item(href="#") С ледогенератором
			a.filter-choice__item(href="#") С ледогенератором
			a.filter-choice__item(href="#") Широкие двухдверные холодильники
			a.filter-choice__item(href="#") Холодильники из Германии
		a.filter-choice__more(href="#") Еще подборки