.header-compare {
	position: absolute;
	right: 242px;
	top: 30px;
	display: flex;
	align-items: center;

	&__icon {
		background: url("../images/header-compare__icon.svg") no-repeat;
		width: 20px;
		height: 20px;
	}

	&.active &__icon,
	&:hover &__icon {
		background: url("../images/header-compare__icon_active.svg") no-repeat center;
	}

	&__text {
		color: #000000;
		font-size: 14px;
		font-weight: 500;
		margin-left: 8px;
	}

	&__link {
		@include posa();
	}
}