.header-search {
	&_button {
		height: 100%;
		min-width: 60px;
		background: svg-load('header-search.svg', fill='#ffffff') no-repeat center center;
		cursor: pointer;
		margin: 0 -20px 0 15px;
	}

	&_form {
		position: relative;
	}

	&__inner {
		position: absolute;
		left: -200%;
		top: 0;
		right: -200%;
		pointer-events: none;
		opacity: 0;
		transition: opacity 300ms;
		z-index: 10;

		&:before {
			position: absolute;
			left: 0;
			width: 100%;
			height: 5000px;
			background: rgba(0, 0, 0, .6);
			content: '';
			pointer-events: none;
		}
	}

	&.active &__inner {
		opacity: 1;
		pointer-events: auto;
	}

	&__section {
		position: relative;
		background-color: #101f37;
		padding: 18px 0 27px;
	}

	&__form {
		width: 700px;
		margin: 0 auto;
		display: block;
		position: relative;
	}

	&__input {
		height: 50px;
		border: none;
		border-bottom: 1px solid rgba(255, 255, 255, .1);
		color: #ffffff;
		text-align: center;
		font-size: 24px;
		width: 100%;
		background: none;
	}

	&__submit {
		position: absolute;
		right: 0;
		top: 0;
		width: 40px;
		height: 100%;
		border: none;
		background: none;
	}

	&__delete {
		opacity: 0;
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 20px;
		cursor: pointer;
		z-index: 2;
		transition: opacity 500ms;

		&:after,
		&:before {
			position: absolute;
			left: 50%;
			margin: -1px 0 0 -10px;
			top: 50%;
			height: 2px;
			width: 20px;
			background-color: #b0b0b0;
			content: '';
			transform-origin: 50% 50%;
		}

		&:before {
			transform: rotate(-45deg);
		}

		&:after {
			transform: rotate(45deg);
		}
	}

	&__input.full + &__delete {
		opacity: 1;
	}
	@media (--phone) {
		&_button {
			&_top {
				position: absolute;
				right: 71px;
				top: 50%;
				transform: translate(0, -50%);
				margin: 0;
				background: url("../images/header-search-mobile.svg") no-repeat center center;
			}
		}

		&__inner {
			left: 0;
			right: 0;
		}

		&__section {
			position: relative;
			background-color: #101f37;
			padding: 13px 16px;
		}

		&__form {
			width: 100%;
		}

		&__input {
			height: 40px;
			font-size: 16px;
			padding: 0 30px;
		}

		&__delete {
			&:after,
			&:before {
				margin: -1px 0 0 -7px;
				width: 14px;
			}
		}
	}
}