.header-city {
	position: absolute;
	left: 455px;
	top: 17px;

	&__button {
		span {
			color: #000000;
			font-size: 14px;
			font-weight: 400;
			border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
			position: relative;

			&:after {
				top: 50%;
				margin-top: -2px;
				right: -15px;
				content: '';
				position: absolute;
				@include css-triangle(bottom, #dd0016, 4px, 6px);
			}
		}
	}

	&__text {
		position: relative;

		&:before {
			left: -16px;
			top: 50%;
			margin-top: -4px;
			width: 8px;
			height: 8px;
			background-color: #dd0016;
			content: '';
			border-radius: 50%;
			position: absolute;
		}

		a {
			color: #000000;
			font-size: 11px;
			font-weight: 400;
			text-decoration: underline;
		}
	}
}