.header-phone {
	position: absolute;
	left: 24px;
	top: 18px;
	display: flex;

	&__item {
		margin-right: 30px;
		display: flex;
		align-items: flex-end;
		flex-direction: column;
	}

	&__tel {
		margin-bottom: 1px;

		a {
			color: #000000;
			font-size: 16px;
			font-weight: 500;

			span {
				font-weight: 400;
			}
		}
	}

	&__text {
		display: inline-block;
		border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
		line-height: 15px;
		color: #000000;
		font-size: 11px;
		font-weight: 400;
		cursor: pointer;
	}
}