.info-slide {
	margin-bottom: 60px;

	&__field {
		border: 1px solid rgb(238, 238, 238);
		background-color: rgb(255, 255, 255);
		margin-bottom: 18px;
		transition: all 500ms;

		&.active {
			border-color: #fff;
			box-shadow: 0 2px 25px rgba(0, 0, 0, 0.14);
			position: relative;
		}
	}

	&__button {
		color: rgb(46, 46, 46);
		cursor: pointer;
		font-size: 16px;
		font-weight: 500;
		line-height: 1;
		padding: 21px 20px 18px;
		position: relative;

		&:after {
			border-left: 4px solid transparent;
			border-right: 4px solid transparent;
			border-top: 5px solid rgb(0, 119, 255);
			content: '';
			position: absolute;
			right: 28px;
			top: 50%;
			transform: translate(0, -50%) rotate(0);
			transition: transform 500ms;
		}
	}

	&__desc {
		overflow: hidden;
		transition: max-height 500ms;
		max-height: 0;
		padding: 0 20px;
	}

	&__field.active &__button {
		color: rgb(0, 119, 255);

		&:after {
			transform: translate(0, -50%) rotate(-180deg);
		}
	}

	&__field.active &__desc {
		max-height: 1000px;
	}

	&__text {
		padding-bottom: 25px;
	}
	@media (--phone) {
		margin-bottom: 49px;

		&__field {
			margin-left: -16px;
			margin-right: -16px;
			border-left: none;
			border-right: none;
			padding-right: 16px;
			margin: 0 -16px -1px;
		}

		&__button {
			font-size: 14px;
			line-height: 24px;
			padding-top: 15px;
			padding-bottom: 15px;

			&:after {
				right: 12px;
			}
		}
	}
}