mixin swiperBanner(data)

	- var src = data.src || 'images/swiper-banner__pic1.jpg'
	- var src768 = data.src768 || 'images/swiper-banner__pic1_768w.jpg'
	- var title = data.title || 'Стиральные машины Asko'
	- var text = data.text || 'Стиральные машины Asko — эта вершина в производстве бытовой техники. Самое главное преимущество стиральных машин Asko заключается в использовании уникальных технологий!'
	- var button = data.button || 'Все стиральные машины Asko'
	- var videoButton = data.videoButton || 'show'

	.swiper-banner
		.swiper
			.swiper-container(data-swiper, data-options!={"slidesPerView": 1, "spaceBetween": 16})
				.swiper-wrapper
					each val in [1, 2, 3, 4]
						.swiper-slide
							.swiper-banner__item
								img.swiper-banner__pic.lazyload(data-srcset="" + src768 + " 768w, " + src + " 4000w", data-src="" + src + "")
								.swiper-banner__desc
									.swiper-banner__desc-top
										.swiper-banner__title !{title}
										.swiper-banner__text= text
									.swiper-banner__desc-bottom
										a.swiper-banner__button(href="#")= button
								if videoButton == 'show'
									a.swiper-banner__play(href="#")

			.swiper__arrow.swiper__arrow_banner
				.swiper__prev.swiper__prev_banner.js-swiper__prev 
				.swiper__next.swiper__next_banner.js-swiper__next
