.partners-list

	.title.title_small Партнеры ЖК
	
	include /combox/combox
	.partners-list__row
		.partners-list__col
			.partners-list__name Выберите город
		.partners-list__col
			+combox(['Москва и область', 'Москва и область'])
		.partners-list__col
			.partners-list__name Выберите ЖК партнера
		.partners-list__col
			+combox(['ЖК KnightsBridge', 'ЖК KnightsBridge'])
		
	.partners-list__text
		| #[b ЖК KnightsBridge] #[br] Жилой комплекс «Knightsbridge Private park» — это четыре жилых особняка, английский парк в 2 гектара и обширная инфраструктура.
		
	.partners-list__photos.row
		.col-sm-4
			a.partners-list__link.partners-list__link_fancybox(href="#")
				img.partners-list__pic.lazyload(data-src="images/parking_pic_1.jpg", alt="")
		.col-sm-4
			a.partners-list__link.partners-list__link_fancybox(href="#")
				img.partners-list__pic.lazyload(data-src="images/parking_pic_2.jpg", alt="")
		.col-sm-4
			a.partners-list__link.partners-list__link_fancybox(href="#")
				img.partners-list__pic.lazyload(data-src="images/parking_pic_3.jpg", alt="")
		.col-sm-4
			a.partners-list__link.partners-list__link_fancybox(href="#")
				img.partners-list__pic.lazyload(data-src="images/parking_pic_4.jpg", alt="")
		.col-sm-4
			a.partners-list__link.partners-list__link_fancybox(href="#")
				img.partners-list__pic.lazyload(data-src="images/parking_pic_5.jpg", alt="")
		.col-sm-4
			a.partners-list__link.partners-list__link_fancybox(href="#")
				img.partners-list__pic.lazyload(data-src="images/parking_pic_6.jpg", alt="")
