header.header
	.header__mobile
		.header__burger(data-burger)
			span
				i
				i
				i
				i
		a.header__logo
			img.lazyload(data-src="images/hausdorf_logo_mobile.svg")

		.header-phone-mobile
			.header-phone-mobile__icon(data-toggle-class)
			.header-phone-mobile__section
				.header-phone-mobile__item
					a.header-phone-mobile__tel(href="tel:+74956029621") +7 (495) 602-96-21
				.header-phone-mobile__item
					a.header-phone-mobile__tel(href="tel:+78003331052") +7 (800) 333-10-52

		.header__search.header__search_m.js-header__search
	.header__desktop#js-header__desktop
		.header__top
			.header__inner 

				.header__close(data-burger)
					span
						i
						i
				
				include /header/logo/global/logo 

				.header__section
					.header__section-top 

						.header-phone
							.header-phone__item
								.header-phone__tel
									a(href="tel:+74956029621")
										span +7 (495)
										| 602-96-21
								.header-phone__text Заказать обратный звонок

							.header-phone__item
								.header-phone__tel
									a(href="tel:+78003331052")
										span +7 (800)
										| 333-10-52
								.header-phone__text Время работы

						.header-city
							div(class='header-city__button', data-ajax, data-url='ajax/popup-city.html')
								span Москва
							.header-city__text
								a(href='#') Рублевское шоссе, д.52а

						.header-compare
							.header-compare__icon
							.header-compare__text 0
							a.header-compare__link(href="#")

						.header-favorite
							.header-favorite__icon
							.header-favorite__text 0
							a.header-favorite__link(href="#")

						.header-basket
							.header-basket__icon
							.header-basket__text 
								| В заказе
								| #[b 2] 
								| товара
							.header-basket__price 2 125 950 руб.
							a.header-basket__link(href="")
	
					.header__section-bottom
						.header__search.js-header__search Поиск

						include /menu/menu-header/menu-header

		.header__bottom
			.header__inner.header__inner_bottom
				.header__catalog
					.header__catalogshow(menu-dropdown, menu-mobile, data-body-class="menu-show") Каталог товаров

					include /menu/menu/menu

				.header__menu

					.header__brandshow(menu-mobile) Все бренды

					include /menu/menu-brand/menu-brand 

					include /menu/menu-brand-list/menu-brand-list
