<div class="popup-callback">
	<div class="popup__title">
		Заказать звонок
	</div>
	<!-- /.popup__title -->
	<div class="popup-callback__text">
		Наши менеджеры ответят вам<br>
		в течениии 30 мин
	</div>
	<!-- /.popup-callback__text -->

	{% from "checkbox/checkbox.njk" import checkbox %}
	<form action="#" class="form form_popup">
		<div class="form__field popup-callback__field">
			<input type="text" class="form__input" data-form-label value="" />
			<label class="form__label">
				Ваше имя
			</label>
		</div>
		<!-- /.form__field -->
		<div class="form__field popup-callback__field">
			<input type="tel" class="form__input" data-form-label value="" />
			<label class="form__label">
				Телефон
			</label>
		</div>
		<!-- /.form__field -->
		{{ checkbox(
			text='Согласен с <a href="#">использованием персональных данных</a> для обработки обращения',
			mod=' checkbox_oferta popup-callback__checkbox',
			attr=' checked'
		)}}
		<input type="submit" value="отправить" class="form__submit form__submit_border" />
	</form>
	<!-- /.form -->


</div>
<!-- /.popup-callback -->
