mixin search(trigger)
	.search
		form.search__form(action="")
			.search__section
				input.search__input(type="text", placeholder="Silly is mylove")
				input.search__submit(type="submit", value="")
		if trigger
			.search__result
				.search__text По вашему запросу «#[b Sicily is my love]» найдено:
				.search__menu
					include /menu/menu-content/menu-content
					+menuContent({})
		else
			.search__notfound
				| По вашему запросу «#[b Silly is mylove]» ничего не найдено. Попробуйте уточнить поиск или вернитесь нa #[a(href="#") главную страницу].

mixin searchBrand()
	.search.search_brand
		form.search__form(action="")
			.row.align-items-center
				.col-sm-2
					.search__text Выберите бренд:
				.col-sm-3
					include /combox/combox
					+combox()
				.col-sm-7
					.search__section.search__section_brand
						input.search__input(type="text", placeholder="или введите название...")
						input.search__submit(type="submit", value="")