.search {
	&_delivery {
		padding-top: 30px;
		margin-bottom: 59px;
	}

	&__section {
		position: relative;
		height: 40px;
		border-radius: 5px;
		box-shadow: inset 0 2px 5px 0 rgba(102, 113, 123, 0.1), inset 0 0 0 1px rgba(102, 113, 123, 0.25);
		background-color: #ffffff;
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;

		&_brand {
			margin-bottom: 0;
		}
	}

	&__input {
		font-size: 14px;
		font-weight: bold;
		line-height: 1.71;
		color: #000000;
		padding: 0 16px;
		border: none;
		background: none;
		width: calc(100% - 60px);

		&::placeholder {
			color: rgb(38, 38, 38);
		}
	}

	&__submit {
		background: url("../images/header-search.svg") no-repeat center center;
		width: 60px;
		height: 100%;
		border: none;
		cursor: pointer;
	}

	&__notfound {
		font-size: 16px;
		line-height: 1.88;
		color: #000000;

		b {
			font-weight: bold;
			color: var(--cherry);
		}

		a {
			@include link()
		}
	}

	&__result {
		display: flex;
		align-items: center;
		justify-content: space-between;

		b {
			font-weight: bold;
			color: var(--cherry);
		}
	}

	&__text {
		font-size: 16px;
		line-height: 1.88;
		color: #000000;
	}

	&__menu {
		display: flex;
		align-items: center;
	}

	@media (--phone) {
		&_delivery {
			padding-top: 90px;
			margin-bottom: 16px;
		}

		&__section {
			margin-bottom: 8px;

			&_brand {
				margin-bottom: 0;
			}
		}

		&__input {
			width: calc(100% - 40px);

			&::placeholder {}
		}

		&__submit {
			width: 40px;
		}

		&__notfound {
			font-size: 10px;
			line-height: 2;

			b {}

			a {}
		}

		&__result {
			flex-direction: column;
			align-items: flex-start;

			b {}
		}

		&__text {
			font-size: 10px;
			line-height: 2;
			margin-bottom: 8px;
		}

		&__menu {
			overflow-x: auto;
			@include scrollCss();
			width: 100%;
		}
	}
}