.filter {
	background-image: linear-gradient(180deg, rgb(36, 36, 36) 0%, rgb(0, 0, 0) 100%);
	padding: 16px 24px;
	line-height: 1;
	color: #fff;
	position: relative;

	.filter-wrap_inner & {
		margin: 0 -24px;
		border-radius: 0;
	}

	.filter-wrap_outside & {
		border-radius: 5px 5px 0 0;
	}

	&:before {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: url(../images/filter.svg) no-repeat;
		background-position: center 46px;
		content: ''
	}

	&__inner {}

	&__header {
		display: flex;
		justify-content: space-between;
		margin-bottom: 10px;
		height: 32px;
		align-items: center;
	}

	&__title {
		color: rgb(255, 255, 255);
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;

		span {
			color: rgb(165, 165, 166);
			font-size: 14px;
			font-weight: 500;
			margin-left: 16px;
		}

	}

	&__reset {
		width: 170px;
		height: 32px;
		border-radius: 24px;
		border: 1px solid rgb(215, 215, 215);
		color: rgb(255, 255, 255);
		text-align: center;
		font-size: 15px;
		font-weight: 500;
		background: none;
		position: absolute;
		right: 24px;
		top: 16px;
	}

	&__brandsrow {
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		margin-bottom: 30px;
	}

	&__brandscol {}

	&__brandsmore {
		width: 154px;
		height: calc(100% - 4px);
		border-radius: 5px;
		background-image: linear-gradient(to top, rgb(162, 162, 162) 0%, rgb(200, 200, 200) 100%);
		color: rgb(66, 66, 66);
		font-size: 12px;
		font-weight: 500;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		line-height: 1;

		&:after {
			content: '';
			display: block;
			position: relative;
			top: 1px;
			margin-left: 10px;
			margin-right: -10px;
			@include css-triangle(bottom, #878788, 7px, 9px);
		}

	}

	&__name {
		color: rgb(255, 255, 255);
		margin-bottom: 15px;
		font-size: 14px;
		font-weight: 700;
	}

	&__checkbox {
		margin-bottom: 10px;
	}

	&__field {
		display: flex;
		margin-bottom: 15px;
	}

	&__smname {
		color: rgb(255, 255, 255);
		font-size: 14px;
		font-weight: 700;
	}

	&__value {
		color: rgb(255, 255, 255);
		font-size: 14px;
		font-weight: 400;
		border-bottom: 1px dotted #fff;
		cursor: pointer;
		margin-left: 10px;
	}

	&__footer {
		display: flex;
		justify-content: center;
	}

	&__more {
		width: 206px;
		height: 32px;
		border-radius: 24px;
		border: 1px solid rgb(215, 215, 215);
		color: rgb(255, 255, 255);
		font-size: 15px;
		font-weight: 500;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	@media (--phone) {
		margin: 0 -16px;
		padding: 0;
		border-radius: 0 !important;

		&__header {
			height: 48px;
			padding: 0 16px;
			margin: 0;
			position: relative;

			&:after {
				position: absolute;
				right: 16px;
				top: 50%;
				content: '';
				@include css-triangle(bottom, var(--cherry), 6px, 10px);
				margin-top: -3px;
				transition: transform 400ms;
			}

			&.active:after {
				transform: rotate(-180deg);
			}

		}

		&__title {
			font-size: 14px;
			font-weight: 500;
			line-height: 1.29;

			span {
				font-size: 10px;
				margin-left: 16px;
			}
		}

		&__inner {
			overflow: hidden;
			max-height: 0;
			padding: 0 16px;
			position: relative;
			transition: max-height 400ms;
		}

		&__header.active+&__inner {
			max-height: 2000px;
		}

		&__brandsrow {
			display: flex;
			flex-direction: column;
			margin-bottom: 16px;
		}

		&__brandscol {
			width: 100%;
		}

		&__brandsmore {
			width: 100%;
			height: 32px;
		}

		&__name {
			font-size: 12px;
			margin-bottom: 8px;
			line-height: 16px;
			font-weight: 500;
		}

		&__column {
			margin-bottom: 24px;
		}

		&__smname {
			font-size: 12px;
			font-weight: 500;
		}

		&__footer {
			flex-direction: column;
			padding-bottom: 16px;
		}

		&__reset {
			position: static;
			width: 100%;
			margin-bottom: 8px;
			font-weight: 500;
		}

		&__more {
			width: 100%;
		}
	}
}