mixin filter(data)

	- var brands = data.brands || ''
	- var modelCount = data.modelCount || 'Выбрано 2 модели'

	.filter
		.filter__header(data-toggle-class)
			.filter__title Фильтр
				span= modelCount
		.filter__inner
			.filter__brandsrow
				.filter__brandscol
					.filter-brands
						include /filter/filter-brands/filter-brands
						if brands
							+filterBrands(brands)
						else
							+filterBrands()
				.filter__brandscol
					span.filter__brandsmore Другие бренды
			.row
				.col-sm-3
					.filter__name Цена, руб.

					include /filter/filter-slider/filter-slider
					+filterSlider()

				.col-sm-2
					.filter__column
						.filter__field
							.filter__smname Ширина
							.filter__value 30-50 см
						.filter__field
							.filter__smname Высота
							.filter__value Любая
						.filter__field
							.filter__smname Глубина
							.filter__value Любая
						
				.col-sm-3

					.filter__column
						.filter__name Функции

						include /form/checkbox/checkbox

						.filter__checkbox
							+checkbox({
								mod: 'checkbox_filter',
								text: 'защита от протечек'
							})
						.filter__checkbox
							+checkbox({
								mod: 'checkbox_filter',
								text: 'сушка',
								disabled: true
							})
						.filter__checkbox
							+checkbox({
								mod: 'checkbox_filter',
								text: 'интеллектуальное управление',
								disabled: true
							})
						.filter__checkbox
							+checkbox({
								mod: 'checkbox_filter',
								text: 'био-фаза',
								disabled: true
							})
				.col-sm-4
					.filter__name Цвет корпуса

					include /filter/filter-color/filter-color
					+filterColor()

			.filter__footer
				input.filter__reset(type="reset", value="Сбросить фильтр")
				.filter__more Показать еще
