.yandex-banner {
	position: relative;
	margin-bottom: 16px;

	&__inner {}

	&__pic {
		width: 100%;
		display: block;
	}

	&__desc {
		position: absolute;
		left: 24px;
		bottom: 40px;
	}

	&__title {
		color: rgb(255, 255, 255);
		font-size: 24px;
		font-weight: 500;
		line-height: 32px;
		margin-bottom: 24px;
	}

	&__text {
		color: rgb(255, 255, 255);
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		max-width: 740px;
		margin-bottom: 24px;
	}

	&__footer {
		display: flex;
		align-items: center;
	}

	&__ratetxt {
		color: rgb(255, 255, 255);
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
		margin-right: 16px;

		span {
			color: rgb(255, 0, 25);
			font-weight: 700;
			margin-left: 5px;
		}
	}

	&__rate {
		margin-right: 16px;
	}

	&__reviews {
		color: rgb(165, 165, 166);
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		margin-right: 48px;
	}

	&__button {
		@include button()
	}

	&__copyright {
		position: absolute;
		right: 24px;
		top: 10px;
		color: #a5a5a6;
		font-size: 12px;
		display: flex;
		align-items: center;

		img {
			display: block;
			margin-left: 16px;
		}
	}

	@media (--phone) {
		margin: 0 -16px 16px;
		padding-bottom: 24px;

		&__inner {}

		&__pic {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&__desc {
			position: relative;
			left: auto;
			top: auto;
			padding: 32px 16px 0;
			bottom: auto;
		}

		&__title {
			font-size: 16px;
			margin-bottom: 16px;
			line-height: 22px;
		}

		&__text {
			font-size: 10px;
			line-height: 2;
			margin-bottom: 16px;
		}

		&__footer {
			flex-wrap: wrap;
			margin-bottom: 16px;
		}

		&__ratetxt {
			font-size: 12px;
			margin-right: 8px;

			span {}
		}

		&__rate {
			margin-right: 16px;
		}

		&__reviews {
			font-size: 10px;
			margin: 0;
		}

		&__button {
			margin-top: 16px;
			width: 100%;
			padding: 0;
			font-size: 14px;
		}

		&__copyright {
			position: relative;
			flex-direction: column;
			align-items: center;
			top: auto;
			right: auto;

			img {
				display: block;
				margin: 0;
			}
		}
	}
}