.menu-footer
	- var data = require('./menu-footer.json')
	ul.menu-footer__list
		each val, i in data
			if i == 0 || i == 1
				li.menu-footer__field.menu-footer__field_select
					a(href='#', class='menu-footer__link')= val.title
			else
				li.menu-footer__field
					a(href='#', class='menu-footer__link')= val.title