.menu-footer {
	display: flex;
	justify-content: flex-end;
	margin-right: -11px;

	&__list {
		max-width: 420px;
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: flex-end;
		flex-wrap: wrap;
	}

	&__field {
		margin: 0 11px 11px;
	}

	&__link {
		font-size: 14px;
		text-align: right;
		color: #58585a;
	}

	&__field_select &__link {
		color: #000;
	}

	@media (--phone) {
		justify-content: center;
		margin: 0;

		&__field {
			width: 50%;
			margin: 0 0 10px;

			&_select {
				width: 100%;
				text-align: center;
				padding-left: 0 !important;
			}
		}

		&__field_select:nth-child(2) &__link {
			color: var(--cherry);
		}

		&__field:nth-child(2n) {
			padding-left: 25px;
		}
	}
}