.benefits-main
	.benefits-main__title
		.title.title_small.title_center Ключевые преимущества Hausdorf
	.benefits-main__toptext
		| Hausdorf — эксперт в мире бытовой техники бизнес- и премиум-классов. Представляем коллекцию подборки брендов бытовой техники заслуживающих ваше внимание. Наши специалисты расскажут об особенностях, отличиях и преимуществах каждого из них, продемонстрируют разницу и предложат оптимальный вариант, отвечающий вашим потребностям. Качество помнят еще долго после того, как забывается цена.
		
	.benefits-main__row
		.benefits-main__col
			.benefits-main__photo
				img.benefits-main__picture.lazyload(data-src="images/benefits-main__picture.png", alt="")
		.benefits-main__col
			.benefits-main__desc
				.benefits-main__name Мальцев Иван
				.benefits-main__infotext Генеральный директор бутика Hausdorf
				
	.benefits-main__line

	.benefits-main__minfo Преимущества кликабельны
	
	.benefits-main__section.row
		each val, i in ['БЕСПЛАТНАЯ ДОСТАВКА', 'БЕСПЛАТНОЕ ПОДКЛЮЧЕНИЕ', 'БЕСПЛАТНОЕ ХРАНЕНИЕ', 'ЛЕГКИЙ ОБМЕН И ВОЗВРАТ', 'ОФИЦИАЛЬНАЯ ГАРАНТИЯ', 'ВЫЗОВ МЕНЕДЖЕРА НА ОБЪЕКТ', 'ЛУЧШИЕ СПЕЦИАЛИСТЫ', 'ОФИЦИАЛЬНЫЙ ДИЛЕР МНОГИХ БРЕНДОВ', 'ШИРОКИЙ АССОРТИМЕНТ', 'ШОУ-РУМ В ТЦ', 'АКЦИИ И СКИДКИ', 'ПОСТПРОДАЖНАЯ ПОДДЕРЖКА', 'ДЕТИ И ФУТБОЛ', 'СПЕЦУСЛОВИЯ ДЛЯ ЖК И ПАРТНЕРОВ', 'СОТРУДНИЧЕСТВО С ДИЗАЙНЕРАМИ', 'ПОЛНАЯ КОНФИДЕНЦИАЛЬНОСТЬ']
			.col-6.col-sm-3
				.benefits-main__item
					.benefits-main__icon
						img.benefits-main__pic.lazyload(data-src="images/benefits-main__pic" + (i + 1) + ".svg", alt="")
					.benefits-main__text= val
					a.benefits-main__link(href="#")
