.news {
	&_item {
		margin-bottom: 24px;
	}

	&__row {
		display: flex;
		align-items: center;
		border-radius: 5px;
		overflow: hidden;
		background-color: #ffffff;
		margin-bottom: 16px;
	}

	&__photo {
		width: 345px;
		padding-right: 16px;
	}

	&__link {
		text-decoration: none;
	}

	&__pic {
		text-decoration: none;
	}

	&__desc {
		padding: 24px;
	}

	&__title {
		font-size: 18px;
		font-weight: 500;
		line-height: 1.33;
		color: #000000;
		margin-bottom: 16px;
	}

	&__titlelink {
		color: #000000;
		text-decoration: none;
		display: inline-flex;
		align-items: center;

		&:after {
			content: '';
			display: inline-block;
			margin-left: 16px;
			@include css-triangle(right, var(--cherry), 10px, 8px);
		}
	}

	&__middle {
		display: flex;
		align-items: center;
		margin-bottom: 16px;
	}

	&__info {
		height: 24px;
		border-radius: 8px;
		background-color: var(--pale-grey);
		display: flex;
		align-items: center;
		line-height: 1;
		font-size: 12px;
		text-align: center;
		color: var(--slate-grey);
		padding: 0 24px;
		margin-right: 24px;

		&.active {
			background-color: #ff001f;
			color: #fff;
		}
	}

	&__date {
		font-size: 13px;
		color: var(--bluey-grey);
		margin-left: 20px;
	}

	&__text {
		font-size: 14px;
		line-height: 1.71;
		color: #000000;
	}

	&__footer {
		padding-top: 16px;
		display: flex;
		align-items: center;
	}

	&__smtxt {
		font-size: 14px;
		line-height: 1.71;
		color: var(--slate-grey);
		margin-right: 10px;
	}

	&__counter {}

	@media (--phone) {

		&_item {

			.row {
				flex-wrap: nowrap;
				overflow-x: auto;
				@include scrollCss();

				[class*=col-] {
					min-width: 272px;
				}
			}
		}

		&__row {
			margin: 0 -16px 16px;
			flex-direction: column;
			border-radius: 0;
		}

		&__photo {
			width: 100%;
			padding-right: 0;
		}

		&__link {}

		&__pic {
			display: block;
			width: 100%;
		}

		&__desc {
			padding: 16px;
		}

		&__title {
			margin-bottom: 8px;
			font-size: 14px;
			font-weight: 500;
			line-height: 1.29;
		}

		&__titlelink {


			&:after {}
		}

		&__middle {
			justify-content: space-between;
		}

		&__info {
			margin-right: 0;

			&.active {}
		}

		&__date {
			font-size: 10px;
			margin-left: 0;
			line-height: 2;
		}

		&__text {
			font-size: 10px;
			line-height: 2;
		}

		&__footer {
			flex-direction: column;
			align-items: flex-start;
		}

		&__smtxt {
			font-size: 10px;
			line-height: 2;
			margin-bottom: 4px;
		}

		&__counter {
			width: 100%;
		}
	}
}