mixin news(data)

	- var title = data.title || 'Чем отличаются серии стиральных машин BoschG'
	- var text = data.text || 'Оригинальный дизайн, высокая функциональность, передовые технологии и непревзойденное качество стиральной машины Miele PW 5065 идеально позиционируют модель как элитную технику для людей, не желающих мириться с компромиссами.'
	- var footer = data.footer || false
	- var photo = data.photo || false
	- var src = data.src || 'images/news1.jpg'
	- var favorite = data.favorite || false
	- var action = data.action || 'Статья'
	- var actionCls = data.actionCls || ''

	.news__row
		if photo
			.news__photo
				a.news__link(href="#")
					img.news__pic.lazyload(data-src="" + src + "", alt="") 
		.news__desc
			.news__title
				a.news__titlelink(href="#")= title
			.news__middle
				.news__info(class="" + actionCls + "")= action
				if favorite
					a.button-favorite.active
						span.button-favorite__icon
						span.button-favorite__text В избранном
				else 
					a.button-favorite
						span.button-favorite__icon
						span.button-favorite__text В избранное
				.news__date 26.10.2018
			.news__text= text
			if footer
				.news__footer
					.news__smtxt До конца акции осталось:
					.news__counter
						include /news/news-counter/news-counter
						+newCounter() 
