mixin bread(data)
	
	- var items = data.items || ''
	- var text = data.text || ''
	- var arr = [ "Стиральные машины", "Сушильные машины", "Посудомоечные машины", "Холодильники", "Варочные панели", "Духовые шкафы", "Вытяжки", "Микроволновые печи", "Кофемашины" ]
	
	.breadcrumbs
		ul.breadcrumbs__list
			li.breadcrumbs__item
				a.breadcrumbs__link(href="#")
			if items
				each val in items
					if val.mod
						li.breadcrumbs__item.breadcrumbs__item_sub
							a.breadcrumbs__link(href="#")
								span= val.item
							if val.submenu
								.breadcrumbs-sub
									ul.breadcrumbs-sub__list
										each i in arr
											li.breadcrumbs-sub__item
												a.breadcrumbs-sub__link(href="#")= i
					else
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#")
								span= val.item
			if text
				li.breadcrumbs__item
					span.breadcrumbs__text= text
