mixin contactForm(cls)

	- var cls = cls || ''
	
	.contact-form(class="" + cls)
		.contact-form__inner
			.row
				.col-sm-6
				
					.contact-form__title
						| Реквизиты
						
					.contact-form__section
					
						.contact-form__name ООО «Хаусдорф» 
						
						.contact-form__field #[span ИНН] 9723040280      #[span КПП] 772301001      #[span ОГРН] 5177746395547 
							
						.contact-form__field #[span Адрес места нахождения:] #[br] 121609, г. Москва, Рублевское шоссе, дом 52А, ТЦ "Западный" 
							
						.contact-form__field #[span Почтовый адрес:] 121609, г. Москва, а/я 38, Рублевское шоссе, дом 52А 
							
						.contact-form__field #[span Расчетный счет:] 40702810133030000125 
							
						.contact-form__field #[span Наименование Банка:] #[br] ФИЛИАЛ № 7701 БАНКА ВТБ (ПАО) БИК Банка 044525745 
						
						.contact-form__field #[span Корреспондентский счёт:] #[br] 30101810345250000745 в ГУ БАНКА РОССИИ ПО ЦФО г. МОСКВА
						
				.col-sm-6
				
					.contact-form__form
					
						.contact-form__title
							| Обратная связь
						
						include /form/form
						.form
							.row
								.col-12
									+input({
										label: 'Ваше имя'
									})
								.col-sm-6
									+input({
										label: 'E-mail',
										type: 'email'
									})
								.col-sm-6
									+input({
										label: '+7(_ _ _) _ _ _ - _ _ - _ _',
										type: 'tel'
									})
								.col-12
									+textarea({
										label: 'Ваш вопрос'
										})

							.row.align-items-center
								.col-sm-8
									+checkbox({
										checked: true
									})
								.col-sm-4
									+submit()
