.contact-form {
	&_bg {
		box-shadow: inset 0 1px 0 rgb(255, 255, 255);
		border-radius: 5px;
		background-color: rgb(255, 255, 255);
		padding: 24px 24px 35px;
	}

	&__inner {}

	&__title {
		color: rgb(0, 0, 0);
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
		margin-bottom: 24px;
	}

	&__section {
		margin-top: -5px;
	}

	&__field {
		margin-bottom: 16px;
		color: rgb(0, 0, 0);
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;

		span {
			color: rgb(165, 165, 166);
		}
	}

	&__name {
		color: rgb(0, 0, 0);
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		margin-bottom: 16px;
	}

	&__form {}

	@media (--phone) {

		&_bg {
			margin: 0 -16px 16px;
			padding: 16px;
			border-radius: 0;
		}

		&__title {
			font-size: 14px;
			font-weight: 500;
			line-height: 1.29;
			margin-bottom: 8px;
		}

		&__name {
			font-size: 10px;
			line-height: 2;
		}

		&__field {
			font-size: 10px;
			line-height: 2;
			margin-bottom: 8px;

			span {
				color: #000000;
			}
		}
	}
}