<div class="popup-city">
	<div class="popup__title">
		Выберите город
	</div>
	<!-- /.popup__title -->

	<form action="#">
		<div class="popup-city__header">
			<a href="#" class="popup-city__bigcity">Москва</a>
			<a href="#" class="popup-city__bigcity">Санкт-Петербург</a>
		</div>
		<!-- /.popup-city__header -->
		<div class="popup-city__section">
			<div class="popup-city__field">
				<a href="#" class="popup-city__link">Екатеринбург</a>
			</div>
			<!-- /.popup-city__field -->
			<div class="popup-city__field">
				<a href="#" class="popup-city__link">Омск</a>
			</div>
			<!-- /.popup-city__field -->
			<div class="popup-city__field">
				<a href="#" class="popup-city__link">Уфа</a>
			</div>
			<!-- /.popup-city__field -->
			<div class="popup-city__field">
				<a href="#" class="popup-city__link">Краснодар</a>
			</div>
			<!-- /.popup-city__field -->
			<div class="popup-city__field">
				<a href="#" class="popup-city__link">Ростов-на-Дону</a>
			</div>
			<!-- /.popup-city__field -->
			<div class="popup-city__field">
				<a href="#" class="popup-city__link">Ярославль</a>
			</div>
			<!-- /.popup-city__field -->
			<div class="popup-city__field">
				<a href="#" class="popup-city__link">Новосибирск</a>
			</div>
			<!-- /.popup-city__field -->
			<div class="popup-city__field">
				<a href="#" class="popup-city__link">Самара</a>
			</div>
			<!-- /.popup-city__field -->
		</div>
		<!-- /.popup-city__section -->
		<div class="popup-city__text">Город</div>
		<!-- /.popup-city__text -->

		{% from "combox/combox.njk" import combox %}

		<div class="row">
			<div class="col-sm-8">
				{{ combox(option='Москва и Область') }}
			</div>
			<!-- /.col-sm-8 -->
			<div class="col-sm-4">
				<input type="submit" value="Выбрать" class="popup-city__submit" />
			</div>
			<!-- /.col-sm-4 -->
		</div>
		<!-- /.row -->

	</form>

</div>
<!-- /.popup-callback -->
