mixin phoneContent(data)
	.phone-content
		.phone-content__title Если у вас остались вопросы: 
		.phone-content__row
			.phone-content__item 
				.phone-content__text Звоните: (бесплатно)
				a.phone-content__link(href="#") +7 (800) 333-10-52
			.phone-content__item 
				.phone-content__text Пишите:
				a.phone-content__link(href="#") client@hausdorf.ru 
			.phone-content__icon
