.phone-content {
	width: 450px;
	border-radius: 5px;
	background-color: rgb(245, 247, 250);
	margin-bottom: 24px;
	padding: 16px 24px;
	position: relative;

	&__title {
		color: rgb(0, 0, 0);
		margin-bottom: 8px;
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
	}

	&__row {
		display: flex;
	}

	&__item {
		margin-right: 24px;
	}

	&__text {
		color: rgb(120, 120, 120);
		font-size: 11px;
		font-weight: 400;
		line-height: 24px;
	}

	&__link {
		color: rgb(221, 0, 22);
		font-size: 16px;
		font-weight: 700;
		line-height: 24px;
	}

	&__icon {
		position: absolute;
		top: 17px;
		right: 24px;
		background: url("../images/phone-content__icon.svg") no-repeat;
		width: 78px;
		height: 71px;
		content: '';
	}

	@media (--phone) {
		width: calc(100% + 32px);
		margin: 0 -16px 16px;
		padding: 16px;

		&__title {
			font-size: 14px;
			font-weight: 500;
			line-height: 1.29;
			margin-bottom: 8px;
		}

		&__row {
			justify-content: space-between;
		}

		&__item {
			margin: 0;
			padding: 0;
		}

		&__text {
			font-size: 9px;
			line-height: 1.6;
			margin-bottom: 0;
		}

		&__link {
			font-size: 12px;
			font-weight: bold;
			line-height: 1;
		}

		&__icon {
			display: none;
		}
	}
}