.catalog-thumb {
	height: calc(100% - 14px);
	background-color: #ffffff;
	transition: box-shadow 400ms;
	padding: 16px 16px 24px;
	margin-bottom: 14px;
	border-radius: 5px;

	&:hover {
		box-shadow: 0 2px 25px rgba(0, 0, 0, 0.14);
	}

	&__label {}

	&__photo {
		height: 190px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 -20px 24px;
	}

	&__link {
		display: block;
	}

	&__pic {
		max-height: 180px;
		max-width: 100%;
	}

	&__title {
		margin-bottom: 10px;
		line-height: 1.71;
	}

	&__titlelink {
		font-size: 14px;
		color: #000000;

		span {
			display: block;
		}
	}

	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&_utility {
			padding-top: 16px;
		}
	}

	&__col {}

	&__price {
		font-size: 14px;
		font-weight: 500;
		color: #000000;

		span {
			font-size: 14px;
		}
	}

	@media (--phone) {
		height: calc(100% - 16px);
		margin-bottom: 16px;
	}
}