mixin thumb(data)
	
	- var name = data.name || '<span>Холодильник</span> Smeg FAB28LUJ1'
	- var src = data.src || 'images/catalog-thumb__pic1.jpg'
	- var price = data.price || '139 390 ' 
	- var compare = data.compare || false
	- var favorite = data.favorite || false
	- var label = data.label || false
	- var labelItemsText = data.labelItemsText || [ 'Скидка 20%' ]
	- var footer = data.footer || 'show'
	- var available = data.available || 'show'

	.catalog-thumb
 	
		if label
			.label
				each val in labelItemsText
					.label__item
						.label__text= val
		.catalog-thumb__photo
			a.catalog-thumb__link(href='#')
				img.catalog-thumb__pic.lazyload(data-src='' + src + '', alt='')
		.catalog-thumb__title(data-mh='catalog-thumb-name')
			a.catalog-thumb__titlelink(href='#') !{name}
		if available == 'show'
			.available В наличии
		.catalog-thumb__footer
			.catalog-thumb__col
				.catalog-thumb__price
					=price 
					span руб.
			.catalog-thumb__col
				a.button-buy.catalog-thumb__buy(href='#') Купить
		if footer == 'show'
			.catalog-thumb__footer.catalog-thumb__footer_utility
				.catalog-thumb__col
					if compare
						a.button-compare.active(href="#")
							span.button-compare__icon
							span.button-compare__text В сравнении
					else
						a.button-compare(href="#")
							span.button-compare__icon
							span.button-compare__text Сравнить
				.catalog-thumb__col
					if favorite
						a.button-favorite.active(href="#")
							span.button-favorite__icon
							span.button-favorite__text В избранном
					else 
						a.button-favorite(href="#")
							span.button-favorite__icon
							span.button-favorite__text В избранное
