.benefits-product

	- var arr = ['benefits-product__pic1.svg', 'benefits-product__pic2.svg', 'benefits-product__pic3.svg', 'benefits-product__pic4.svg', 'benefits-product__pic5.svg']
	each val in arr
		.benefits-product__item
			img.benefits-product__pic.lazyload(data-src="images/" + val + "")