@custom-media --phone (width <=768px);
@custom-media --desk (width > 768px);

@mixin buttonBlue($bgc:rgb(0, 39, 117),
$bgr:no-repeat,
$c:#fff,
$bd:none,
$bxsh:none,
$fz:12px,
$tt:uppercase,
$fw:500,
$p:0 42px,
$bdrs:4px,
$h:46px,
$lh:1,
$d:inline-flex,
$bgc-h:rgb(0, 39, 117), $c-h:#fff, $w:auto, $ai:center, $jc:center, $bxsh-h:none, $m:0, $lts:0, $ff:inherit) {
	& {
		background-color: $bgc;
		background-repeat: $bgr;
		color: $c;
		box-shadow: $bxsh;
		text-decoration: none;
		font-size: $fz;
		font-weight: $fw;
		text-transform: $tt;
		padding: $p;
		margin: $m;
		border-radius: $bdrs;
		line-height: $lh;
		height: $h;
		display: $d;
		align-items: $ai;
		justify-content: $jc;
		border: $bd;
		font-family: $ff;
		cursor: pointer;
		width: $w;
		letter-spacing: $lts;
		transition: all 400ms;

		&:hover {
			background-color: $bgc-h;
			color: $c-h;
			box-shadow: $bxsh-h;
			text-decoration: none;
		}

	}

}

//
@mixin button($bgc:#fff, $bgr:no-repeat, $bgi:linear-gradient(to top, #a90011 0%, #dd0016 100%),
$c:#fff,
$bd:none,
$bxsh:none,
$fz:15px,
$tt:inherit,
$fw:400,
$p:0 30px,
$bdrs:5px,
$h:40px,
$lh:1,
$d:inline-flex,
$bgc-h:#fff,
$c-h:#fff,
$w:auto,
$ai:center,
$jc:center,
$bxsh-h:none,
$m:0,
$lts:0,
$ff:'Roboto',
$bgi-h:linear-gradient(to bottom, #a90011 0%, #dd0016 100%)) {
	& {
		background-color: $bgc;
		background-repeat: $bgr;
		background-image: $bgi;
		color: $c;
		box-shadow: $bxsh;
		text-decoration: none;
		font-size: $fz;
		font-weight: $fw;
		text-transform: $tt;
		padding: $p;
		margin: $m;
		border-radius: $bdrs;
		line-height: $lh;
		height: $h;
		display: $d;
		align-items: $ai;
		justify-content: $jc;
		border: $bd;
		cursor: pointer;
		width: $w;
		letter-spacing: $lts;
		transition: all 400ms;

		&:hover {
			background-color: $bgc-h;
			background-image: $bgi-h;
			color: $c-h;
			box-shadow: $bxsh-h;
			text-decoration: none;
		}

	}

}

//
@mixin link($c:rgba(221, 0, 22, 0.1)) {
	text-decoration: none;
	border-bottom: 1px solid $c;
	transition: all 400ms;

	&:hover {
		text-decoration: none;
		border-bottom-color: transparent;
	}

}

//
@mixin justify($margin-bottom:-25px) {
	& {
		text-align: justify;
		margin-bottom: $margin-bottom;

		&:after {
			display: inline-block;
			content: '';
			width: 100%;
		}

	}

}

//
@mixin posa() {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

//
@mixin scrollCss() {
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
}

// CSS Triangles Mixin
@mixin css-triangle($direction, $color, $height, $width) {
	// Base styles for all triangles
	border-style: solid;
	height: 0;
	width: 0;

	// Cardinal Directions - can't be scalene this way
	@if($direction=='top') {
		border-color: transparent transparent $color transparent;
		border-width: 0 ($width/2) $height ($width/2);
	}

	@if ($direction=='bottom') {
		border-color: $color transparent transparent transparent;
		border-width: $height ($width/2) 0 ($width/2);
	}

	@if ($direction=='right') {
		border-color: transparent transparent transparent $color;
		border-width: ($height/2) 0 ($height/2) $width;
	}

	@if ($direction=='left') {
		border-color: transparent $color transparent transparent;
		border-width: ($height/2) $width ($height/2) 0;
	}

	// Ordinal Directions - can be scalene this way!
	@if ($direction=='top-left') {
		border-color: $color transparent transparent transparent;
		border-width: $height $width 0 0;
	}

	@if ($direction=='top-right') {
		border-color: transparent $color transparent transparent;
		border-width: 0 $width $height 0;
	}

	@if ($direction=='bottom-left') {
		border-color: transparent transparent transparent $color;
		border-width: $height 0 0 $width;
	}

	@if ($direction=='bottom-right') {
		border-color: transparent transparent $color transparent;
		border-width: 0 0 $height $width;
	}

}

//
//
@mixin row($v) {
	.row {
		margin-left: $v * (-1);
		margin-right: $v * (-1);

		[class*=col-] {
			padding-left: $v;
			padding-right: $v;
		}

	}

}