.detail {
	border-radius: 5px;
	background-color: #ffffff;
	position: relative;
	padding: 18px 24px 24px;

	&__articul {
		color: #a5a5a6;
		font-size: 13px;
		font-weight: 400;
		position: absolute;
		right: 7px;
		top: -40px;

		span {
			color: #000000;
		}
	}

	&__title {
		color: #000000;
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
		margin-bottom: 24px;
	}

	&__desc {
		margin: 0 0 32px -20px;
	}

	&__titlesmall {
		color: #000000;
		font-size: 16px;
		font-weight: 500;
		margin-bottom: 16px;
	}

	&__label {
		margin-bottom: 32px;
	}

	&__row {
		margin-bottom: 16px;

		&_buttons {
			margin-bottom: 24px;
		}
	}

	&__available {
		display: flex;
		align-items: center;
		margin-bottom: 8px;
	}

	&__date {
		color: #000000;
		font-size: 13px;
		font-weight: 400;
		margin-left: 24px;
	}

	&__price {
		color: #000000;
		font-size: 24px;
		font-weight: 400;
		line-height: 28px;

		&-old {
			color: #a5a5a6;
			font-size: 14px;
			font-weight: 400;
			line-height: 24px;
			text-decoration: line-through;
		}
	}

	&__utilities {
		display: flex;
		justify-content: space-between;
	}

	&__buy {
		width: 100%;
	}

	&__oneclick {
		height: 40px;
		border-radius: 24px;
		border: 1px solid #d7d7d7;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #58585a;
		font-size: 15px;
		font-weight: 400;
		line-height: 1;
	}

	&__line {
		background: #f3f3f3;
		height: 1px;
		margin-bottom: 24px;

		&_top {
			margin-bottom: 16px;
		}
	}

	&__btnpopup {
		height: 48px;
		border-radius: 5px;
		border: 1px solid #d7d7d7;
		background-color: #ffffff;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		line-height: 1;
		color: #000000;
		font-size: 14px;
		font-weight: 400;
		text-transform: uppercase;
		margin-bottom: 24px;

		span {
			border-bottom: 1px dotted;
			position: relative;

			&:before {
				position: absolute;
				left: -37px;
				width: 21px;
				height: 24px;
				top: 50%;
				transform: translate(0, -50%);
				background: url("../images/detail__btnpopup.svg") no-repeat;
				content: '';
			}
		}
	}

	&__files {
		margin-bottom: 32px;
	}

	&__section {
		&_top {
			background-color: #f3f3f3;
			padding: 24px;
			margin: 0 -24px 24px;
		}

		&_bottom {
			border-radius: 0 0 5px 5px;
			background-color: #f3f3f3;
			margin: 0 -24px -24px;
			padding: 24px;
		}
	}

	@media (--phone) {
		margin: 0 -16px 16px;
		padding: 8px 16px 16px;
		border-radius: 0;

		&__title {
			font-size: 14px;
			font-weight: 500;
			line-height: 1.29;
			margin-bottom: 8px;
		}

		&__top {
			position: relative;
			padding-bottom: 55px;

			[class*=col-] {
				position: static;
			}
		}

		&__titlesmall {
			font-size: 12px;
			margin-bottom: 8px;
		}

		&__articul {
			position: static;
			margin-bottom: 8px;
		}

		&__label {
			margin-bottom: 16px;
		}

		&__available {
			margin-bottom: 0;
		}

		&__price {
			margin-bottom: 16px;
			display: flex;
			justify-content: space-between;
			align-items: baseline;
		}

		&__buy {
			height: 40px;
			margin-bottom: 16px;
		}

		&__line {
			display: none;
		}

		&__btnpopup {
			font-size: 12px;
			margin-bottom: 16px;
			display: flex;
			align-items: center;

			&:before {
				width: 21px;
				height: 24px;
				background: url("../images/detail__btnpopup.svg") no-repeat;
				content: '';
				margin-right: 8px;
			}

			span {

				&:before {
					display: none;
				}
			}
		}

		&__date {
			font-size: 10px;
			right: 0;
			bottom: 16px;
			position: absolute;
		}

		&__desc {
			margin: 0;
		}

		&__files {
			margin-bottom: 16px;
		}

		&__section {
			&_bottom {
				padding: 16px;
				margin: 0 -16px -16px;
				border-radius: 0;
			}
		}
	}
}