.brand-history {
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	padding: 24px;

	&__menu {
		margin: 0 -3px 14px;
		display: flex;
		flex-wrap: wrap;
	}

	&__link {
		width: 132px;
		height: 53px;
		border-radius: 8px;
		background-color: rgb(245, 247, 250);
		display: flex;
		align-items: center;
		justify-content: center;
		line-height: 1;
		margin: 0 3px 10px;
		color: rgb(0, 0, 0);
		font-size: 18px;
		font-weight: 500;
		cursor: pointer;

		&.active,
		&:hover {
			background-image: linear-gradient(to top, rgb(139, 139, 139) 0%, rgb(184, 184, 184) 100%);
			color: rgb(255, 255, 255);
		}
	}

	&__title {
		color: rgb(0, 0, 0);
		margin-bottom: 16px;
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
	}

	&__section {
		padding-bottom: 13px;
		border-bottom: 1px solid rgb(216, 216, 216);
		margin-bottom: 24px;
		display: flex;
	}

	&__photo {
		margin-right: 24px;
	}

	&__pic {
		display: block;
	}

	&__desc {
		padding-top: 24px;
	}

	&__year {
		margin-bottom: 16px;
		color: rgb(0, 0, 0);
		font-size: 16px;
		font-weight: 500;
	}

	&__picture {
		margin-bottom: 24px;

		img {
			max-width: 100%;
			display: block;
		}
	}

	&__video {
		position: relative;
		margin-bottom: 24px;

		img {
			display: block;
			margin: 0 auto;
		}
	}

	&__play {
		left: 50%;
		top: 50%;
		margin-top: -32px;
		width: 64px;
		height: 64px;
		border-radius: 50%;
		margin-left: -32px;
		position: absolute;
		background: url("https://icongr.am/fontawesome/caret-right.svg?size=40&color=ffffff") rgba(26, 26, 26, .2) no-repeat 15px center;
	}

	&__list {
		padding-left: 0;
		margin-left: 12px;
		list-style: none;
		margin-bottom: 24px;

		li {
			margin-bottom: 16px;
		}
	}

	@media (--phone) {
		padding: 16px;
		margin: 0 -16px 16px;
		border-radius: 0;
		font-size: 10px;
		line-height: 2;

		&__menu {
			margin-bottom: 16px;
			overflow-x: auto;
			flex-wrap: nowrap;
			@include scrollCss();
		}

		&__link {
			width: auto;
			padding: 0 16px;
			height: 32px;
			margin-bottom: 0;
			flex-shrink: 0;
		}

		&__section {
			flex-direction: column;
			margin-bottom: 16px;
			padding-bottom: 8px;
		}

		&__photo {
			margin: 0 0 16px;

			img {
				margin: 0 auto;
				display: block;
			}
		}

		&__desc {
			padding-top: 0;
			padding-bottom: 0;
		}

		p,
		ul,
		ol {
			margin-bottom: 8px;
		}

		img {
			max-width: 100%;
		}

		&__title {
			font-size: 14px;
			font-weight: 500;
			line-height: 1.29;
			margin-bottom: 4px;
		}

		&__year {
			line-height: 1.29;
			font-size: 12px;
			margin-bottom: 8px;
		}
	}
}