.brand-history

	.brand-history__title История Smeg
	
	.brand-history__menu(data-tabs)
		each val, i in ['1948', '1955', '1963', '1970', '1971', '1977', '1985', '1991', '1995', '1997', '2008', '2010', '2012', '2014/2015']
			a.brand-history__link(data-hash='#js-tabs-' + i, data-tabs-children) !{val}

	.tabs
		each val, i in ['1948', '1955', '1963', '1970', '1971', '1977', '1985', '1991', '1995', '1997', '2008', '2010', '2012', '2014/2015']
			.tabs__inner(id="js-tabs-" + i)
				
				.brand-history__section
					.brand-history__photo
						img.brand-history__pic.lazyload(data-src="images/brand-history__pic.jpg", alt="")
					.brand-history__desc
						.brand-history__year 1948
						p Основана компания Smeg в небольшом итальянском городке Гуасталла. Italia Independent и корпорация Смег создали джинсовый холодильник — Smeg FAB28RDB. В этом же году создан уникальный продукт — мини-бар SMEG500.

				.brand-history__title Итальянское превосходство 
				
				p Smeg — известный итальянский бренд, на протяжении 60 лет помогающий людям во всем мире заботится о доме. Эта техника создается с акцентом на качество, надежность, дизайн и экологические показатели. На практике это означает, что перед каждой отправкой партии продукции с завода проводится проверка каждой единицы товара. 
				
				p Ремонт приборов скандинавской фирмы — явление настолько редкое, что владельцы техники этого бренда даже не знают о существовании сервисных центров бренда. И такие типичные проблемы стиральных машин, как: прибор не сливает отработанную воду и зависает; при любой программе стирки вода не греется — стирка происходит в холодной воде; люк не закрывается совсем или не блокируется; барабан не вращается или делает это слишком медленно — не знакомы обладателям бытовой техники данной фирмы.
				
				p Вся бытовая техника аско, изготовленная на заводах бренда, создается с соблюдением критериев экономного потребления воды и электроэнергии и длительного срока службы. Все продукты для кухни и по уходу за бельем по истечении срока службы подлежат вторичной переработке и имеют соответствующую маркировку.
				
				.brand-history__picture
					img.lazyload(data-src="images/brand-history__pic2.png", alt="")
					
				.brand-history__title Итальянское превосходство 
				
				p Становление компании, широко признанной во всем мире в сфере дизайна бытовой техники.
				.brand-history__picture
					img.lazyload(data-src="images/brand-history__pic3.png", alt="")
					
				p Эволюция бренда:
				
				ul.brand-history__list
					li
						b 1948 
						| — Основана компания Smeg в небольшом итальянском городке Гуасталла. 
					li
						b 1955 
						| — Компанией выпущена первая газовая плита серии Elizabeth, оснащенная автоматическим поджигом, таймером и газ-контролем. 
					li
						b 1963 
						| — Презентация первой модели стиральной машины коллекции Leda. 
					li
						b 1970 
						| — Революция на рынке посудомоечных машин — премьера посудомоечной машины , вместимостью на 14 комплектов посуды. 
					li
						b 1971 
						| —Начало серийного производства встраиваемых духовых шкафов и варочных панелей, которые стали визитной карточкой итальянского бренда. 
					li
						b 1977 
						| — Заключен контракт на спонсорство с легендарным пилотом Ferrari . В этом же году известный дизайнер Франко Мария Риччи создал логотип торговой марки. 
					li
						b 1985 
						| — Совместно с итальянским архитектором Гуидо Канали была разработана продуктовая линейка Classica, которая известна использованием нержавеющей стали с особой стилистической строгостью. 
					li
						b 1991 
						| — Выпуск новой линии техники Contemporanea. 
					li
						b 1995 
						| — Начало сотрудничества с архитектором Рензо Пьяно, которое способствовало появлению неповторимых варочных панелей, духовых шкафов,
					li
						b холо 
						|дильников и домашней оранжереи. 
					li
						b 1997 
						| — Свет увидели яркие и эксклюзивные холодильники коллекции FAB. 
					li
						b 2008 
						| — Юбилейный год для компании — 60 лет — принес компании премию Wallpaper design award за совместную работу с дизайнером Марком Ньюсоном. 
					li
						b 2010 
						| — Варочная поверхность и духовой шкаф серии Linea получили престижную награду Good Design award. 
					li
						b 2012 
						| — Italia Independent и корпорация Смег создали уникальный продукт — джинсовый холодильник —  FAB28RDB. В этом же году создан уникальный продукт — мини-бар SMEG500. 
					li
						b 2014/2015 
						| — Малая бытовая техника Смег в ретро-стиле. Коллекция получила награды: Red Dot Design Award и Good Design Award. 	
				.brand-history__title Непревзойденное качество приборов, проверенное временем 
				
				p Инновационные технологии, продуманный дизайн и исключительно лучшие материалы — неотъемлемые качества продукции итальянского бренда. Официальный сайт предлагает ознакомиться со всеми существующими коллекциями, материалами, из которых изготовлены приборы, и прочитать отзывы покупателей по всему миру. 
				
				.brand-history__video
					img.lazyload(data-src="images/brand-history__pic4.png", alt="")
					a.brand-history__play(href="#")

				p Все приборы проходят строгий контроль на этапе производства, отвечают самым строгим стандартам качества и безопасности. 
				
				p Надежность техники бренда не вызывает сомнений. Покупая эту технику, будьте уверены — она вам прослужит долгие годы. Тем не менее, по всему миру функционируют сервисные центры, в которые каждый пользователь может обратиться с вопросом по технике, ее функционалу, гарантии или подключению. 
				
				p В бутике Hausdorf вы можете купить приборы по привлекательной цене и заказать доставку в удобное для вас время.
