.filter-color {
	line-height: 1;
	display: flex;
	flex-wrap: wrap;
	margin: 0 -8px 30px;

	&__item {
		padding: 0 8px;
		margin-bottom: 16px;
	}

	&__label {
		position: relative;
		width: 32px;
		height: 32px;
		border-radius: 2px;
		border: 1px solid rgb(215, 215, 215);
		margin: 0;
	}

	&__input {
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0;
	}

	&__icon {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;

		&:before {
			position: absolute;
			width: 100%;
			height: 100%;
			transform: scale(0);
			top: 0;
			left: 0;
			transition: transform 200ms;
			background: url("https://icongr.am/clarity/check.svg?size=20&color=cccccc") no-repeat center center;
			content: '';
		}

	}

	&__input:checked+&__icon {
		box-shadow: 0 0 0 2px rgb(221, 0, 22);
		border-radius: 2px;

		&:before {
			transform: scale(1);
		}

	}

	@media (--phone) {
		margin: 0 -5px 24px;

		&__item {
			padding: 0 5px;
			margin-bottom: 10px;
		}
	}

}