mixin filterColor()

	- var data = [	"background-color: rgb(75, 80, 90);", "background-image: linear-gradient(180deg, rgb(180, 236, 81) 0%, rgb(66, 147, 33) 100%);", "background-image: linear-gradient(180deg, rgb(245, 81, 95) 0%, rgb(159, 4, 27) 100%);", "background-image: linear-gradient(225deg, rgb(75, 28, 255) 0%, rgb(176, 30, 255) 100%);", "background-color: rgb(0, 0, 0);", "background-color: rgb(255, 255, 255);", "background-color: rgb(208, 2, 27);", "background-image: linear-gradient(180deg, rgb(36, 36, 36) 0%, rgb(0, 0, 0) 100%);", "background-color: rgb(0, 122, 255);", "background-image: linear-gradient(to top, rgb(162, 162, 162) 0%, rgb(200, 200, 200) 100%);", "background-color: rgb(139, 87, 42);" ]

	.filter-color
		each val in data
			.filter-color__item
				label.filter-color__label(style="" + val + "")
					input.filter-color__input(type="checkbox")
					span.filter-color__icon