.reviews-header {
	&__row {
		display: flex;
	}

	&__col {
		width: 60%;

		&:first-child {
			width: 40%;
			padding-right: 66px;
			border-right: 1px solid rgb(243, 243, 243);
		}

		&:last-child {
			padding-left: 66px;
		}
	}

	&__title {
		margin-bottom: 24px;
		display: flex;
		align-items: center;
		line-height: 1;
	}

	&__titletxt {
		margin-right: 16px;
		color: rgb(0, 0, 0);
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;

		span {
			color: rgb(221, 0, 22);
			font-weight: 700;
			margin-left: 5px;
		}
	}

	&__back {
		width: 100%;
		height: 40px;
		border-radius: 8px;
		border: 1px solid rgb(215, 215, 215);
		background-color: rgb(255, 255, 255);
		color: rgb(0, 0, 0);
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 14px;
		font-weight: 500;
	}

	&__section {
		display: flex;
		align-items: center;
		margin-bottom: 24px;
	}

	&__text {
		color: rgb(0, 0, 0);
		font-size: 16px;
		font-weight: 400;
		line-height: 30px;
		margin-right: 24px;
	}

	&__list {
		display: flex;
		align-items: center;

		a {
			color: rgb(88, 88, 90);
			font-size: 16px;
			font-weight: 400;
			margin-right: 34px;
			position: relative;

			&:after {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				content: '';
				border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
			}

			&:last-child {
				margin-right: 0;
			}

			&.active {
				font-weight: 500;

				&:after {
					display: none;
				}
			}
		}
	}

	&__cell {
		display: inline-block;
		margin-right: 40px;

		&:last-child {
			margin-right: 0;
		}
	}

	@media (--phone) {
		&__row {
			flex-direction: column;
		}

		&__col {
			width: 100% !important;
			padding: 0 !important;
			border: none !important;
		}

		&__title {
			margin-bottom: 8px;
		}

		&__titletxt {
			font-size: 12px;
			margin-right: 8px;

			span {}
		}

		&__back {
			margin-bottom: 16px;
		}

		&__section {
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			margin-bottom: 16px;
		}

		&__text {
			font-size: 10px;
			line-height: 2;
			margin: 0;
		}

		&__list {
			display: flex;
			justify-content: space-between;
			width: 100%;

			a {
				margin: 0;
				font-size: 14px;

				&:after {}

				&:last-child {}

				&.active {


					&:after {}
				}
			}
		}

		.tabs-menu__xslink {
			display: none;
		}

		&__cell {
			display: block;
			margin: 0 0 8px;

			&:last-child {}
		}
	}
}