mixin reviewsHeader(data)

	- var back = data.back || 'Вернуться на страницу бренда'
	.reviews-header
		.reviews-header__row
			.reviews-header__col
				.reviews-header__title
					.reviews-header__titletxt Средняя оценка
						span 5
					.ratings.ratings_output
						.ratings__section
							.ratings__start
							.ratings__click(style='width: 80%;')
						.ratings__total 50 отзывов
				.reviews-header__back= back
			.reviews-header__col
				.reviews-header__section
					.reviews-header__text Отзывы с оценкой:
					.reviews-header__list(data-tabs)
						a(href="#", data-hash="#js-tabs-1", data-tabs-children) Любой
						a(href="#", data-hash="#js-tabs-2", data-tabs-children) Положительные
						a(href="#", data-hash="#js-tabs-3", data-tabs-children) Отрицательные
				.tabs
					.tabs__inner(id="js-tabs-1") 
						.reviews-header__cell
							.ratings.ratings_output
								.ratings__section
									.ratings__start
									.ratings__click(style='width: 100%;')
								.ratings__total.ratings__total_bottom
									b 50% 
									| 25 отзывов
						.reviews-header__cell
							.ratings.ratings_output
								.ratings__section
									.ratings__start
									.ratings__click(style='width: 80%;')
								.ratings__total.ratings__total_bottom
									b 28%
									| 13 отзывов
						.reviews-header__cell
							.ratings.ratings_output
								.ratings__section
									.ratings__start
									.ratings__click(style='width: 60%;')
								.ratings__total.ratings__total_bottom
									b 22% 
									| 12 отзывов
					.tabs__inner(id="js-tabs-2")
						.reviews-header__cell
							.ratings.ratings_output
								.ratings__section
									.ratings__start
									.ratings__click(style='width: 100%;')
								.ratings__total.ratings__total_bottom
									b 50% 
									| 25 отзывов
						.reviews-header__cell
							.ratings.ratings_output
								.ratings__section
									.ratings__start
									.ratings__click(style='width: 80%;')
								.ratings__total.ratings__total_bottom
									b 28%
									| 13 отзывов
						.reviews-header__cell
							.ratings.ratings_output
								.ratings__section
									.ratings__start
									.ratings__click(style='width: 60%;')
								.ratings__total.ratings__total_bottom
									b 22% 
									| 12 отзывов			
					.tabs__inner(id="js-tabs-3")
						.reviews-header__cell
							.ratings.ratings_output
								.ratings__section
									.ratings__start
									.ratings__click(style='width: 100%;')
								.ratings__total.ratings__total_bottom
									b 50% 
									| 25 отзывов
						.reviews-header__cell
							.ratings.ratings_output
								.ratings__section
									.ratings__start
									.ratings__click(style='width: 80%;')
								.ratings__total.ratings__total_bottom
									b 28%
									| 13 отзывов
						.reviews-header__cell
							.ratings.ratings_output
								.ratings__section
									.ratings__start
									.ratings__click(style='width: 60%;')
								.ratings__total.ratings__total_bottom
									b 22% 
									| 12 отзывов
