.wrapper {
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	min-height: 100%;
	min-width: 1200px;
	padding-bottom: 476px;
	background: #d7d7d7;

	@media (--phone) {
		min-width: 320px;
		padding-bottom: 415px;
		padding-top: 48px;
		transition: transform 400ms;

		body.menu-open & {
			transform: translate(100%, 0);
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
		}
	}
}