.brand-section
	.brand-section__more(data-toggle-class) Smeg
	.brand-section__inner
		.brand-section__row
			each val in [1, 2, 3, 4]
				.brand-section__col
					.brand-section__item
						.brand-section__photo
							img.brand-section__pic.lazyload(data-src="images/brand-section__pic1.png", alt="")
						.brand-section__desc
							.brand-section__name Холодильники Smeg
							.brand-section__price от 35 090 до 943 990 руб.
				.brand-section__col
					.brand-section__item
						.brand-section__photo
							img.brand-section__pic.lazyload(data-src="images/brand-section__pic2.png", alt="")
						.brand-section__desc
							.brand-section__name Винные шкафы Smeg
							.brand-section__price от 184 290 до 916 990 руб.
				.brand-section__col
					.brand-section__item
						.brand-section__photo
							img.brand-section__pic.lazyload(data-src="images/brand-section__pic3.png", alt="")
						.brand-section__desc
							.brand-section__name Стиральные машины Smeg
							.brand-section__price от 65 890 до 120 390 руб.
				.brand-section__col
					.brand-section__item
						.brand-section__photo
							img.brand-section__pic.lazyload(data-src="images/brand-section__pic4.png", alt="")
						.brand-section__desc
							.brand-section__name Сушильные машины Smeg
				.brand-section__col
					.brand-section__item
						.brand-section__photo
							img.brand-section__pic.lazyload(data-src="images/brand-section__pic5.png", alt="")
						.brand-section__desc
							.brand-section__name Варочные панели Smeg
							.brand-section__price от 30 290 до 200 590 руб.
